
{% extends "./base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'translatex/stylesheets/all_products.css' %}">
{% endblock %}

{% block content %}

  <div class="wrapper">

    <div>
      {% for item in products %}
        <a target="_blank" href="/translatex/sp/{{ item.id }}">
          <div
            style="background-image:url({{ item.amazon_product.medium_image_url }})"
           class="item">
            <span class="status status-{{item.status}}">{{ item.get_status_display }}</span>
            <br>
            <span class="status status-{{item.status}}">{{ item.assignee|default_if_none:"-" }}</span>
          </div>
        </a>
      {% endfor %}
    </div>


    <div class="pagination">
      <div class="step-links">
          {% if products.has_previous %}
              <a class="link" href="?page={{ products.previous_page_number }}&u={{request.GET.u}}&status={{request.GET.status}}">&laquo; Trang Trước</a>
          {% endif %}

          <span class="current">
              {{ products.number }} / {{ products.paginator.num_pages }}
          </span>

          {% if products.has_next %}
              <a class="link" href="?page={{ products.next_page_number }}&u={{request.GET.u}}&status={{request.GET.status}}">Trang Tiếp &raquo;</a>
          {% endif %}
      </div>
  </div>

  </div>

{% endblock %}
