<!doctype html>
<html lang="vi">
    <head>
       <meta charset="utf-8">
       <title>PTP - Betonavi Product Translation Platform</title>
       <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {% load staticfiles %}

        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'translatex/stylesheets/animate.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'translatex/stylesheets/common.css' %}">
        <link rel="stylesheet" href="{% static 'translatex/font-awesome/css/font-awesome.min.css' %}">

        {% block css %}
        {% endblock %}

    </head>
    <body >
        <div id="header">
          <a class="logo" href="/translatex">Product Translation Platform (PTP)</a>

          <p class="link">
            <a class="{% if tab == 1 %} active {% endif %}" href="/translatex/">Danh sách</a>
            <a class="{% if tab == 2 %} active {% endif %}" href="/translatex/guide">Hướng dẫn</a>
            <a class="{% if tab == 3 %} active {% endif %}" href="/translatex/billings">Thanh Toán</a>

            {% if request.user.is_staff %}
            <a class="{% if tab == 4 %} active {% endif %}" href="/translatex/members">CTV Dịch</a>
            {% endif %}
          </p>

          <div class="user-tools">
            <span id="bell" class="bell">
              <i class="fa fa-bell" aria-hidden="true"></i>
              <span class="dot"></span>
            </span>

            Hi, {{ request.user.username }}

            &nbsp;

            <a href="https://betonavi.com/accounts/logout/">logout</a>
          </div>
        </div>

        {% if request.user.is_staff %}
          {% verbatim %}
          <div id="onlineStatus">
              <div class="item" v-for="user in onlineUsers">
                <span class="abbr">{{ user.abbr }}</span>
                <span class="username">{{ user.username }}</span>
              </div>
          </div>
          {% endverbatim %}
        {% endif %}

        {% if maintenance %}
        <div id="systemNotification"
          style="padding: 20px; text-align: center; font-size: 1.3em;background: red; color: white;"
        >
          Hệ thống đang cập nhật!
          <br>
          PTP tạm ngừng dịch sản phẩm. Admin sẽ thông báo cho biên dịch viên sau khi hoàn tất.
        </div>
        {% endif %}


        {% block content %}
        {% endblock %}

        <div id="notification">
          <span class="title">NOTIFICATION CENTER</span>
          <ul>
            {% for item in request.notifications %}
            <li>
              <a href="/translatex/sp/{{item.product.id}}"><span>{{ item.message }}. </span></a>
              <time class="timeago" datetime="{{item.created_at|date:"c"}}">{{item.created_at}}</time>
            </li>
            {% endfor %}
            <li>
              <span>Chào mừng bạn đến với Platform dịch sản phẩm của Betonavi. </span>
            </li>

          </ul>
        </div>

        <script type="text/javascript" src="{% static 'translatex/bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'translatex/bower_components/jquery-timeago/jquery.timeago.js' %}"></script>
        <script type="text/javascript" src="{% static 'translatex/bower_components/vue/dist/vue.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'translatex/js/common.js' %}"></script>

        {% block js %}
        {% endblock %}

    </body>
</html>
