
{% extends "./base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block content %}


    <div class="wrapper">

      <h1>Billing</h1>

      <hr>

      <h3>Tháng {{ month }}, {{ year}}</h3>

      <table id="ticket_list">
        <thead>
          <tr>
            <td>username</td>
            <td>email</td>
            <td># Được giao</td>
            <td># Hoàn tất</td>
            <td>Đánh giá (Avg)</td>
            <td>Số tiền tích luỹ</td>
          </tr>
        </thead>
        <tbody>
          {% for item in translators %}
          <tr>
            <td>
              {% if request.user.is_staff %}
                <a href="{% url 'translatex_list' %}?u={{item.user.username}}">{{ item.user.username }}</a>
              {% else %}
                {{ item.user.username }}
              {% endif %}
            </td>
            <td>{{ item.user.email }}</td>
            <td>{{ item.producttranslation_set.all|length }}</td>
            <td>{{ item.translated_num_in_month }}</td>
            <td>{{ item.rating_avg_in_month|default_if_none:"-" }} / 5</td>
            <td> <span class="price">{{ item.charge_amount_in_month|default_if_none:"-"|intcomma }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if history %}
      {% for month in history %}
        <h3>Tháng {{ month.0.month }}, {{ month.0.year }}</h3>

        <table id="ticket_list">
          <thead>
            <tr>
              <td>username</td>
              <td>month</td>
              <td>paid</td>
              <td>Số tiền</td>
              <td>Bonus</td>
            </tr>
          </thead>
          <tbody>
            {% for item in month %}
            <tr>
              <td>
                  {{ item.translator.fullname }}
              </td>
              <td>{{item.year}}/{{item.month}}</td>
              <td>{% if item.is_paid %} ✅ {% else %} - {% endif %}</td>
              <td> <span class="price">{{ item.charge_amount|default_if_none:"-"|intcomma }}</span></td>
              <td> <span class="price">{{ item.bonus|default_if_none:"-"|intcomma }}</span></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
      {% endif %}


    </div>

{% endblock %}
