
{% extends "./base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block content %}
<script>
function goBack() {
    window.history.back();
}
</script>

<div class="wrapper" id="detail_page">
  <p>
    <a href="javascript:void(0)" onclick="goBack()">Go Back</a>
  </p>
  {% if request.user.is_staff and product.similar_product_count > 0 %}
    <div id="similars">
      <h3>Similar products</h3>

      <div class="item current">
        <div class="image"
            style="background-image: url({{ product.amazon_product.medium_image_url }})"></div>
        <div class="name">{{ product.amazon_product.title }}</div>
        <div class="status status-{{ product.status}}">{{ product.get_status_display }}</div>
        {% if product.assignee %}
          <div class="assignee">{{ product.assignee.user.username }}</div>
        {% endif %}
      </div>

      {% for item in product.similar_products %}
        <a target="_blank" href="/translatex/sp/{{item.id}}">
          <div class="item">
            <div class="image"
                style="background-image: url({{ item.amazon_product.medium_image_url }})"></div>
            <div class="name">{{ item.amazon_product.title }}</div>
            <div class="status status-{{item.status}}">{{ item.get_status_display }}</div>

            {% if item.assignee %}
              <div class="assignee">{{ item.assignee.user.username }}</div>
            {% endif %}
          </div>
        </a>
      {% endfor %}
    </div>
  {% endif %}



  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}


  <h2>#{{product.id}} - {{ product.amazon_product.title }}</h2>

  <div id="control">

    {% if not request.user.is_staff %}
    <div class="translator">
      {% if product.status is None or product.status < 3 or product.status == 10 %}
      <form action="/translatex/sp/{{ product.id }}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="type" value="status" >
        {{ status_form }}

        {% if not maintenance %}
        <button class="btn" type="submit">Lưu lại</button>
        {% endif %}
      </form>
      {% else %}
        <label for="id_status">Trạng thái:</label>
        <span class="status status-{{product.status}}">
          {{ product.get_status_display }}
        </span>
      {% endif %}
    </div>
    {% else %}
    <div class="reviewer">
      <form action="/translatex/sp/{{ product.id }}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="type" value="review" >
        {{ review_form }}

        <p class="estimate">
          <span>Ước lượng chi phí: </span>
          <span class="price">{{ product.estimate }} đ</span>
        </p>

        {% if not maintenance %}
        <button class="btn" type="submit">Lưu lại</button>
        {% endif %}
      </form>
    </div>
    {% endif %}

  </div>

  <div id="reference">
    <form  action="/translatex/sp/{{ product.id }}" method="POST">
      <input type="hidden" name="type" value="edit" >
      {% csrf_token %}
      {{ edit_form }}

      {% if not maintenance %}
      <button class="btn" type="submit">Lưu lại</button>
      {% endif %}
    </form>

    <div class="links">
      <a target="_blank" href="https://www.amazon.co.jp/dp/{{product.amazon_product.asin}}">
        link amazon <i class="fa fa-external-link" aria-hidden="true"></i>
      </a>

      {% if product.amazon_product and product.amazon_product.product %}
      <a target="_blank" href="https://betonavi.com/dp/{{product.amazon_product.asin}}">
        link betonavi <i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
      {% endif %}
    </div>

  </div>


  <div class="editor" id="editor">
    <div class="row edit">
      <h1>Nhập nội dung</h1>
      <form class="" action="/translatex/sp/{{ product.id }}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="type" value="content" >

        {{ content_form }}


        {% if not maintenance %}
        <div class="center">
          {% if product.status == 3 or product.status == 4 %}
            <input type="submit" name="" class="btn" value="Lưu Bài" disabled="true">
          {% else %}
            <input type="submit" name="" class="btn" value="Lưu Bài">
          {% endif %}
        </div>
        {% endif %}


      </form>
    </div>
    <div class="row preview">
      <h1>Preview</h1>
      <div class="pv_label">Tên sản phẩm</div>
      <h3 id="pv_vn_name"></h3>

      <div class="pv_label">Giới thiệu</div>
      <div id="pv_vn_introduction" class=""></div>

      <div class="pv_label">Mô tả</div>
      <div id="pv_vn_description" class=""></div>

      <div class="pv_label">Cách sử dụng</div>
      <div id="pv_vn_usage" class=""></div>

      <div class="pv_label">Chú ý</div>
      <div id="pv_vn_notice" class=""></div>
    </div>
  </div>


  <div id="comment">

    <h3>Comments</h3>

    <form  action="/translatex/sp/{{ product.id }}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="type" value="comment" >
      <textarea name="message" id="id_message" required="" rows="6" cols="80" class="form-control"></textarea>

      {% if not maintenance %}
      <input  class="btn" type="submit" value="Send">
      {% endif %}
    </form>

    {% for item in comments %}
      <div class="item">
        <div class="info">
            <span class="user">{{item.user}}</span>
            <span class="time">{{item.created_at}}</span>
        </div>
        <p>{{ item.text }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'translatex/bower_components/showdown/dist/showdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'translatex/js/detail.js' %}"></script>
{% endblock %}
