
{% extends "./base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'translatex/stylesheets/guide.css' %}">
{% endblock %}

{% block content %}


  <div class="wrapper">

    <h1>Cú pháp Markdown</h1>

    <h3>Cú pháp markdown là gì ?</h3>
    <p>
      Hãy tưởng tưởng khi sử dụng Microsoft Word khi soạn thảo văn bản,
      Bạn có thể bôi đậm, in nghiêng, gạch dưới một đoạn chữ, hay tạo list,
      tạo bảng, nhúng ảnh vào văn bản... Công việc đó gọi là định dạng khi soạn thảo văn bản.
    </p>
    <p>
      Markdown là cách thức tạo định dạng văn bản sử dụng các kí hiệu đặc biệt.
      <br>
      Bằng các kí hiệu đặc biệt ví dụ các dấu (#, *, _) để định dạng cho văn bản.
    </p>
    <p>
      Markdown được sử dụng nhiều cho tài liệu kĩ thuật và sử dụng trên web vì tính
      đơn giản và tiện lợi của nó.
      Mới đầu bạn có thể chưa quen và thấy phức tạp nhưng đừng lo, bạn sẽ quen ngay thôi,
      và khi quen rồi sẽ thấy Markdown cực kì tiện lợi.
    </p>

    <h2>Các định dạng cơ bản và hướng dẫn của Markdown</h2>

    <h3>Tiêu đề (Heading)</h3>
    <p class="hint">
      Giống như trong Words, bạn có thể tạo Heading 1, Heading 2... Heading là tiêu để của một đoạn
      văn bản, Và có nhiều cấp độ tương ứng với độ to của chữ khác nhau.
    </p>

    <div class="md-showcase">
      <textarea class="editor">
# Một dấu sharp đầu dòng sẽ cho bạn tiêu đề bự nhất
## Hai dấu sharp đầu dòng sẽ cho bạn tiêu đề bự thứ 2
### Ba dấu sharp đầu dòng sẽ cho bạn tiêu đề bự thứ 3</textarea>
      <div class="preview"></div>
    </div>

    <h3>Bôi đậm, in nghiêng</h3>
    <p class="hint">
      Kẹp một từ ở đầu và cuối bằng 1 ký tự <code>*</code> để <em>in nghiêng</em>
      <br>
      2 ký tự <code>**</code> để <strong>bôi đậm</strong>
      <br>
      3 ký tự <code>***</code> để <strong><em>vừa in nghiêng vừa bôi đậm</em></strong>.
      <br>
      Nếu muốn bạn có thể dùng gạch dưới <code>_</code> thay cho dấu sao <code>*</code>.
    </p>

<div class="md-showcase">
<textarea class="editor">
Ví dụ về *in nghiêng*&nbsp;&nbsp;
Ví dụ về **bôi đậm text**&nbsp;&nbsp;
Ví dụ về ***vừa in nghiêng, vừa bôi đậm***&nbsp;&nbsp;
</textarea>
<div class="preview"></div>
</div>


    <h2>Link</h2>

    <p>Viết link trong markdown bằng cách cho alt text vào trong ngoặc vuông<code>[]</code> và link thật vào trong ngoặc đơn <code>()</code>. Ví dụ ở đây giống hệt ví dụ đầu tiên về <a href="https://en.wikipedia.org/wiki/John_Gruber">John_Gruber</a> ở đoạn trên.</p>

<div class="md-showcase">
<textarea class="editor">
[Betonavi](https://betonavi.com)
</textarea>
<div class="preview"></div>
</div>



    <h2>Hình ảnh</h2>

    <p>Chèn hình ảnh trong markdown chỉ khác với chèn link đôi chút. Bạn thêm ký tự <code>!</code> vào đầu tiên, sau đó ghi alt text và link ảnh vào trong ngoặc vuông <code>[]</code> và ngoặc đơn <code>()</code>.</p>

<div class="md-showcase">
<textarea class="editor">
![Atom](https://betonavi.com/media/images/41pLoHj9CFL._S500_.jpg)
</textarea>
<div class="preview"></div>
</div>



    <h2>Định dạng danh sách</h2>

    <p>Để định đạng một đoạn văn bản thành các gạch đầu dòng trong markdown,
       bạn dùng ký tự <code>*</code> và một dấu cách ở mỗi ý và dùng thêm 4 dấu cách ở đằng trước nếu muốn lùi vào một level.</p>
<div class="md-showcase">
<textarea class="editor">
* Mẹ và bé
* Mỹ phẩm
    * Chăm sóc tóc
    * Chăm sóc da
    * Chăm sóc cơ thể
* Điện tử
    * Máy ảnh
        * Sony
        * Nikon
    * Điện thoại
</textarea>
<div class="preview"></div>
</div>

  <p>Nếu bạn muốn dùng số để đánh dấu thì viết số và một dấu chấm <code>.</code></p>


<div class="md-showcase">
<textarea class="editor">
1. number one
2. number two
3. number three
</textarea>
<div class="preview"></div>
</div>


    <h2>Trích dẫn (Quote)</h2>

    <p>Cách viết một trích dẫn giống hệt khi bạn vẫn trả lời bình luận hay dẫn chứng trong các diễn đàn: sử dụng ký tự <code>&gt;</code>.</p>

<div class="md-showcase">
<textarea class="editor">
&gt; We are not here to take part, We are here to take over!
</textarea>
<div class="preview"></div>
</div>

<br>
<hr>
<br>

  <h1>Một bài viết sản phẩm cơ bản của Betonavi</h1>

<div class="md-showcase">
<textarea class="editor">
# Giới thiệu
Đây là giới thiệu ngắn về sản phẩm,
Cố gắng viết càng ngắn gọn và xúc tích càng tốt.
Thường là 3, hoặc 4 dòng giới thiệu.

# Mô Tả
Đây là phần mô tả sản phẩm. Phần mô tả này sẽ mô tả chi tiết
thông tin về sản phẩm như là thành phần, chức năng, cách sử dụng,
lưu ý khi sử dụng...
## Thành phần
* Đường
* Sữa
* Kem

## Chức năng:
* Bổ xung vitamin D
* Tăng cường sức khoẻ

## Cách sử dụng:
* Ngày 3 lần, mỗi lần 2 viên



</textarea>
<div class="preview"></div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  </div>

{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'translatex/bower_components/showdown/dist/showdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'translatex/js/guide.js' %}"></script>
{% endblock %}
