
{% extends "./base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block content %}
  <div class="wrapper">
    <div class="filter">
      Filter:

      <span>Status</span>
      <select id="statusFilter" name="">
        <option value="{% url 'translatex_list' %}?u={{request.GET.u}}">-----------</option>
        {% for item in status %}
          <option
            {% if filtered_status == item.0 %} selected="selected" {% endif %}
            value="{% url 'translatex_list' %}?status={{item.0}}&u={{request.GET.u}}">{{ item.1 }}</option>
        {% endfor %}
      </select>

      {% if request.user.is_staff %}
      <span>Translator</span>
      <select id="assigneeFilter" name="">
        <option value="{% url 'translatex_list' %}?status={{request.GET.status}}">-----------</option>
        {% for item in translators %}
          <option
            {% if request.GET.u == item.user.username %} selected="selected" {% endif %}
            value="{% url 'translatex_list' %}?u={{item.user.username}}&status={{request.GET.status}}" >{{ item.fullname }}</option>
        {% endfor %}
      </select>
      {% endif %}

      <a id="clearFilter" href="/translatex">Reset</a>
    </div>

    

    <table id="ticket_list">
      <thead>
        <tr>
          <td>id</td>
          <td>Ảnh SP</td>
          <td>Tên SP (Tiếng Nhật)</td>
          <td>Tên SP (Tiếng Việt)</td>

          {% if request.user.is_staff %}
          <td>Similar</td>
          {% endif %}

          <td>Amazon</td>
          <td>Betonavi</td>
          <td>Người dịch</td>
          <td>Số từ</td>
          <td>Trạng thái</td>
          <td>Đánh giá</td>
          <td>Phí dịch(Vnd)</td>
        </tr>
    </thead>

      {% for item in products %}
      <tr>
        <td><a href="/translatex/sp/{{ item.id }}">{{ item.id }}</a></td>
        <td>
          <img src="{{ item.amazon_product.medium_image_url }}" alt="No img" />
        </td>
        <td><a href="/translatex/sp/{{ item.id }}">{{ item.amazon_product.title|truncatechars:20 }}</a></td>
        <td> {{ item.vn_name|default_if_none:"-"|truncatechars:40 }} </td>

        {% if request.user.is_staff %}
        <td>
          {{ item.similar_product_count }}
        </td>
        {% endif %}

        <td> <a target="_blank" href="https://www.amazon.co.jp/dp/{{item.amazon_product.asin}}">link <i class="fa fa-external-link" aria-hidden="true"></i></a> </td>
        <td>
            {% if item.amazon_product and item.amazon_product.product %}
             <a target="_blank" href="https://www.betonavi.com/dp/{{item.amazon_product.asin}}">link <i class="fa fa-external-link" aria-hidden="true"></i></a>
            {% else %}
              -
            {% endif %}
        </td>

        <td>
            {% if item.assignee %}
              <a href="{% url 'translatex_list' %}?u={{item.assignee.user.username}}&status={{request.GET.status}}&page={{request.GET.page}}">{{ item.assignee }}</a>
            {% else %}
              -
            {% endif %}
        </td>
        <td> {{ item.word_count|default_if_none:"-" }} </td>
        <td><span class="status status-{{item.status}}">{{ item.get_status_display|default_if_none:"-" }}</span></td>
        <td>

          {% if item.rating is not None %}
            {% with ''|center:item.rating as range %}
              {% for i in range %}
                <i class="fa fa-star" aria-hidden="true"></i>
              {% endfor %}
            {% endwith %}
          {% endif %}

        </td>
        <td><span class="price">{{ item.charge_amount|intcomma }}</span></td>
      </tr>
      {% endfor %}

    </table>

    <div class="pagination">
      <div class="step-links">
          {% if products.has_previous %}
              <a class="link" href="?page={{ products.previous_page_number }}&u={{request.GET.u}}&status={{request.GET.status}}">&laquo; Trang Trước</a>
          {% endif %}

          <span class="current">
              {{ products.number }} / {{ products.paginator.num_pages }}
          </span>

          {% if products.has_next %}
              <a class="link" href="?page={{ products.next_page_number }}&u={{request.GET.u}}&status={{request.GET.status}}">Trang Tiếp &raquo;</a>
          {% endif %}
      </div>
  </div>

  </div>

{% endblock %}
