
{% extends "./base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block content %}

  <div class="wrapper" id="members_page">
    <h1>Members </h1>
<!-- 
    <form id="add_form" action="/translatex/members" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <button type="submit" name="button">Add</button>


    </form> -->

    <table id="ticket_list">
      <thead>
        <tr>
          <td>id</td>
          <td>username</td>
          <td>email</td>
          <td>fullname</td>
          <td>bank_account_info</td>
        </tr>
    </thead>

      {% for item in translators %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.user.username }}</td>
        <td>{{ item.user.email }}</td>
        <td>{{ item.fullname }}</td>
        <td>{{ item.bank_account_info }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}
