<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand" rel="stylesheet">


  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static "/stylesheets/auth.css" %}" />
  <link rel="stylesheet" href="{% static "/font-awesome/css/font-awesome.min.css" %}"><!-- font awesome -->
  <link rel="shortcut icon" href="../favicon.ico">
  <title>Betonavi</title>

</head>
<body>
  <div id="main-container">

    <a href="/">
      <div id="logo">
        Betonavi
      </div>
    </a>

    {% block content %}
    {% endblock %}

    <div id="footer">
        © 2017 Betonavi - Thoải mái xài hàng Nhật!
    </div>
  </div>
</body>
</html>
