{% extends "account/base.html" %}


{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="promo">
  <div class="img" style="background-image:url(/static/images/login_bg.jpg)"></div>
</div>


<h1>Đăng Nhập</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>Nếu bạn chưa có tài khoản, bạn có thể tạo mới tại đây
<a href="{{ signup_url }}">Đăng Kí</a>.</p>
{% endif %}

<form class="login" id="signin_form" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}


  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Quên mật khẩu</a>

  <button class="btn" type="submit">Đăng Nhập</button>
</form>

{% endblock %}
