{% extends "account/base.html" %}


{% block content %}
  <h1>Đăng Xuất</h1>


  <p>
    Cảm ơn bạn đã sử dụng dịch vụ của Betonavi.
  </p>


  <form method="post" action="/accounts/logout/">
    {% csrf_token %}
    <button class="btn" type="submit">Đăng Xuất</button>
  </form>




{% endblock %}
