{% extends "account/base.html" %}


{% block content %}

  <h1>Đổi Mật Khẩu</h1>

  <form id="signin_form"  method="POST" action="{% url 'account_change_password' %}" class="password_change">
      {% csrf_token %}
      {{ form.as_p }}
      <button  class="btn"  type="submit" name="action">Đổi Mật Khẩu</button>
  </form>



{% endblock %}
