{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}

<div id="signup_closed">

  <h1>Yêu cầu thư mời thành viên</h1>
  {% if done %}

    {% if case == 1 %}
      <p>
        Come on! Bạn đã là thành viên của Betonavi rồi!
      </p>
    {% elif case == 2 %}
      <p>
        Bạn đã gửi yêu cầu thành viên tới hệ thống của chúng tôi!
      </p>
      <p>
        Xin vui lòng chờ trong ít giờ, chúng tôi sẽ phản hồi đến email của bạn!
      </p>
    {% else %}
      <p>
        Yêu cầu của bạn đã được gửi thành công!
      </p>
      <p>
        Chúng tôi sẽ xét duyệt và gửi mail thông báo cho bạn trong thời gian sớm nhất!
      </p>
      <p>ありがとうございます！(A-ri-ga-to!)</p>
    {% endif %}

    <p>
      Betonavi Team!
    </p>

  {% else %}

  <p>
    Cảm ơn bạn đã quan tâm đến chương trình thành viên (membership program) của kênh mua sắm
    hàng Nhật - Betonavi.com.
  </p>
  <p>
    Để yêu cầu một thư mời thành viên, xin vui lòng nhập email của bạn và lý do vào form bên dưới,
    Chúng tôi sẽ xét duyệt và trả lời cho bạn sớm nhất có thể.
  </p>


  {% if error %}
    <p class="error">
      Xin vui lòng kiểm tra lại email và message bạn gửi!
      <br>
      P/S: Có gì đó không đúng!
    </p>
  {% endif %}
  <form action="/request-an-invitation" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <input type="submit" class="btn" value="Gửi Yêu Cầu">
  </form>

  {% endif %}

</div>
{% endblock %}
