{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="promo">
  <div class="img" style="background-image:url(/static/images/register.jpg)"></div>
</div>


<h1>Đăng Kí Tài Khoản</h1>

<p>Nếu bạn đã có tài khoản, bạn có thể đăng nhập tại đây <a href="{{ login_url }}">Đăng Nhập</a>.</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  {{ form.as_p }}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}


  <button class="btn" type="submit"> Đăng Kí &raquo;</button>
</form>

{% endblock %}
