{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}

<div id="signup_closed">

  <h1>Đăng Kí Thành Viên</h1>


  <h3>Thông báo</h3>
  <p>
    Để đảm bảo chất lượng dịch vụ và sự hài lòng của quý khách,

    Hiện tại chúng tôi chỉ cung cấp dịch vụ cho những người được mời từ một thành viên của Betonavi.
  </p>

  <p>
    Vì vậy nếu bạn có người quen đang là thành viên của Betonavi, bạn có thể yêu cầu thư mời từ người bạn đó.
  </p>

  <p>
    Nếu bạn không có mối liên hệ nào với một trong các thành viên của Betonavi,
    Bạn vẫn có thể yêu cầu một thư mời từ ban quản trị.

    Để yêu cầu thư mời, xin vui lòng nhập email và lý do vào link bên dưới,
    Chúng tôi sẽ xét duyệt yêu cầu của bạn và trả lời chậm nhất trong 2 ngày.
  </p>
  <p>
    <a href="/request-an-invitation">Yêu cầu thư mời</a>
  </p>
  <p>
    Xin chân thành cảm ơn!
  </p>
  <p>
    Betonavi Team.
  </p>

</div>
{% endblock %}
