<html>
<head>
  <meta charset="utf-8">
  <style>
    html, body {
      margin: 0;
      border: 0;
      padding: 0;
      overflow: hidden;
      background: #fff;

    }




    .container{
      position: relative;
      /*width: 1000px;*/
      margin: 0 auto;
      box-sizing: border-box;
      /*padding-top: 60px;*/
    }

    .header{
      background: #333;
      color: #fff;
      padding: 10px;
      position: relative;
    }

    .close{
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
    }



    textarea{
      width: 100%;
      border-width: 1px 0 0 0;
      border-color: #dbdbdb;
      border-style: solid;
      margin-top: 10px;
      padding: 5px 10px;
    }

    textarea:active, textarea:focus{
      outline: none;
    }



    table{
      border-collapse: collapse;
      font-size: 12px !important;
    }
    table, th, td {
        border: 1px solid #f1efef;
    }

    tr{

    }

    td{
      padding: 5px 10px;
    }
    td.label{
      background: #ebebeb;
      color: #333;
    }

    .img{
      width: 40px;
      height: 40px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
      margin-right: 5px;
    }

    .btns{
      border-top: 1px solid #333;
      width: 100%;
      box-sizing: border-box;
      position: fixed;
      bottom: 0;
      text-align: center;
      padding: 15px;
      background: #f0f0f0;
    }

    .images{
      position: fixed;
      text-align: right;
      right: 5px;
      top: 60px;
      width: 300px;
      height: 40px;
      overflow: hidden;
    }

    .btn {
      cursor: pointer;
      display: inline-block;
      text-align: center;
      -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 28px;
      color: #ffffff;
      font-size: 16px;
      background: #f35f51;
      padding: 5px 10px;
      text-decoration: none;
    }

    .btn:hover {
      background: #e44738;
      text-decoration: none;
    }

    .jp_description{
      max-height: 300px;
      max-width: 300px;
      overflow: auto;
    }

    .price{
      font-size: 1.3em;
      color: red;
      font-weight: bold;
    }

    .loading, .added{
      padding-left: 40px;
      color: red;
      font-weight: bold;
    }

  </style>
  <script type="text/javascript" src="./vue.min.js" ></script>
</head>
<body id="app" >
  <div class="container" >
    <div class="header">
      <span class="title">Betonavi Import</span>

      <span class="close" @click="close">Close</span>
    </div>

    <div class="images">
      <div class="img" :style="{'background-image': 'url(' + img + ')'}" v-for="img in product.images"></div>
    </div>

    <table>
      <tr>
        <td class="label">ASIN</td>
        <td colspan="1">{{product.asin}}
            <span class="loading" v-show="fetching">Checking....</span>
            <span class="added" v-show="isAdded">Added</span>
        </td>
      </tr>
      <tr>
        <td class="label">Price</td>
        <td colspan="1"><span class="price">{{product.jp_price}}</span></td>
      </tr>
      <tr>
        <td class="label">Category</td>
        <td colspan="1">
            <select v-model="product.category_id">
              <option :value="item.id" v-for="item in categories">{{item.name}}</option>
            </select>
        </td>
      </tr>

    </table>


    <textarea placeholder="Tên Sản Phẩm" v-model="product.vn_name" name="name" rows="2"></textarea>


    <textarea  placeholder="Giới Thiệu Sản Phẩm" v-model="product.vn_introduction" name="name" rows="5" ></textarea>

    <textarea  placeholder="Chi Tiết Sản Phẩm" v-model="product.vn_description" name="name" rows="15" ></textarea>

    <div class="btns">
        <div class="btn" @click="send" v-if="!isSaving && isAdded">Update</div>
        <div class="btn" @click="send" v-if="!isSaving && !isAdded">Add To Betonavi</div>
        <div class="btn" v-if="isSaving">Saving....</div>

    </div>


  </div>

  <script type="text/javascript" src="./frame.js"></script>

  </script>
</body>
</html>
