<div style=" max-width: 700px; margin: 0 auto;">

  <div class="header" style="background: #ff7c00; border-radius: 10px 10px 0 0; padding: 5px 10px; text-align: center;">
    <img src="https://betonavi.com/static/images/email_logo.png" alt="" height="40" />
  </div>

  <div style="padding: 10px; border: 1px solid #dbdbdb; font-size: 18px; border-radius: 0 0 5px 5px; color: #333;">
    <p>
      Chào bạn!,
    </p>

    <p>
    Một người bạn của bạn đã mời bạn tham gia làm thành viên của
    trang mua sắm hàng Nhật Bản - Betonavi.com!
    </p>

    <p>
    Để xác nhận lời mời, xin vui lòng click vào link bên dưới và đăng kí tài khoản.
    </p>

    {{ invite_url }}

    <br/>
    <br/>
    Chúc bạn mua sắm vui vẻ tại Betonavi.com!

    <p>
      Betonavi Team.
    </p>
  </div>



  <p style="color: #c0c0c0;">
    <span style="font-size: 18px;">
        Betonavi - Trang thương mại điện tử hàng Nhật đầu tiên phục vụ người Việt.
    </span>
    <br />
    <br />
    Tại Betonavi bạn có thể mua những sản phẩm Nhật bản nội địa chất lượng cao,
    tin tưởng tuyệt đối, bạn cũng có thể xem giới thiệu sản phẩm, hướng dẫn sử dụng
    cũng như đánh giá sản phẩm từ người tiêu dùng.

  </p>

  <div style="margin-top: 20px;">
    <a target="_blank" href="https://betonavi.com/" style="margin-right: 20px; color: #c0c0c0;text-decoration: none;">Betonavi.com</a>

    <a target="_blank" href="https://betonavi.com/gioi-thieu" style="margin-right: 20px; color: #c0c0c0;text-decoration: none;">Về chúng tôi</a>

    <a target="_blank" href="https://betonavi.com/lien-he" style="margin-right: 40px; color: #c0c0c0;text-decoration: none;">Liên hệ</a>
  </div>

</div>
