{% extends "admin/base.html" %}
{% load static from staticfiles %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin_css/admin-extend.css" %}" />
    <link rel="shortcut icon" href="{% static "images/splash.png" %}" />
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">
  <span style="color: #e2e2e2">Admin</span>
</a></h1>
{% endblock %}