{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %} Betonavi Backoffice {% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">
<!-- Container -->
<div id="container">
    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% block usertools %}
        {% if has_permission %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% trans 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {% endblock %}
        {% block nav-global %}{% endblock %}
    </div>



    <div id="navbar" style="">
      <div class="group-title">Master</div>
      <ul class="navbar-ul">
          <li class="{%if opts.model_name == 'category'%}selected{%endif%}">
              <a href="/admin/webapp/category/"><i class="fa fa-map-marker" aria-hidden="true"></i>Category</a>
          </li>

          <li class="{%if opts.model_name == 'bankaccount'%}selected{%endif%}">
              <a href="/admin/webapp/bankaccount/"><i class="fa fa-bookmark" aria-hidden="true"></i>Bank Account</a>
          </li>

          <li class="{%if opts.model_name == 'pricetable'%}selected{%endif%}">
              <a href="/admin/webapp/pricetable/"><i class="fa fa-map-marker" aria-hidden="true"></i>Price Table</a>
          </li>

          <li class="{%if opts.model_name == 'overseashippingfee'%}selected{%endif%}">
              <a href="/admin/webapp/overseashippingfee/"><i class="fa fa-map-marker" aria-hidden="true"></i>Oversea Shipping Fee</a>
          </li>
      </ul>


      <div class="group-title">Content</div>
       <ul class="navbar-ul">

           <li class="{%if opts.model_name == 'amazonproduct'%}selected{%endif%}">
               <a href="/admin/webapp/amazonproduct/">
                 <i class="fa fa-map-marker" aria-hidden="true"></i>Amazon Products</a>
           </li>

           <li class="{%if opts.model_name == 'coupon'%}selected{%endif%}">
               <a href="/admin/webapp/coupon/"><i class="fa fa-bookmark" aria-hidden="true"></i>Coupon</a>
           </li>
           <li class="{%if opts.model_name == 'banner'%}selected{%endif%}">
               <a href="/admin/webapp/banner/"><i class="fa fa-bookmark" aria-hidden="true"></i>Banner</a>
           </li>

           <li class="{%if opts.model_name == 'mailmagazine'%}selected{%endif%}">
               <a href="/admin/webapp/mailmagazine/"><i class="fa fa-bookmark" aria-hidden="true"></i>Mail Magazine</a>
           </li>
           <li class="{%if opts.model_name == 'mailmagazineproduct'%}selected{%endif%}">
               <a href="/admin/webapp/mailmagazineproduct/"><i class="fa fa-bookmark" aria-hidden="true"></i>Mail Magazine Products</a>
           </li>

       </ul>

        <div class="group-title">Product </div>
        <ul class="navbar-ul">
          <li class="{%if opts.model_name == 'product'%}selected{%endif%}">
              <a href="/admin/webapp/product/"><i class="fa fa-bookmark" aria-hidden="true"></i>Inquiry Product</a>
          </li>
          <li class="{%if opts.model_name == 'editproduct'%}selected{%endif%}">
              <a href="/admin/webapp/editproduct/"><i class="fa fa-bookmark" aria-hidden="true"></i>Edit Product</a>
          </li>
          <li class="{%if opts.model_name == 'editcategoryproduct'%}selected{%endif%}">
              <a href="/admin/webapp/editcategoryproduct/"><i class="fa fa-bookmark" aria-hidden="true"></i>Edit Category Product</a>
          </li>
          <li class="{%if opts.model_name == 'featureset'%}selected{%endif%}">
              <a href="/admin/webapp/featureset/"><i class="fa fa-bookmark" aria-hidden="true"></i>Feature Set</a>
          </li>

          <li class="{%if opts.model_name == 'productrequest'%}selected{%endif%}">
              <a href="/admin/webapp/productrequest/"><i class="fa fa-bookmark" aria-hidden="true"></i>Product Request</a>
          </li>

       </ul>


        <div class="group-title">Order Management</div>
        <ul class="navbar-ul">
          <li class="{%if opts.model_name == 'order'%}selected{%endif%}">
              <a href="/admin/webapp/order/"><i class="fa fa-map-marker" aria-hidden="true"></i>Order</a>
          </li>
       </ul>

       <div class="group-title">Translation Management</div>
       <ul class="navbar-ul">
         <li class="{%if opts.model_name == 'producttranslation'%}selected{%endif%}">
             <a href="/admin/translatex/producttranslation/"><i class="fa fa-map-marker" aria-hidden="true"></i>Translation</a>
         </li>

         <li class="{%if opts.model_name == 'translator'%}selected{%endif%}">
             <a href="/admin/translatex/translator/"><i class="fa fa-map-marker" aria-hidden="true"></i>Translator</a>
         </li>
      </ul>

       <div class="group-title">Mobile apps</div>
       <ul class="navbar-ul">
         <li class="{%if opts.model_name == 'device'%}selected{%endif%}">
             <a href="/admin/mobile/device/"><i class="fa fa-map-marker" aria-hidden="true"></i>Device</a>
         </li>
      </ul>


        <div class="group-title">User & Group</div>
        <ul class="navbar-ul">
            {% if request.user.is_superuser %}
            <li class="{%if opts.model_name == 'requestinvitation'%}selected{%endif%}">
                <a href="/admin/webapp/requestinvitation/"><i class="fa fa-user" aria-hidden="true"></i> Requested Invitation</a>
            </li>

            <li class="{%if opts.model_name == 'invitation'%}selected{%endif%}">
                <a href="/admin/invitations/invitation/"><i class="fa fa-user" aria-hidden="true"></i> Invitation</a>
            </li>


           <li class="{%if opts.model_name == 'group'%}selected{%endif%}">
               <a href="/admin/auth/group"><i class="fa fa-group" aria-hidden="true"></i> Groups</a>
           </li>
           <li class="{%if opts.model_name == 'user'%}selected{%endif%}">
               <a href="/admin/auth/user"><i class="fa fa-user" aria-hidden="true"></i> Users</a>
           </li>
           {% endif %}
       </ul>
        <div class="copyright">
            Copyright by Betonavi
        </div>
    </div>




    {% load admin_urls %}
     <div id="main-content" class="{% if request.user.is_superuser %} superuser {% endif %}">

         <div id="page-wrapper" style="padding-left: 200px">
            <!-- END Header -->
            {% block breadcrumbs %}
            <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            {% if title %} &rsaquo; {{ title }}{% endif %}
            </div>
            {% endblock %}
            {% endif %}
            {% block messages %}
                {% if messages %}
                <ul class="messagelist">{% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}
            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
                {% endblock %}
                {% block sidebar %}{% endblock %}
                <br class="clear" />
            </div>
            <!-- END Content -->
            {% block footer %}<div id="footer"></div>{% endblock %}
         </div>
   </div>
</div>
<!-- END Container -->
</body>
</html>
