
#chatbox{
  position: fixed;
  top: 100px;
  right: 0px;
  width: 300px;
  min-height: 300px;
  background: #fff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding: 20px;

  ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul{
    max-height: 300px;
    overflow-y: auto;
  }

  li{
    // border: 1px solid #c0c0c0;

    &.staff{
      text-align: right;
    }

    .who{
      color: orange;
    }
    p{
      padding: 5px 5px;
      background: #dbdbdb;
      border-radius: 10px;
    }
  }
}
