$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: "(max-width: 768px)";
$desktop-width: 768px;
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d0d0d0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d0d0d0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #d0d0d0;
}
:-moz-placeholder { /* Firefox 18- */
  color: #d0d0d0;
}

body, html{
  font-family: 'Quicksand', sans-serif;
  background: #fff;

  @include desktop {
    background: #f0f0f0;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 16px;
  background: #f35f51;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  border: none;

  &.btn-o{
    background: none;
    border: 1px solid #f35f51;
    color: #f35f51;
  }

  &.btn-small{
    padding: 2px 10px 2px 10px;
  }
}

.error{
  color: red;
}
.errorlist{
  display: block;

}

button.btn, input[type='button'].btn{
  &:focus{
    outline: none;
  }
}

.btn:hover {
  background: #e44738;
  text-decoration: none;
  color: #fff;

  &.btn-o{
    background: none;
    color: #e44738;
    border: 1px solid #e44738;
  }
}


#main-container{
  position: relative;
  background: #fff;

  margin: 0 auto;
  margin-top: 10px;
  padding: 50px 10px;
  box-sizing: border-box;

  @include desktop {
    width: 1000px;
    margin-top: 70px;
    padding: 100px 30px;

    .promo{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 350px;

      .img{
        background-size: cover;
        width: 100%;
        height: 100%;
      }
    }
  }



  #logo{
    position: absolute;
    top: 10px;
    font-size: 40px;
    color: #f28d23;
    font-family: 'Pacifico', cursive;
  }



  #footer{
    position: fixed;
    bottom: 0;left: 0; right: 0;
    background: darken(#f0f0f0, 5%);
    text-align: center;
    padding: 10px;
  }

}




#signup_closed{
  p {
    font-size: 1.2em;
  }
}

form, #signup_form, #signin_form{
  label{
    display: inline-block;
    width: 160px;
  }
  input[type='text'], input[type='password'],input[type='email'], textarea{
    border: 1px solid lighten(#f35f51, 20%);
    min-width: 280px;
    padding: 3px 3px;
    font-size: 1.2em;


    &:focus{
      outline: none;
      border: 1px solid lighten(#f35f51, 10%);
    }
  }

  textarea{
    font-size: 1.2em;
    min-width: 95%;
    max-width: 95%;
    min-height: 70px;
    max-height: 70px;

    @include desktop {
      min-width: 500px;
      max-width: 500px;
    }
  }


}
