{% extends "./base.html" %}


{% block content %}
  <div class="static-page">
    <div class="side">
      <a href="/gioi-thieu" class="active">
        <div class="item">Giới thiệu</div>
      </a>
      <a href="/dieu-khoan-cam-ket">
        <div class="item">Điều khoản - Cam kết</div>
      </a>
      <a href="/chuong-trinh-thanh-vien">
        <div class="item">Chương trình thành viên</div>
      </a>
      <a href="/mua-thang-thanh-toan">
        <div class="item">Mua hàng - thanh toán</div>
      </a>
      <a href="/cau-hoi-thuong-gap">
        <div class="item">Chuyển hàng</div>
      </a>
      <a href="/cau-hoi-thuong-gap">
        <div class="item">Câu hỏi thường gặp</div>
      </a>
      <a href="/lien-he">
        <div class="item">Liên hệ - hỗ trợ</div>
      </a>
    </div>


    <div class="wrapper">
      <h1>Giới thiệu</h1>
      <hr>
      <h3>Khởi đầu</h3>

      <p>

        Betonavi Team khởi đầu từ 3 thành viên đang là kĩ sư IT tại Nhật Bản có cùng chung
        ý mục tiêu xây dựng một kênh thương mại điện tử giữa Việt Nam và Nhật Bản.

      </p>

      <h3>Sứ mệnh</h3>

      <p>
        Betonavi Team khởi đầu từ 3 thành viên đang là kĩ sư IT tại Nhật Bản.

      </p>

      <!-- ********************************************************************* -->

      <h1>Điều khoản - Cam kết</h1>
      <hr>
      <p>
        Điều khoản cam kết
      </p>

      <!-- ********************************************************************* -->

      <h1>Chương trình thành viên (Betonavi Membership Program)</h1>
      <hr>
      <p>
        Chương trình thành viên
      </p>

      <!-- ********************************************************************* -->

      <h1>Mua hàng - Thanh Toán</h1>
      <hr>
      <p>
        TK:
        Số tk: 054-001-696959
        Chủ tk: PHAM DUY HUNG
        Vietcombank CN Mai Dong
        --
        <br>

        Hanoi:
        Nguyen Thi Lan
        094-202-7975
        31/4 Cương Ngô - Tứ Hiệp Thanh Trì - Hà Nội
        --
        <br>
        Pham Huy
        0903-255-350
        Số 67c ngõ 87 láng hạ - ba đình - hà nội
        <br>
        --
        Bac Giang:
        Nguyễn Hoành Sơn
        0915802467
        33- ngõ 50 đường Hồ Công Dự, Phường Lê Lợi Bắc Giang
      </p>


      <!-- ********************************************************************* -->

      <h1>Câu hỏi thường gặp</h1>
      <hr>
      <p>
        A ? B ? C
      </p>


      <!-- ********************************************************************* -->

      <h1>Liên hệ với chúng tôi</h1>
      <hr>

      {% if contact_sent %}
          <h2 class="contact-done">
              Thank You!
          </h2>
          <p>
              Your message has been sent to our administrator,
              We will response to you as soon as possible!
          </p>
      {% else %}

      <form class="form-horizontal" action="/about" method="POST">
           {% csrf_token %}
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Your Email</label>
          <div class="col-sm-10">

            {{ form.email }}
          </div>
             {{ form.email.errors }}
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Your Name</label>
          <div class="col-sm-10">
            {{ form.name }}
          </div>
             {{ form.name.errors }}
        </div>


          <div class="form-group">
          <label for="message" class="col-sm-2 control-label">Message</label>
          <div class="col-sm-10">
              {{ form.message }}
          </div>
               {{ form.message.errors }}
        </div>


        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Send </button>
          </div>
        </div>
      </form>

      {% endif %}
    </div>
  </div>




{% endblock %}
