{% extends "./base.html" %}


{% block content %}
  <div class="static-page">
    <div class="side">
      <a href="/gioi-thieu">
        <div class="item">Giới thiệu</div>
      </a>
      <a href="/dieu-khoan-cam-ket">
        <div class="item">Điều khoản - Cam kết</div>
      </a>
      <a href="/chuong-trinh-thanh-vien">
        <div class="item">Chương trình thành viên</div>
      </a>
      <a href="/mua-hang-thanh-toan" class="active">
        <div class="item">Mua hàng - thanh toán</div>
      </a>
      <a href="/cau-hoi-thuong-gap">
        <div class="item">Câu hỏi thường gặp</div>
      </a>
      <a href="/lien-he">
        <div class="item">Liên hệ - hỗ trợ</div>
      </a>
    </div>


    <div class="wrapper">


      <!-- ********************************************************************* -->

      <h1>Mua hàng - Thanh Toán</h1>
      <hr>

      <h3>Đặt hàng</h3>
      <p>
        Đặt hàng online tại Betonavi.
      </p>
      <p>
        Cũng giống như các trang thương mại điện tử khác,
        phương thức đặt hàng tại Betonavi gồm các bước như sau:
      </p>
      <ul>
        <li>Đăng Kí Tài Khoản Betonavi </li>
        <li>Thêm sản phẩm vào Giỏ Hàng</li>
        <li>Từ Trang Giỏ Hàng, Chọn mua hàng</li>
        <li>Chọn địa chỉ vận chuyển đến và tên người nhận</li>
        <li>Chọn phương thức thanh toán</li>
        <li>Xác nhận cuối cùng đặt hàng</li>
      </ul>
      <p>
        Khách hàng sẽ nhận được mail thông báo và trang đơn hàng chi tiết sau khi đặt hàng.
      </p>


      <h3>Thanh toán</h3>
      <p>
        Hiện tại Betonavi hỗ trợ hình thức thanh toán chuyển khoản.
      </p>
      <p>
        Sau khi đặt hàng tại Betonavi, khách hàng vui lòng chuyển khoản vào tài khoản
        ngân hàng của Betonavi, Sau khi nhận được thanh toán, Betonavi sẽ tiếp tục các
        bước tiếp theo.
      </p>

      <p>
        Trong thời gian tới Betonavi sẽ hỗ trợ phương thức thanh toán Credit card và COD,
        Chúng tôi sẽ email cho thành viên thông tin chi tiết sau.
      </p>


      <h3>Giao Hàng (Shipping)</h3>
      <p>
        Hiện tại Betonavi có 2 địa điểm tập kết hàng từ Nhật gửi về là tại Hà Nội và Bắc Giang.
      </p>
      <p>
        Vì vậy nếu quý khách ở Hà Nội, hoặc Bắc Giang thì sẽ áp dụng phí chuyển nội thành.
        <br>
        Nếu quý khách ở tỉnh khác, phí vận chuyển liên tỉnh sẽ được áp dụng.

      </p>
      <p>
        Phí vận chuyển của Betonavi đang được tính dựa theo các dịch vụ chuyển hàng tại Việt Nam.
        Bạn có thể tham khảo tại đây.
      </p>


    </div>
  </div>


{% endblock %}
