{% extends "./base.html" %}


{% block content %}
  <div class="static-page">
    <div class="side">
      <a href="/gioi-thieu" >
        <div class="item">Giới thiệu</div>
      </a>
      <a href="/dieu-khoan-cam-ket">
        <div class="item">Điều khoản - Cam kết</div>
      </a>
      <a href="/chuong-trinh-thanh-vien">
        <div class="item">Chương trình thành viên</div>
      </a>
      <a href="/mua-hang-thanh-toan">
        <div class="item">Mua hàng - thanh toán</div>
      </a>
      <a href="/cau-hoi-thuong-gap">
        <div class="item">Câu hỏi thường gặp</div>
      </a>
      <a href="/lien-he" class="active">
        <div class="item">Liên hệ - hỗ trợ</div>
      </a>
    </div>


    <div class="wrapper">


      <h1>Liên hệ với chúng tôi</h1>
      <hr>

      <h3>Trụ sở chính (Japan)</h3>
      <p>
        Fujihaitsu 203, Minami-gyotoku, Ichikawa-shi, Chiba-ken, Japan
        <br>
        Email: lienhe@betonavi.com
        <br>
        Di động: (+81) 80 4948 1805 (KDDI)
      </p>

      <h3>Đại diện Việt Nam</h3>
      <p>
        Số 67c, Ngõ 87, Láng Hạ, Ba Đình, Hà Nội
        <br>
        Di động: 0903-255-350
      </p>

      <br>

      <hr>

      <h3>Gửi tin nhắn đến chúng tôi</h3>


      {% if contact_sent %}
          <p>
              Tin nhắn của bạn đã được gửi tới Betonavi.
              <br>
              Chúng tôi sẽ trả lời bạn trong thời gian sớm nhất!
          </p>
          <p>
            ありがとうございます！
          </p>
      {% else %}

      <form class="form-horizontal" action="/lien-he" method="POST">
           {% csrf_token %}
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">

            {{ form.email }}
          </div>
             {{ form.email.errors }}
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Họ Tên</label>
          <div class="col-sm-10">
            {{ form.name }}
          </div>
             {{ form.name.errors }}
        </div>


          <div class="form-group">
          <label for="message" class="col-sm-2 control-label">Tin Nhắn</label>
          <div class="col-sm-10">
              {{ form.message }}
          </div>
               {{ form.message.errors }}
        </div>


        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Send </button>
          </div>
        </div>
      </form>

      {% endif %}
    </div>
  </div>




{% endblock %}
