{% extends "./base.html" %}


{% block content %}
  <div class="static-page">
    <div class="side">
      <a href="/gioi-thieu">
        <div class="item">Giới thiệu</div>
      </a>
      <a href="/dieu-khoan-cam-ket" class="active">
        <div class="item">Điều khoản - Cam kết</div>
      </a>
      <a href="/chuong-trinh-thanh-vien">
        <div class="item">Chương trình thành viên</div>
      </a>
      <a href="/mua-hang-thanh-toan">
        <div class="item">Mua hàng - thanh toán</div>
      </a>
      <a href="/cau-hoi-thuong-gap">
        <div class="item">Câu hỏi thường gặp</div>
      </a>
      <a href="/lien-he">
        <div class="item">Liên hệ - hỗ trợ</div>
      </a>
    </div>


    <div class="wrapper">

      <!-- ********************************************************************* -->

      <h1>Yêu cầu sản phẩm mới</h1>
      <hr>


      <form class="form-horizontal" action="/yeu-cau-san-pham" method="POST">
           {% csrf_token %}

           {%if request.user.is_anonymous %}
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">

                {{ form.email }}
              </div>
                 {{ form.email.errors }}
            </div>
            {% endif %}


          <div class="form-group">
            <label for="message" class="col-sm-2 control-label">Nội Dung</label>
            <div class="col-sm-10">
                {{ form.content }}
            </div>
                 {{ form.content.errors }}
          </div>


        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Send </button>
          </div>
        </div>
      </form>



    </div>
  </div>




{% endblock %}
