{% extends "./base.html" %}


{% block content %}
  <div class="static-page">
    <div class="side">
      <a href="/gioi-thieu">
        <div class="item">Giới thiệu</div>
      </a>
      <a href="/dieu-khoan-cam-ket">
        <div class="item">Điều khoản - Cam kết</div>
      </a>
      <a href="/chuong-trinh-thanh-vien">
        <div class="item">Chương trình thành viên</div>
      </a>
      <a href="/mua-hang-thanh-toan">
        <div class="item">Mua hàng - thanh toán</div>
      </a>
      <a href="/cau-hoi-thuong-gap" class="active">
        <div class="item">Câu hỏi thường gặp</div>
      </a>
      <a href="/lien-he">
        <div class="item">Liên hệ - hỗ trợ</div>
      </a>
    </div>


    <div class="wrapper">


      <h1>Câu hỏi thường gặp</h1>
      <hr>

      <h3>1. Tại sao bạn chọn Betonavi ? </h3>
      <p>
        <b>Betonavi được thành lập với mục tiêu duy nhất -
        Đưa sản phẩm chất lượng cao Nhật Bản đến với người tiêu dùng Việt Nam.
        </b>
        <br>
        Hiện nay trên thị trường có rất nhiều kênh bán hàng Nhật nội địa,
        xách tay, nhưng chất lượng thường không được đảm bảo, không có hướng dẫn
        sử dụng, đánh giá, tư vấn cho khách hàng, hàng trà trộn, hàng ăn cắp...
        <br>
        Betonavi là kênh bán hàng Nhật chính thống, uy tín, đẳng cấp sẽ đáp ứng
        đúng những yêu cầu khó tính nhất của khách hàng!
      </p>

      <h3>2. Hàng trên betonavi có nguồn gốc từ đâu ? </h3>
      <p>
        Tất cả các sản phẩm bày bán trên Betonavi được mua tại
        các đại lý uy tín tại Nhật Bản.
        <br>
        Một số đại lý tiêu biểu: AEON, Seven & I Holding, Donkihote, Amazon Japan, Yahoo Japan.
      </p>

      <h3>3. Các mặt hàng trên Betonavi là gì ?</h3>
      <p>
        Betonavi cung cấp dịch vụ tại Nhật Bản và ship về Việt Nam.
        Vì vậy đối với những mặt hàng ship về Việt Nam, các mặt hàng đó
        phải không vi phạm lệnh cấm nhập khẩu như hàng cấm, vũ khí, chất hoá học ...
        <br>
        Các mặt hàng phổ biến trên betonavi là các mặt hàng tiêu dùng hằng ngày,
        <br>
        Sản phẩm chăm sóc em bé, chắc sóc sắc đẹp, thời trang ...
      </p>

    </div>
  </div>




{% endblock %}
