{% extends "./base.html" %}


{% block content %}
  <div class="static-page">
    <div class="side">
      <a href="/gioi-thieu">
        <div class="item">Giới thiệu</div>
      </a>
      <a href="/dieu-khoan-cam-ket" class="active">
        <div class="item">Điều khoản - Cam kết</div>
      </a>
      <a href="/chuong-trinh-thanh-vien">
        <div class="item">Chương trình thành viên</div>
      </a>
      <a href="/mua-hang-thanh-toan">
        <div class="item">Mua hàng - thanh toán</div>
      </a>
      <a href="/cau-hoi-thuong-gap">
        <div class="item">Câu hỏi thường gặp</div>
      </a>
      <a href="/lien-he">
        <div class="item">Liên hệ - hỗ trợ</div>
      </a>
    </div>


    <div class="wrapper">

      <!-- ********************************************************************* -->

      <h1>Điều khoản - Cam kết</h1>
      <hr>
      <p class="important">
        Tất cả các sản phẩm tại Betonavi được nhập trực tiếp từ Nhật Bản!
      </p>

      <h3>Điều khoản bảo mật </h3>
      <p>
        <ul>
          <li>Thông tin khách hàng được bảo mật. <br>Tuyệt đối không chia sẻ với bất cứ ai hay đối tác nào khác!</li>
          <li>Thông tin khách hàng được bao gồm: <br> Email, số điện thoại, địa chỉ shipping, thông tin mua hàng.</li>
          <li>Website được xây dựng trên nền tảng bảo mật cao:
            <br>
            Mã hoá thông tin khách hàng.
            <br>
            Thông tin trao đổi giữa server và client bằng giao thức mã hoá SSL.</li>
        </ul>
      </p>


      <h3>Cam kết bán hàng</h3>
      <p>
        <ul>
          <li>
            Nguồn gốc rõ ràng
            <br>
            Tất cả các sản phẩm trên Betonavi có nguồn gốc xuất xứ rõ ràng.
            <br>
            Tât cả các sản phẩm trên Betonavi đều có hoá đơn trích xuất giao dịch.
            <br>
            Tuyệt đối không có các sản phẩm mua tay 3, không hoá đơn, không rõ nguồn gốc.
            <br>
            Khách hàng được cung cấp các hoá đơn sản phẩm.
            <br>
            Tất cả các sản phẩm đều có thể tra cứu qua mã hàng Nhật Bản (JANCODE) toàn cầu.

          </li>

          <li>
            Giao dịch
            <br>
            Tất cả các giao dịch trên Betonavi đều được ghi lại trong lịch sử của khách hàng.
            <br>
            Khách hàng có thể tra cứu, xuất hoá đơn, in hoá đơn.
            <br>
            Nếu giao dịch thất bại, Betonavi sẽ hoàn tiền hoàn toàn cho quý khách.
          </li>
        </ul>
      </p>


    </div>
  </div>




{% endblock %}
