<!doctype html>
<html lang="vi">
    <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load staticfiles %}

        <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="57x57" href="/static/images/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/images/icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/images/icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/images/icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/images/icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/images/icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/images/icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/images/icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/icons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/images/icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/icons/favicon-16x16.png">
        <link rel="manifest" href="/static/images/icons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/images/icons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Share Graph Meta -->
        <meta property="og:site_name" content="Betonavi.com" />
        <meta property="fb:app_id" content="1285130001515212">
        {% block graphmeta %}
    	  <title>Trang thương mại điện tử hàng Nhật - Betonavi!</title>
    	  <meta name="description" content="Trang thương mại điện tử hàng Nhật nội địa đầu tiên, Bạn có thể mua các mặt hàng Nhật đa dạng từ hàng tiêu dùng, mỹ phẩm Nhật, đồ Điện tử, sữa cho bé ...">
        <meta property="og:title" content="Trang thương mại điện tử hàng Nhật - Betonavi!">
        <meta property="og:description" content="Trang thương mại điện tử hàng Nhật nội địa đầu tiên, Bạn có thể mua các mặt hàng Nhật đa dạng từ hàng tiêu dùng, mỹ phẩm Nhật, đồ Điện tử, sữa cho bé ...">
        <meta property="og:image" content="https://betonavi.com/static/images/promotion_image11.jpg">
        <meta property="og:url" content="https://betonavi.com" />
        <!-- End Share Graph Meta -->
        {% endblock %}


        <link rel="shortcut icon" href="{% static 'webapp/images/favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'webapp/images/apple-touch-icon.png' %}"/>

        <link rel="stylesheet" type="text/css" href="{% static 'webapp/stylesheets/common.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/vendor/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/bower_components/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/stylesheets/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/stylesheets/animate.css' %}">


        <meta name="google-site-verification" content="wB516riFrL_ICQaVwXg752OyWUFDjsnQESaMkgN38wA" />

        <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://betonavi.com",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "https://betonavi.com/search?q={search_term_string}",
          "query-input": "required name=search_term_string"
          }
        }
      </script>


    </head>
    <body >
        <header id="header">

            <div class="main-container section">
                <a href="/" id="logo">
                   Betonavi
                </a>
                <p id="slogan">
                  Trang thương mại điện tử hàng Nhật!
                </p>

                <div id="search-box">
                    <input id="search-keyword" type="text" placeholder="Tìm kiếm sản phẩm..." class="searchbox" value="{{ request.session.keyword }}">
                    <span class="search-button" id="search-btn"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>


                <div id="user-tools">

                    {% if user.is_authenticated %}
                        <span>
                            <a href="/accounts/profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user.username}}</a>
                            |
                            <a href="/accounts/logout" class="logOutBtn">Đăng Xuất</a>
                        </span>
                    {% else %}
                        <a href="/accounts/login">Đăng Nhập</a>
                        |
                        <a href="/accounts/signup">Đăng Kí</a>
                    {% endif %}
                </div>

                <div id="shopping-tools">
                  <a href="/favorite">
                      <div class="item">
                          <i class="fa fa-heart-o" aria-hidden="true"></i>
                          <span class="text">Yêu Thích</span>
                          <span id="saved-quantity" class="quantity">{{ request.session.saved_number }}</span>
                      </div>
                  </a>

                  <a href="/cart" class="cart-button">
                      <div class="item">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          <span class="text">Giỏ Hàng</span>
                          <span id="cart-quantity" class="quantity">{{ request.session.cart_number }}</span>
                      </div>
                  </a>
                </div>
            </div>

        </header><!-- header -->


        <div class="main-container">
          {% block content %}
          {% endblock %}
        </div>


        <div id="footer">
          <div class="main-container">
            <div class="logo">
              <span class="branding">Betonavi</span>
              <p>
                Giúp bạn mua hàng chính hiệu từ Nhật Bản !
              </p>
            </div>

            <div class="grid">
              <div class="column">
                <ul>
                  <li><a href="/gioi-thieu">Giới thiệu</a></li>
                  <li><a href="/blog">Blog review</a></li>
                  <li><a href="/lien-he">Liên hệ</a></li>
                </ul>
              </div>

              <div class="column">
                <ul>
                  <li><a href="/chuong-trinh-thanh-vien">Chương trình thành viên</a></li>
                  <li><a href="/dieu-khoan-cam-ket">Điều khoản - Cam kết</a></li>
                  <li><a href="/mua-hang-thanh-toan">Cách thức mua hàng</a></li>

                </ul>
              </div>


              <div class="column">
                <ul>
                  <li><a href="/dieu-khoan-cam-ket">Câu hỏi thường gặp</a></li>
                </ul>
                <ul>
                  <li><a href="https://www.facebook.com/betonaviblog/">Kết nối Facebook</a></li>
                </ul>
                <ul>
                  <li><a href="/tuyen-dung">Tuyển dụng</a></li>
                </ul>
              </div>

            </div>

            <div class="facebook-plugin">
              <div class="fb-page" data-href="https://www.facebook.com/betonaviblog/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/betonaviblog/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/betonaviblog/">Betonavi</a></blockquote></div>
            </div>

          </div>


          <div class="bottom">
            © 2017 Betonavi - Trang thương mại điện tử hàng Nhật!
          </div>
        </div>



        <div id="campainPopup">
          <div class="overlay"></div>
          <div class="wrapper">
            <i class="campainPopupClose" class="fa fa-times" aria-hidden="true"></i>

            <div class="title">Nhân Dịp Khai Trương BETONAVI.COM</div>
            <br>
            <p>GIẢM GIÁ </p>
            <p class="saleoff">200,000đ</p>
            <p>Cho đơn hàng lớn hơn 500,000 đầu tiên</p>


            <hr>

            <div class="email">
              <div class="center">
                <input id="campainEmail" type="text" placeholder="email">
                <button id="sendCampainEmail" class="btn btn-small">Send</button>
              </div>
              <br>
              <p>Hãy tham gia ngay với chúng tôi để được mua những sản phẩm Nhật Bản chất lượng nhất! </p>

            </div>

          </div>
        </div>


        <div id="requestProductBtn">Yêu Cầu Sản Phẩm</div>
        <div id="requestProduct">
          <div class="overlay"></div>
          <div class="wrapper">
            <i class="requestProductClose" class="fa fa-times" aria-hidden="true"></i>

            <div class="title">Yêu cầu sản phẩm mới</div>

            <p>
              Nếu bạn không tìm được sản phẩm của bạn trên Betonavi, Bạn có
              thể gửi thông tin về sản phẩm cho chúng tôi.
            </p>
            <p>
              Chúng tôi sẽ tìm hiểu về sản phẩm và thêm vào sớm nhất có thể.
            </p>

            <hr>

            <p>
              Thông tin sản phẩm có thể là text hoặc link.
            </p>

            <textarea placeholder="VD: Son môi Shu màu hồng ..." id="requestProductContent" ></textarea>

            {% if request.user.is_anonymous %}
            <br>
            <br>

            <p>Hãy cho tôi biết email của bạn, chúng tôi sẽ liên hệ với bạn</p>
            <input id="requestProductEmail" type="text" placeholder="email">
            {% endif %}

            <br>
            <br>

            <div class="center">
              <button id="sendRequestProduct" class="btn btn-small">Gửi Thông Tin</button>
            </div>

          </div>
        </div>

        <script src="{% static 'webapp/vendor/modernizr.js' %}" type="text/javascript" charset="utf-8" ></script>
        <script src="{% static 'webapp/bower_components/jquery/dist/jquery.min.js' %}" type="text/javascript" charset="utf-8" ></script><!-- jquery.js -->
        <script src="{% static 'webapp/bower_components/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8" ></script><!-- bootstrap.js -->
        <script src="{% static 'webapp/js/common.js' %}" type="text/javascript" async defer></script>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1285130001515212";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-90051228-1', 'auto');
          ga('send', 'pageview');
        </script>


        <!--Start of Zendesk Chat Script-->
        <!-- <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="https://v2.zopim.com/?4rGPeeyC003FZtVCeoZLOTCuiToxfvyr";z.t=+new Date;$.
        type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
        </script> -->
        <!--End of Zendesk Chat Script-->

        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId: "1285130001515212",
              xfbml: true,
              version: "v2.6"
            });
          };
          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) { return; }
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>

        <div id="messenger-plugin">
          <div class="messenger-button">
              <img src="/static/images/facebook-messenger.svg" alt="">
              Chat Với Chúng Tôi
          </div>
          <div class="close">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <div class="fb-page"
               data-href="https://www.facebook.com/betonaviblog/"
               data-tabs="messages"
               data-width="400"
               data-height="300"
               data-small-header="true">
            <div class="fb-xfbml-parse-ignore">
              <blockquote></blockquote>
            </div>
          </div>
        </div>

    </body>
</html>
