{% extends "./base.html" %}

{% load humanize %}

{% block content %}


    <section class="">
        <h2>Giỏ hàng của bạn ({{products.count}})</h2>

        <div class="order-confirmation grid">
            <div class="column items">
              {% if products.count == 0 %}
                <p class="message">
                  Bạn chưa có sản phẩm nào trong giỏ hàng!
                </p>
              {% endif %}
              <div class="cart-list">
                  {% for item in products %}
                  <div class="item">
                      <div class="thumbnail" style="background-image:url(/media/{{ item.product.image }})" ></div>

                      <a target="_blank" href="/product/{{ item.product.id }}-{{ item.product.slug }}">{{ item.product.vn_name }}</a>


                      <div class="options">
                        {% if item.color %}
                         <div>
                          <span>Màu: </span><span class="color">{{ item.color }}</span>
                          </div>
                        {% endif %}
                        {% if item.size %}
                         <div>
                          <span>Kích Thước: </span><span class="size">{{ item.size }}</span>
                          </div>
                        {% endif %}

                      </div>

                      {% if item.product.availability and item.product.on_sale %}
                        <div class="quantity">
                            <span class="field-label">Số lượng</span>
                            <select class="select cart-quantity" cid="{{ item.id }}">
                              {% for n in quantity_range %}
                                <option
                                    {% if n == item.quantity %}selected="selected"{% endif %}
                                   value="{{n}}" >{{n}}</option>
                              {% endfor %}
                            </select>
                        </div>
                      {% else %}
                        <input type="hidden" class="out_of_stock">
                        <span class="quantity strong red">Tạm thời hết hàng</span>
                      {% endif %}



                      <div class="price">
                          <span class="unit-price" unitprice="{{item.product.sale_price}}" class="price-number">{{item.product.sale_price|intcomma}}</span> VND
                      </div>

                      <div cid="{{ item.id }}" class="delete-btn remove-cart btn btn-o btn-small">&nbsp;&nbsp;Xoá&nbsp;&nbsp;</div>

                  </div><!-- item -->
                  {% endfor %}
              </div>
            </div>

            <div class="column order-info">
              {% if products.count == 0 %}
                <p class="message">
                  Bạn chưa có sản phẩm nào trong giỏ hàng!
                </p>

              {% else %}
                <div id="cart-summary">

                    <h4>Tổng hợp đơn hàng</h4>

                    <div class="summary">

                      <div>
                        <span class="field-label">Tổng Giỏ Hàng</span>
                        <span id="total-combined-price"  class="price-total">0</span> VND
                      </div>
                    </div>


                    <div class="centering buy-btn hidden">
                      <a href="/order/phuong-thuc-ship"><div class="btn">Mua Hàng</div>
                      </a>
                    </div>

                    <div class="notify-out-off-stock strong red">
                      <br>
                      <br>
                      Rỏ hàng của bạn có sản phẩm đang hết hàng!
                    </div>
                </div>

              {% endif %}

            </div>
        </div>


    </section>




{% endblock %}
