{% extends "./base.html" %}

{% load humanize %}

{% block content %}





  <!-- <h2>{{ category.name }}</h2> -->

  <div id="categoryPage">
    <div class="category-list">
      <h3>Danh Mục</h3>
      <hr>
      {% if category.parent %}
          <a class="parent" href="/category/{{category.parent.slug}}">  &laquo; {{ category.parent.name }}</a>
          <hr>
      {% endif %}

      {% for link in child_categories %}
        <a class="child" href="/category/{{ link.slug }}">{{ link.name }}</a>
      {% endfor %}
    </div>

    <div class="main clearfix">

      <div class="breadscum" itemscope itemtype="http://schema.org/BreadcrumbList">
          <a itemprop="itemListElement" href="/"><span itemprop="name" >Home</span></a> &raquo;

          {% if category.parent %}
              <a itemprop="itemListElement" href="/category/{{category.parent.slug}}"><span>{{ category.parent.name }}</span></a> &raquo;
          {% endif %}

          <a itemprop="itemListElement" href="/category/{{category.slug}}"><span itemprop="name">{{ category.name }}</span></a>
      </div>

      <div class="section">
        <div class="product-list clearfix" >
            {% for item in products %}
                <div class="item" itemscope itemtype="http://schema.org/Product">
                    <a itemprop="url" href="/product/{{ item.id }}-{{ item.slug }}">
                        <div itemprop="image" class="thumbnail" style="background-image: url(/media/{{ item.image }})" ></div>
                        <img itemprop="image" src="/media/{{ item.image }}" alt="" style="width: 0px; height: 0px;">
                        {% if item.rating > 4%}<div class="rating">{{ item.rating }}</div>{% endif %}
                        <div itemprop="name" class="name">{{ item.vn_name }}</div>
                        <div class="desc">
                            <div class="price jp">
                                Giá: <span >{{ item.sale_price|intcomma }}</span> VND
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
          </div>
      </div>
    </div>

    <div class="pagination">
      <div class="step-links">
          {% if products.has_previous %}
              <a class="link" href="?page={{ products.previous_page_number }}">&laquo; Trang Trước</a>
          {% endif %}

          <span class="current">
              {{ products.number }} / {{ products.paginator.num_pages }}
          </span>

          {% if products.has_next %}
              <a class="link" href="?page={{ products.next_page_number }}">Trang Tiếp &raquo;</a>
          {% endif %}
      </div>
  </div>

</div>



{% endblock %}
