{% extends "./base.html" %}

{% load humanize %}
{% block content %}


<h2>Sản phẩm đã lưu ({{ products.count }})</h2>

<section class="section">

    <div class="cart-list">
        {% for item in products %}

        <div class="item">
          <div class="thumbnail" style="background-image:url(/media/{{ item.product.image }})" ></div>

          <a target="_blank" href="/product/{{ item.product.id }}-{{ item.product.slug }}">{{ item.product.vn_name }}</a>

          <div class="price">
              <span unitprice="{{item.product.sale_price}}" class="price-number">{{item.product.sale_price|intcomma}}</span> VND
          </div>

            <div sid="{{ item.id }}" class="delete-btn remove-favorite btn btn-o btn-small">&nbsp;&nbsp;Xoá&nbsp;&nbsp;</div>
        </div><!-- item -->
        {% endfor %}
    </div>
</section>

{% endblock %}
