{% extends "./base.html" %}
{% load humanize %}

{% block content %}
<div class="breadscum">
    <a href="/">Home</a>
    {% if detail.category.parent %}
        &raquo;
        <a href="/category/{{detail.category.parent.slug}}"> {{ detail.category.parent.name }}</a>
    {% endif %}
    {% if detail.category %}
        &raquo;
        <a href="/category/{{detail.category.slug}}"> {{ detail.category.name }}</a>
    {% endif %}
    <a href="/category/{{detail.slug}}">{{ detail.name }}</a>
</div>

<div class="grid" id="featureSet">

  <div class="column main">
    <img class="ribbon"  src="/static/images/ribbon_cross.png" width="100" alt="">
    <h1>{{ feature_set.name }}</h1>

    <img class="rep-image" src="/media/{{ feature_set.image }}" alt="No Image" />

    <div class="share">
      <!-- <button class="fb-btn">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        Chia sẻ Facebook
      </button> -->

      <div class="fb-like" data-href="http://localhost:8004/features/me-va-be/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

    </div>

    <div class="desc">
      <h2>Giới thiệu bộ sản phẩm</h2>

      <p>
        {{ feature_set.description }}
      </p>
    </div>


    <img src="/static/images/border-line.png" width="600" alt="">

    <div class="products">

      <h2>Các sản phẩm</h2>

      {% for item in feature_set.items.all %}
        <div class="item">
          <div class="thumbnail" style="background-image: url(/media/{{ item.product.image }})" ></div>

          <a target="_blank" href="/product/{{ item.product.id }}-{{ item.product.slug }}"><h4>{{ item.product.vn_name }}</h4></a>
          <p>
            {{ item.description }}
          </p>
          <p>
            {{ item.product.description }}
          </p>
        </div>

      {% endfor %}
    </div>

    <div class="cart-btn">
      <button class="btn">Thêm Vào Giỏ Hàng Bộ Sản Phẩm</button>
    </div>

    <div class="comment-wrapper">
      <div class="fb-comments" data-href="https://betonavi.com/features/{{feature_set.id}}-{{feature_set.slug}}" data-numposts="5"></div>
    </div>

  </div>

  <div class="column recommend">
    <h3>Recommendations</h3>
  </div>
</div>

{% endblock %}
