{% extends "./base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block content %}

    <div id="banner">
      <div class="column large">
        <div class="category">
          <div class="bg-img" style="background-image:url(/media/{{banner.image}})"></div>
          <div class="overlay"></div>
          <ul class="category-list">
              {% for item in category %}
              <li class="category-item">
                  <a href="/category/{{item.slug}}">
                      <span class="name">{{ item.name }}</span>
                  </a>
              </li>
              {% endfor %}
          </ul>
        </div>




        <div id="main-carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            {% for item in banners %}
            <li data-target="#main-carousel" data-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 == 0%} active {% endif %}"></li>
            {% endfor %}
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {% for item in banners %}
            <div class="item {% if forloop.counter0 == 0%} active {% endif %}">
              <div class="img" style="background-image:url(/media/{{ item.image }})"></div>
            </div>
            {% endfor %}
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#main-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#main-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>




      </div>
      <div class="column small intro">
        <div class="img" style="background-image:url(/static/images/service_intro.jpg)"></div>
      </div>
    </div>


    {% for ct in category %}
    <div>
      <div class="block-heading">
        <h3 class="heading">{{ ct.name }}</h3>
        <a href="/category/{{ct.slug}}" class="more">
            <span class="seeall">Tất Cả &raquo;</span>
        </a>
      </div>

      <section class="section category-block" style="border-color: {{ct.color}} !important">
          <div class="promo">
            <div class="img" style="background-image:url(/media/{{ct.small_image}})"></div>
          </div>

          <div class="product-list clearfix">
              {% for item in ct.features %}
                  <div class="item" itemscope itemtype="http://schema.org/Product">
                      <a itemprop="url" href="/product/{{ item.id }}-{{ item.slug }}">
                          <div class="thumbnail" style="background-image: url(/media/{{ item.image }})" ></div>
                          <img itemprop="image" src="/media/{{ item.image }}" alt="" style="width: 0px; height: 0px;">
                          {% if item.rating > 4%}<div class="rating">{{ item.rating }}</div>{% endif %}
                          <div class="name line2" itemprop="name">{{ item.vn_name }}</div>
                          <div class="desc">
                              <div class="price">
                                  <span class="price-number" >{{ item.sale_price|intcomma }}</span> VND
                              </div>
                          </div>
                      </a>
                  </div>
              {% endfor %}
          </div>
      </section>
    </div>
    {% endfor %}



<!-- {% if request.user.is_anonymous %}

  <script>
    setTimeout(function () {
      document.getElementById('campainPopup').style.display = 'block';
    }, 3000)
  </script>

{% endif %} -->

<!--
<script>
  setTimeout(function () {
    LtNotify.error(
      'Site đang chạy bản thử nghiệm, giá đang cập nhật chuẩn hơn!'
    )
  }, 5000)
</script> -->


{% endblock %}
