{% extends "./base.html" %}
{% load humanize %}

{% block content %}

    <section class="">
        <h2>Xác nhận đơn hàng</h2>

        <div class="order-confirmation grid">
            <div class="column items">
              <h4>Sản phẩm</h4>

              <div class="cart-list">
                  {% for item in cart_items %}
                  <div class="item">
                    <div class="thumbnail" style="background-image:url(/media/{{ item.product.image }})" ></div>

                    <a target="_blank" href="/product/{{ item.product.id }}-{{ item.product.slug }}">{{ item.product.vn_name }}</a>

                    <div class="options">
                      {% if item.color %}
                       <div>
                        <span>Màu: </span><span class="color">{{ item.color }}</span>
                        </div>
                      {% endif %}
                      {% if item.size %}
                       <div>
                        <span>Kích Thước: </span><span class="size">{{ item.size }}</span>
                        </div>
                      {% endif %}
                    </div>

                    <div class="quantity">
                        <span class="field-label">Số lượng</span>

                        <span class="number">{{ item.quantity }}</span>
                    </div>

                    <div class="price">
                        <span unitprice="{{item.product.sale_price}}" class="price-number">{{item.product.sale_price|intcomma}}</span> VND
                    </div>
                  </div><!-- item -->
                  {% endfor %}
              </div>
            </div>

            <div class="column order-info">
                <h4>Tổng hợp đơn hàng</h4>

                <div class="summary">
                  <div>
                    <span class="field-label">Giá Đơn Hàng</span>
                    <span class="price">{{order_total|intcomma}} VND</span>
                  </div>

                  <div>
                    <span class="field-label">Phí Vận Chuyển</span>
                    <span class="price">{{shipping_fee|intcomma}} VND</span>
                  </div>

                  {% if price_off > 0 %}
                  <div>
                    <span class="field-label">Giảm Giá</span>
                    <span class="price">-{{price_off|intcomma}} VND</span>
                    <p class="hint"> Giảm giá cho đơn hàng đầu tiên! </p>
                  </div>
                  {% endif %}

                  <div class="total-summary">
                    <span class="field-label">Tổng</span>
                    <span class="price-total">{{combined_total|intcomma}} VND</span>
                  </div>
                </div>


                <div class="shipping-info">
                    <h4>Thông Tin Giao Hàng</h4>

                    <table>
                      <tr>
                        <td>Họ Tên</td>
                        <td class="red">{{shipping_address.shipping_fullname}}</td>
                      </tr>

                      <tr>
                        <td>Số Điện Thoại</td>
                        <td class="red">{{shipping_address.shipping_phone}}</td>
                      </tr>

                      <tr>
                        <td>Địa Chỉ Giao Hàng</td>
                        <td class="red">{{shipping_address.shipping_address}}</td>
                      </tr>
                    </table>

                </div>


                <form action="/order/xac-nhan" method="POST" class="centering">
                   {% csrf_token %}
                    <button type="submit" class="btn">Mua Hàng</button>
                </form>


            </div>

        </div><!-- cart recipe -->



    </section>




{% endblock %}
