{% extends "./base.html" %}


{% block content %}

    <h2>Nhập thông tin khách hàng</h2>

    <section class="section">
        <div class="order-info-input grid">

            <div class="column new">
              <h4>Tạo địa chỉ người nhận mới</h4>

              <form action="/order/phuong-thuc-ship" method="POST">
                  <input type="hidden" name="k" value="{{k}}">
                  {% csrf_token %}
                  {{ form }}

                  <div class="centering">
                    <input class="btn" type="submit" value="Tạo Địa Chỉ" />
                  </div>
              </form>
            </div>

            <div class="column exist">
              <h4>Địa chỉ người nhận đã tạo</h4>

              {% for addr in shipping_addresses %}
              <div class="shippingAddress">

                  <div class="summary">
                    <div>
                      <span class="field-label">Họ Tên</span>
                      <span class="hl">{{addr.shipping_fullname}}</span>
                    </div>

                    <div>
                      <span class="field-label">Số Điện Thoại</span>
                      <span class="hl">{{addr.shipping_phone}}</span>
                    </div>

                    <div>
                      <span class="field-label">Địa Chỉ Giao Hàng</span>
                      <span class="hl">{{addr.shipping_address}}</span>
                    </div>
                  </div>


                  <form action="use-address" method="POST">
                    <input type="hidden" name="k" value="{{k}}">
                    <div class="centering">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ addr.id }}">
                        <input class="btn btn-small" type="submit" value="Chuyển Đến Địa Chỉ Này" />
                    </div>
                  </form>

              </div>
              {% endfor %}
            </div>
        </div>


    </section>




{% endblock %}
