{% extends "./base.html" %}


{% block content %}
  <br><br>
    <section class="section">

        <div class="text-center">
            <br>
            <br>
            <br>
            <h2>
                Cảm ơn bạn đã đặt hàng tại Betonavi.com!
            </h2>

            <p>
              Đơn hàng của bạn đã được tạo thành công.
              <br>
              Bạn có thể xem chi tiết tại trang <a href="/order/detail/{{ order.uuid }}">Chi tiết đơn hàng</a>.
              <br>

              Chúng tôi cũng gửi email xác nhận đến hòm thư của bạn trong giây lát.
          
            </p>

            <br>
            <a href="/">
                <div class="btn btn-o">
                  <i class="fa fa-home" aria-hidden="true"></i>
                  Tiếp Tục Mua Hàng
                </div>
            </a>

            <br>
            <br>
            <br>
        </div>
    </section>


{% endblock %}
