{% extends "./base.html" %}
{% load humanize %}

{% block content %}
<div id="orderDetail">
  <div class="main">

    <div class="section title">
      <h2>CHI TIẾT ĐƠN HÀNG <span class="strong">{{ order.order_number }}</span></h2>
    </div>


    <div class="section">
        <h2>Trạng thái đơn hàng</h2>

        <div class="order-status-timeline">
          <div class="status grid">
            <div class="column">Đặt Hàng</div>
            <div class="column">Thanh Toán</div>
            <div class="column">Vận Chuyển</div>
            <div class="column">Hoàn Tất</div>
          </div>
          <div class="status grid line">
            <div class="column">
              <div class="status-line first done"></div>
            </div>
            <div class="column">
              <div class="status-line {% if order.is_paid %} done {% endif %}"></div>
            </div>
            <div class="column">
              <div class="status-line {% if order.is_delivering %} done {% endif %}"></div>
            </div>
            <div class="column">
              <div class="status-line last  {% if order.is_completed %} done {% endif %}"></div>
            </div>
          </div>
          <div class="status grid">
            <div class="column">{{order.created_at}}</div>
            <div class="column">
                {% if order.is_paid %} {{ order.paid_at }} {% else %} Chờ Thanh Toán {% endif %}
            </div>
            <div class="column">
                {% if order.is_delivering %} Đang Vận Chuyển {% else %} - {% endif %}
            </div>
            <div class="column">
                {% if order.is_completed %} Đã Hoàn Tất {% else %} - {% endif %}
            </div>
          </div>
        </div>
  </div>


  <div class="section">
    <h2>Thông tin đặt hàng</h2>
    <div class="grid">
      <div class="column">
        <h4>Địa chỉ ship hàng</h4>

        <div>{{ order.shipping_fullname }}</div>
        <div>{{ order.shipping_phone }}</div>
        <div>{{ order.shipping_address }}</div>


      </div>

      <div class="column">
        <h4>Tổng hợp đơn hàng</h4>

        <table>
          <tr>
            <td>Giá đơn hàng: </td>
            <td class="price red">{{ order.vn_total_price|intcomma }} VND</td>
          </tr>

          <tr>
            <td>Phí shipping: </td>
            <td class="price red">{{ order.shipping_fee|intcomma }} VND</td>
          </tr>

          {% if order.price_off > 0 %}
          <tr>
            <td>Giảm Giá: </td>
            <td class="price red">-{{ order.price_off|intcomma }} VND</td>
          </tr>
          {% endif %}

          <tr>
            <td> Tổng cộng: </td>
            <td class="price strong">{{ order.vn_order_amount|intcomma }} VND</td>
          </tr>

        </table>
      </div>
    </div>
  </div>


  <div class="section">
    {% if order.is_paid %}
      <h2>Trạng thái thanh toán</h2>

      <h3 class="red strong">
        Thanh toán hoàn tất!
      </h3>
      <p>
        Chúng tôi đang đóng gói và vận chuyển hàng đến địa chỉ nhận hàng của bạn!
      </p>

    {% else %}
      <h2>Trạng thái thanh toán</h2>
      <h3 class="red strong">Bạn chưa thanh toán! </h3>
      <p>Xin vui lòng chuyển khoản vào một trong các TK bên dưới. </p>
      <p>
        Số tiền cần chuyển: <span class="strong red price">{{ order.vn_order_amount|intcomma }} VND</span>
      </p>
      <div class="grid">
          {% for item in bank_accounts %}
          <div class="column">
            <h3> Tài khoản {{forloop.counter}} </h3>

            <table>
              <tr>
                <td class="key">Ngân Hàng</td>
                <td class="value">{{ item.bank_name }}</td>
              </tr>

              <tr>
                <td class="key">Chi nhánh</td>
                <td class="value">{{ item.branch_name }}</td>
              </tr>

              <tr>
                <td class="key">Chủ Tài Khoản</td>
                <td class="value">{{ item.owner_name }}</td>
              </tr>

              <tr>
                <td class="key">Số Tài Khoản</td>
                <td class="value">{{ item.number }}</td>
              </tr>
            </table>
            </div>
          {% endfor %}
      </div>

    {% endif %}

  </div>

  <div class="section">

    <h2>Chi tiết sản phẩm trong đơn hàng</h2>

    <div class="item">

        <ul class="item-list">
          {% for item in order.items.all %}
            <li>
              <a href="/product/{{item.product.id}}-{{ item.product.slug }}">{{ item.product.vn_name }}</a>
            </li>
          {% endfor %}
        </ul>

    </div>
  </div>

  </div>

  <div class="message-staff">
    <div class="section">
      <h2>Trao đổi với nhân viên</h2>
      <p class="info">
        Trao đổi với nhân viên về đơn hàng, thanh toán ...
      </p>
      <form action="/order/detail/{{ order.uuid }}" method="POST">
        {% csrf_token %}

        {{ form }}
        <br />


        <div>
          <button type="submit" class="btn btn-o btn-small">Gửi tin nhắn</button>
        </div>
      </form>

      <div class="message-list">
        {% for item in messages %}
          <div class="item {% if item.is_staff_reply %} staff {% else %} user {% endif %}">
            <div class="sender">{% if item.is_staff_reply %} Nhân Viên  {% else %} Bạn {% endif %}</div>
            <div class="message">{{ item.message }}</div>
            <div class="time">{{ item.created_at }}</div>
          </div>

        {% endfor %}
      </div>

    </div>

  </div>
</div>
{% endblock %}
