{% extends "./base.html" %}
{% load humanize %}

{% block graphmeta %}

<!-- Share Graph Meta -->
<title>{{ detail.vn_name }}</title>
<meta name="description" content="{{ detail.vn_description }}">
<meta property="og:title" content="{{ detail.vn_name }}">
<meta property="og:description" content="{{ detail.vn_description }}">
<meta property="og:image" content="https://betonavi.com/media/{{ detail.image }}">
<meta property="og:url" content="https://betonavi.com/product/{{detail.id}}-{{detail.slug}}/" />
<!-- End Share Graph Meta -->
{% endblock %}



{% block content %}
<div class="breadscum" itemscope itemtype="http://schema.org/BreadcrumbList">
    <a itemprop="itemListElement" href="/"><span itemprop="name">Home</span></a>
    {% if detail.category.parent %}
        &raquo;
        <a itemprop="itemListElement" href="/category/{{detail.category.parent.slug}}"><span itemprop="name">{{ detail.category.parent.name }}</span></a>
    {% endif %}
    {% if detail.category %}
        &raquo;
        <a itemprop="itemListElement" href="/category/{{detail.category.slug}}"><span itemprop="name">{{ detail.category.name }}</span></a>
    {% endif %}

</div>

<section class="section">
  <div id="product-detail" itemscope itemtype="http://schema.org/Product">
    <div class="main grid">
      <div class="column images">
        <img itemprop="image" src="/media/{{ detail.image }}" alt="" style="width: 0px; height: 0px;">
        <div itemprop="image" id="large-image" style="background-image:url(/media/{{ detail.image }})"></div>

        <div class="img-slider">
          {% for img in images %}
            <img src="/media/{{ img.image }}" alt="">

          {% endfor %}
        </div>

      </div>
      <div class="column info">
        <h2 itemprop="name" class="name">{{ detail.vn_name }}</h2>

        <div style="display: inline-block; font-weight: bold; margin: 5px 0; padding: 5px 10px; background: #fff2da; color: red;">
          Sản phẩm sẽ chính thức mở bán trong tháng 11 / 2017
        </div>

        {% if detail.rating > 3 %}
        <div class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            Rating:
            <span class="em"><span itemprop="ratingValue">{{ detail.rating }}</span> <i class="fa fa-star" aria-hidden="true"></i></span>
            <span class="info">
              Sản phẩm được đánh giá {{ detail.rating }}/5 trên trang bán hàng Amazon Nhật Bản.
            </span>
          </div>
        {% endif %}

        <div class="price"  itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <span>Giá: </span>
            <span itemprop="price" content="{{detail.sale_price}}" class="hl">
              {{detail.sale_price|default_if_none:"-"|intcomma }}
            </span>
            <span itemprop="priceCurrency" content="VND">VND</span>
        </div>
        <p class="info">
          Giá sản phẩm đã bao gồm phí chuyển về Việt Nam.
        </p>


        <div class="option">
          {% if colors %}
            <hr>
            <h4>Màu: <span id="color-name" data-persist=""></span> </h4>
            {% for color in colors %}
              <div class="border color" data-name="{{ color.name }}">
                <div style="background: {{color.code}}" data-name="{{ color.name }}">
              </div>
              </div>
            {% endfor %}
            <p class="error err-color">Hãy chọn màu sản phẩm </p>
          {% endif %}

          {% if sizes %}
            <h4>Kích cỡ:  </h4>
            {% for size in sizes %}
              <div class="item size" >
                {{ size }}
              </div>
            {% endfor %}
            <p class="error err-size">Hãy chọn kích cỡ sản phẩm </p>
          {% endif %}
        </div>


        {% if not detail.availability or not detail.on_sale %}
          <div class="status">
            <span>Trạng Thái: </span> <span class="strong red">Hết Hàng</span>
          </div>
        {% endif %}

        <div class="buttons">

            {% if False %}
            <div class="btn add-to-cart" pid="{{ detail.id }}">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>Thêm Giỏ Hàng</span>
            </div>
            {% endif %}

            <div class="btn btn-o btn-small save" pid="{{ detail.id }}">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <span>Yêu Thích</span>
            </div>

            {% if request.user.is_superuser %}

              <a target="_blank" href="https://www.amazon.co.jp/dp/{{detail.asin}}">Edit ON Amazon</a>
            {% endif %}

        </div>

        <div class="intro" itemprop="description">
          <h2 class="name">Giới thiệu sản phẩm</h2>

          {% if detail.vn_introduction %}
          {{ detail_introduction|safe }}
          {% else %}
          <p>Thông tin giới thiệu sản phẩm đang được cập nhật!</p>
          {% endif %}

        </div>

      </div>
    </div>

    <div class="detail-info" itemprop="description">
      <div class="technical-info">
        <h2 class="name">Thông số kĩ thuật</h2>
        <p>Chú ý: Một vài chi tiết đang Việt hoá</p>
        <table>
          {% for key, value in technical_detail %}
            <tr>
              <td class="key">{{key}}</td>
              <td class="value">{{value|safe}}</td>
            </tr>
          {% endfor %}
        </table>
      </div>

      <div class="description">
        <h2 class="name">Mô tả sản phẩm</h2>
          {{ detail_description|safe }}
      </div>
    </div>


    <div class="same-category-products">
      <h2>Sản phẩm cùng danh mục</h2>
      <div class="product-list clearfix">
          {% for item in same_category_products %}
              <div class="item">
                  <a href="/product/{{ item.id }}-{{ item.slug }}">
                      <div class="thumbnail" style="background-image: url(/media/{{ item.image }})" ></div>
                      {% if item.rating > 4%}<div class="rating">{{ item.rating }}</div>{% endif %}
                      <div class="name line2">{{ item.vn_name }}</div>
                      <div class="desc">
                          <div class="price">
                              <span class="price-number">{{ item.sale_price|intcomma }} VND</span>
                          </div>
                      </div>
                  </a>
              </div>
          {% endfor %}
      </div>
    </div>
  </div>

</section>



<!--
{% if request.user.is_anonymous %}
  <script>
    setTimeout(function () {
      document.getElementById('campainPopup').style.display = 'block';
    }, 3000)
  </script>
{% endif %} -->

{% endblock %}
