{% extends "./base.html" %}
{% load humanize %}

{% block content %}
<div id="profile-content">

    <h2>Tài khoản của bạn</h2>
    <section class="section">

      <div class="wrapper profile">

        <div class="column">
          <h3>Thông tin tài khoản </h3>
          <div>
            <span class="field-label">Tên tài khoản</span>
            <span class="hl">{{ user.username }}</span>
          </div>
          <div>
            <span class="field-label">Điểm thưởng</span>
            <span class="hl">0</span>
          </div>

          <div>
            <span class="field-label">Số bạn bè đã mời</span>
            <span class="hl">{{invited_count}}</span>
          </div>

          <p>
            <a href="/accounts/password/change/">Đổi mật khẩu</a>
          </p>

          <h3>Địa chỉ ship hàng đã tạo</h3>
          {% if addresses.count == 0 %}
            <p>
              Aiya, Bạn chưa tạo địa chỉ ship hàng nào!
            </p>
          {% endif %}
          {% for addr in addresses %}
            <div class="address">
              <table>
                <tr>
                  <td class="tbl-label">Họ Tên</td>
                  <td class="hl">{{addr.shipping_fullname}}</td>
                </tr>
                <tr>
                  <td class="field-label">Số Điện Thoại</td>
                  <td class="hl">{{addr.shipping_phone}}</td>
                </tr>
                <tr>
                  <td class="field-label">Địa Chỉ Giao Hàng</td>
                  <td class="hl">{{addr.shipping_address}}</td>
                </tr>
              </table>
            </div>
          {% endfor %}
        </div>
        <div class="column">
          <div class="membership">
            <h3 class="heading">Betonavi Membership</h3>
            <h3>Giới thiệu thành viên mới</h3>
            <p class="em">
              Nếu bạn hài lòng với dịch vụ của chúng tôi,
              Bạn có thể giới thiệu và mời bạn bè
              tham gia vào kênh của chúng tôi.
            </p>
            <p>
              Betonavi sẽ dành tặng bạn những phần quà hấp dẫn
              cho mỗi một thành viên mới mà bạn giới thiệu sau khi đăng
              kí tài khoản thành công!
            </p>
            <p>
              Bạn có thể chọn phần thưởng bằng tiền mặt
              trị giá <span class="prize">200,000 VND</span> hoặc những <span class="prize">
                phần quà hấp dẫn </span>
              từ xứ sở mặt trời mọc bên dưới !
            </p>
            <p class="invite-friends">
              <a href="/invitations/send-invite/"> Mời bạn bè tại đây!</a>
            </p>
          </div>

        </div>


      </div>
    </section>


    <h2>Lịch sử giao dịch</h2>

    {% if addresses.count == 0 %}
      <p>
        ôi ôi, Bạn chưa có giao dịch nào đã thực hiện!
      </p>
    {% endif %}

      <div class="purchase-list">

          {% for order in orders %}

          <div class="item">
              <div>
                  <label for="">Mã đơn hàng:</label>
                  <span>{{ order.order_number }}</span>

                  <a class="detail-link" href="/order/detail/{{ order.uuid }}">
                    Xem Chi Tiết Đơn Hàng
                  </a>
              </div>
              <ul class="item-list">
                {% for item in order.items.all %}
                  <li>
                    <a href="/product/{{item.product.id}}-{{ item.product.slug }}">{{ item.product.vn_name }}</a>
                  </li>
                {% endfor %}
              </ul>

              <div class="right-info">
                  <div>
                    <label for="">Giá đơn hàng: </label>
                    <span class="price">{{ order.vn_order_amount|intcomma }}</span> VND
                  </div>
                  <div>
                    <label for="">Ngày đặt hàng: </label>
                    <span>{{ order.created_at }}</span>
                  </div>
              </div>


              <div class="order-status-timeline">
                <div class="status grid">
                  <div class="column">Đặt Hàng</div>
                  <div class="column">Thanh Toán</div>
                  <div class="column">Vận Chuyển</div>
                  <div class="column">Hoàn Tất</div>
                </div>
                <div class="status grid line">
                  <div class="column">
                    <div class="status-line first done"></div>
                  </div>
                  <div class="column">
                    <div class="status-line {% if order.is_paid %} done {% endif %}"></div>
                  </div>
                  <div class="column">
                    <div class="status-line {% if order.is_delivering %} done {% endif %}"></div>
                  </div>
                  <div class="column">
                    <div class="status-line last  {% if order.is_completed %} done {% endif %}"></div>
                  </div>
                </div>
                <div class="status grid">
                  <div class="column">{{order.created_at}}</div>
                  <div class="column">
                      {% if order.is_paid %} {{ order.paid_at }} {% else %} Chờ Thanh Toán {% endif %}
                  </div>
                  <div class="column">
                      {% if order.is_delivering %} Đang Vận Chuyển {% else %} - {% endif %}
                  </div>
                  <div class="column">
                      {% if order.is_completed %} Đã Hoàn Tất {% else %} - {% endif %}
                  </div>
                </div>
              </div>
          </div>


          {% endfor %}
      </div>



</div>
{% endblock %}
