{% extends "./base.html" %}


{% block content %}
  <div class="static-page">
    <div class="side">
      <a href="/gioi-thieu" class="active">
        <div class="item">Giới thiệu</div>
      </a>
      <a href="/dieu-khoan-cam-ket">
        <div class="item">Điều khoản - Cam kết</div>
      </a>
      <a href="/chuong-trinh-thanh-vien">
        <div class="item">Chương trình thành viên</div>
      </a>
      <a href="/mua-hang-thanh-toan">
        <div class="item">Mua hàng - thanh toán</div>
      </a>
      <a href="/cau-hoi-thuong-gap">
        <div class="item">Câu hỏi thường gặp</div>
      </a>
      <a href="/lien-he">
        <div class="item">Liên hệ - hỗ trợ</div>
      </a>
    </div>


    <div class="wrapper">
      <h1>
        2017/07/15: &nbsp;&nbsp;Tuyển cộng tác viên dịch tiếng Nhật (5 Vị trí)
      </h1>

      <h2>Nội dung tuyển dụng</h2>

      Tuyển cộng tác viên dịch tiếng Nhật.
      Dịch nội dung, giới thiệu sản phẩm từ tiếng Nhật sang tiếng Việt.


      <h2>Quyền lợi</h2>

      - Trả lương theo bài viết.
      - Làm việc tại nhà, mọi lúc, mọi nơi
      - Trả lương theo kết quả công việc

      Ưu tiên:
      - Sinh viên
      - Tiếng Nhật tương đương N2
      - Con gái


    </div>
  </div>




{% endblock %}
