{% extends "./base.html" %}

{% load humanize %}

{% block content %}

  <h2>Kết quả tìm kiếm: <span>{{ keyword }}</span></h2>
  <section class="section">

    <div class="product-list clearfix">
        {% for item in products %}
            <div class="item" itemscope itemtype="http://schema.org/Product">
                <a itemprop="url" href="/product/{{ item.id }}-{{ item.slug }}">
                    <div itemprop="image" class="thumbnail" style="background-image: url(/media/{{ item.image }})" ></div>
                    <img itemprop="image" src="/media/{{ item.image }}" alt="" style="width: 0px; height: 0px;">
                    {% if item.rating > 4%}<div class="rating">{{ item.rating }}</div>{% endif %}
                    <div itemprop="name" class="name">{{ item.vn_name }}</div>
                    <div class="desc">
                        <div class="price jp">
                            Giá: <span>{{ item.sale_price|intcomma }}</span> VND
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

  </section>


  <div class="pagination">
    <div class="step-links">
        {% if products.has_previous %}
            <a class="link" href="?page={{ products.previous_page_number }}&q={{ request.GET.q }}">&laquo; Trang Trước</a>
        {% endif %}

        <span class="current">
            {{ products.number }} / {{ products.paginator.num_pages }}
        </span>

        {% if products.has_next %}
            <a class="link" href="?page={{ products.next_page_number }}&q={{ request.GET.q }}">Trang Tiếp &raquo;</a>
        {% endif %}
    </div>
  </div>


{% endblock %}
