<template>
  <div id="app">
    <!-- <img src="./assets/logo.png"> -->
    <!-- <hello></hello> -->
    <maps></maps>
  </div>
</template>

<script>
import Hello from './components/Hello'
import Maps from './components/maps/index'

export default {
  name: 'app',
  components: {
    Hello, Maps
  }
}
</script>

<style lang="scss">
@import 'resources/assets/sass/font-awesome/font-awesome.scss';

html, body{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
  display: relative;
  height: 100%;
}

</style>
