/* line 2, ../sass/all_products.scss */
.item {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ffcccc;
  margin: 2px;
}
/* line 13, ../sass/all_products.scss */
.item .status {
  opacity: 0.5;
}
/* line 17, ../sass/all_products.scss */
.item:hover {
  border: 1px solid #ff1a1a;
}
/* line 20, ../sass/all_products.scss */
.item:hover .status {
  opacity: 1;
}
