/* line 1, ../sass/common.scss */
document, body {
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 13px;
  line-height: 20px;
  font-family: 'Varela Round', sans-serif;
}

/* line 14, ../sass/common.scss */
.btn {
  background-color: #44c767;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 5px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

/* line 26, ../sass/common.scss */
.btn:hover {
  background-color: #5cbf2a;
}

/* line 29, ../sass/common.scss */
.btn:active {
  position: relative;
}

/* line 33, ../sass/common.scss */
.btn:disabled {
  background-color: #c0c0c0;
  border: 1px solid #c0c0c0;
  position: relative;
  top: 1px;
}

/* line 40, ../sass/common.scss */
.center {
  text-align: center;
  padding: 20px 0 10px 0;
}

/* line 46, ../sass/common.scss */
table {
  border-collapse: collapse;
}

/* line 49, ../sass/common.scss */
a {
  text-decoration: none;
}

/* line 52, ../sass/common.scss */
.price {
  color: red;
}

/* line 55, ../sass/common.scss */
.fa-star {
  color: #e3821c;
}

/* line 59, ../sass/common.scss */
.status {
  display: inline-block;
  padding: 0px 5px;
  border: 1px solid #dbdbdb;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 2px;
}
/* line 67, ../sass/common.scss */
.status.status--1 {
  background: #c0c0c0;
  color: #747474;
  border: 1px solid #c0c0c0;
}
/* line 73, ../sass/common.scss */
.status.status-0 {
  background: #d8eafc;
  border: 1px solid #d8eafc;
}
/* line 78, ../sass/common.scss */
.status.status-1 {
  background: #c5ffb9;
  border: 1px solid #c5ffb9;
}
/* line 83, ../sass/common.scss */
.status.status-2 {
  background: #B381B3;
  border: 1px solid #B381B3;
  color: #fff;
}
/* line 89, ../sass/common.scss */
.status.status-3 {
  background: #eb6f09;
  border: 1px solid #eb6f09;
  color: #fff;
}
/* line 95, ../sass/common.scss */
.status.status-4 {
  background: #000;
  border: 1px solid #000;
  color: #fff;
}
/* line 101, ../sass/common.scss */
.status.status-5 {
  background: #B381B3;
  border: 1px solid #B381B3;
  color: #fff;
}
/* line 107, ../sass/common.scss */
.status.status-10 {
  background: red;
  border: 1px solid red;
  color: #fff;
}

/* line 114, ../sass/common.scss */
#notification {
  position: absolute;
  height: 400px;
  width: 300px;
  top: 50px;
  right: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  border-left: 1px solid #dbdbdb;
  box-sizing: border-box;
  background: #fff;
  -webkit-box-shadow: -1px 2px 5px 2px #999799;
  -moz-box-shadow: -1px 2px 5px 2px #999799;
  box-shadow: -1px 2px 5px 2px #999799;
}
/* line 132, ../sass/common.scss */
#notification .title {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #c0c0c0;
}
/* line 139, ../sass/common.scss */
#notification ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
}
/* line 145, ../sass/common.scss */
#notification ul li {
  position: relative;
  font-size: 0.85em;
  line-height: 15px;
  list-style: none;
  margin: 0px;
  padding: 10px;
  margin-top: 1px;
  background: #f8f8f8;
  padding-bottom: 20px;
}
/* line 156, ../sass/common.scss */
#notification ul li:hover {
  color: #000;
  background: #ebebeb;
}
/* line 161, ../sass/common.scss */
#notification ul li .timeago {
  position: absolute;
  bottom: 3px;
  right: 5px;
  color: #c0c0c0;
}

/* line 171, ../sass/common.scss */
#header {
  position: relative;
  height: 60px;
  background-image: linear-gradient(135deg, #FEB692 10%, #f58147 100%);
  padding: 20px;
}
/* line 181, ../sass/common.scss */
#header .logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
/* line 187, ../sass/common.scss */
#header a {
  text-decoration: none;
}
/* line 193, ../sass/common.scss */
#header .link {
  margin-top: 35px;
}
/* line 195, ../sass/common.scss */
#header .link a {
  margin-right: 20px;
  padding: 5px 10px;
}
/* line 199, ../sass/common.scss */
#header .link a.active {
  background: #fff;
}
/* line 205, ../sass/common.scss */
#header .user-tools {
  position: absolute;
  top: 20px;
  right: 20px;
}
/* line 210, ../sass/common.scss */
#header .user-tools .bell {
  position: relative;
  margin-right: 20px;
  font-size: 1.4em;
  cursor: pointer;
}
/* line 217, ../sass/common.scss */
#header .user-tools .bell .dot {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  display: block;
  background: white;
}

/* line 234, ../sass/common.scss */
#onlineStatus {
  position: absolute;
  right: 20px;
  top: 105px;
}
/* line 240, ../sass/common.scss */
#onlineStatus .item {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #42b72a;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
/* line 253, ../sass/common.scss */
#onlineStatus .item .abbr {
  display: inline;
}
/* line 256, ../sass/common.scss */
#onlineStatus .item .username {
  display: none;
  font-size: 0.8em;
}
/* line 262, ../sass/common.scss */
#onlineStatus .item:hover {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
}
/* line 268, ../sass/common.scss */
#onlineStatus .item:hover .abbr {
  display: none;
}
/* line 271, ../sass/common.scss */
#onlineStatus .item:hover .username {
  display: inline-block;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 285, ../sass/common.scss */
.wrapper {
  padding: 20px;
}
/* line 287, ../sass/common.scss */
.wrapper td, .wrapper tr {
  margin: 0;
  padding: 0;
}
/* line 293, ../sass/common.scss */
.wrapper .filter select {
  margin-right: 20px;
}
/* line 299, ../sass/common.scss */
.wrapper #ticket_list {
  border: none;
  margin-top: 10px;
}
/* line 303, ../sass/common.scss */
.wrapper #ticket_list a {
  color: #000;
}
/* line 307, ../sass/common.scss */
.wrapper #ticket_list a:hover {
  color: blue;
}
/* line 312, ../sass/common.scss */
.wrapper #ticket_list thead {
  font-weight: bold;
}
/* line 317, ../sass/common.scss */
.wrapper #ticket_list tr:hover {
  background: #f6f6f6;
}
/* line 321, ../sass/common.scss */
.wrapper #ticket_list td {
  border-bottom: 1px solid #dbdbdb;
  padding: 5px 10px;
}
/* line 327, ../sass/common.scss */
.wrapper #ticket_list img {
  height: 40px;
}

/* line 333, ../sass/common.scss */
.pagination {
  margin: 20px 10px;
}
/* line 336, ../sass/common.scss */
.pagination .current {
  padding: 0 30px;
}

/* line 342, ../sass/common.scss */
#detail_page {
  background: #f0f0f0;
}
/* line 347, ../sass/common.scss */
#detail_page #similars a {
  color: #333;
}
/* line 350, ../sass/common.scss */
#detail_page #similars .current {
  margin-right: 30px;
}
/* line 353, ../sass/common.scss */
#detail_page #similars .current .name {
  color: #c0c0c0;
}
/* line 358, ../sass/common.scss */
#detail_page #similars .item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
/* line 364, ../sass/common.scss */
#detail_page #similars .item:hover .status, #detail_page #similars .item:hover .assignee {
  opacity: 1;
}
/* line 369, ../sass/common.scss */
#detail_page #similars .item .image {
  background-position: center;
  background-size: contain;
  width: 160px;
  height: 160px;
}
/* line 375, ../sass/common.scss */
#detail_page #similars .item .name {
  width: 160px;
  font-size: 0.9em;
  height: 100px;
}
/* line 381, ../sass/common.scss */
#detail_page #similars .item .status {
  position: absolute;
  right: 0px;
  top: 10px;
  display: block;
  opacity: 0.7;
}
/* line 389, ../sass/common.scss */
#detail_page #similars .item .assignee {
  position: absolute;
  right: 0px;
  top: 40px;
  display: inline-block;
  background: red;
  color: #fff;
  padding: 0 5px;
  opacity: 0.7;
}
/* line 404, ../sass/common.scss */
#detail_page .messages {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 409, ../sass/common.scss */
#detail_page .messages li {
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 10px 20px;
  background: #acfaa2;
}
/* line 419, ../sass/common.scss */
#detail_page #control .translator, #detail_page #control .reviewer {
  position: relative;
  border: 1px solid #c0c0c0;
  display: inline-block;
  margin-right: 5px;
  background: #f9efc6;
  padding: 20px;
  width: 780px;
}
/* line 429, ../sass/common.scss */
#detail_page #control .translator select, #detail_page #control .reviewer select {
  margin-right: 20px;
}
/* line 434, ../sass/common.scss */
#detail_page #control .reviewer {
  height: 60px;
}
/* line 437, ../sass/common.scss */
#detail_page #control .reviewer #id_charge_amount {
  width: 60px;
}
/* line 441, ../sass/common.scss */
#detail_page #control .reviewer .estimate {
  position: absolute;
  bottom: 2px;
  right: 150px;
}
/* line 446, ../sass/common.scss */
#detail_page #control .reviewer .estimate .price {
  font-size: 1.2em;
}
/* line 450, ../sass/common.scss */
#detail_page #control .reviewer button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* line 458, ../sass/common.scss */
#detail_page #reference {
  background: #fff;
  position: relative;
  margin-top: 10px;
  width: 800px;
  height: 100px;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}
/* line 469, ../sass/common.scss */
#detail_page #reference label {
  width: 130px;
  display: inline-block;
}
/* line 475, ../sass/common.scss */
#detail_page #reference #id_reference_url1,
#detail_page #reference #id_reference_url2,
#detail_page #reference #id_reference_url3 {
  width: 260px;
  margin-right: 30px;
}
/* line 482, ../sass/common.scss */
#detail_page #reference .btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
/* line 488, ../sass/common.scss */
#detail_page #reference .links {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
/* line 493, ../sass/common.scss */
#detail_page #reference .links a {
  margin-right: 20px;
}
/* line 500, ../sass/common.scss */
#detail_page #editor {
  margin-top: 40px;
  display: flex;
  margin-right: 200px;
}
/* line 506, ../sass/common.scss */
#detail_page #editor label {
  display: block;
  margin-top: 20px;
}
/* line 511, ../sass/common.scss */
#detail_page #editor .pv_label {
  margin-top: 20px;
  margin-bottom: 0px;
  color: #c2c2c2;
}
/* line 517, ../sass/common.scss */
#detail_page #editor #id_vn_name {
  width: 98%;
  font-size: 1.3em;
  border: 1px solid #dbdbdb;
  padding: 5px;
}
/* line 523, ../sass/common.scss */
#detail_page #editor #id_vn_name:focus {
  border: 1px solid orange;
  outline: none;
}
/* line 528, ../sass/common.scss */
#detail_page #editor #id_vn_introduction {
  width: 98%;
  height: 120px;
  padding: 5px;
  border: 1px solid #dbdbdb;
}
/* line 535, ../sass/common.scss */
#detail_page #editor #id_vn_introduction:focus {
  border: 1px solid orange;
  outline: none;
}
/* line 540, ../sass/common.scss */
#detail_page #editor #id_vn_description {
  width: 98%;
  height: 300px;
  padding: 5px;
  border: 1px solid #dbdbdb;
}
/* line 545, ../sass/common.scss */
#detail_page #editor #id_vn_description:focus {
  border: 1px solid orange;
  outline: none;
}
/* line 550, ../sass/common.scss */
#detail_page #editor #id_vn_usage {
  width: 98%;
  height: 150px;
  padding: 5px;
  border: 1px solid #dbdbdb;
}
/* line 555, ../sass/common.scss */
#detail_page #editor #id_vn_usage:focus {
  border: 1px solid orange;
  outline: none;
}
/* line 560, ../sass/common.scss */
#detail_page #editor #id_vn_notice {
  width: 98%;
  height: 100px;
  padding: 5px;
  border: 1px solid #dbdbdb;
}
/* line 565, ../sass/common.scss */
#detail_page #editor #id_vn_notice:focus {
  border: 1px solid orange;
  outline: none;
}
/* line 571, ../sass/common.scss */
#detail_page #editor #pv_vn_name,
#detail_page #editor #pv_vn_introduction,
#detail_page #editor #pv_vn_description,
#detail_page #editor #pv_vn_usage,
#detail_page #editor #pv_vn_notice {
  margin-top: 5px;
  padding-top: 0;
}
/* line 581, ../sass/common.scss */
#detail_page #editor .row {
  flex: 1;
  background: #fff;
  padding: 20px;
}
/* line 586, ../sass/common.scss */
#detail_page #editor .row.edit {
  margin-right: 10px;
}
/* line 589, ../sass/common.scss */
#detail_page #editor .row.preview {
  margin-left: 10px;
}

/* line 598, ../sass/common.scss */
#comment {
  margin-top: 50px;
  margin-bottom: 100px;
}
/* line 603, ../sass/common.scss */
#comment form {
  position: relative;
}
/* line 606, ../sass/common.scss */
#comment form textarea {
  width: 400px;
}
/* line 609, ../sass/common.scss */
#comment form .btn {
  position: absolute;
  left: 420px;
}
/* line 615, ../sass/common.scss */
#comment .item {
  border-bottom: 1px solid #dbdbdb;
  margin-top: 10px;
  width: 600px;
}
/* line 621, ../sass/common.scss */
#comment .item .info .user {
  color: blue;
  font-weight: bold;
}
/* line 625, ../sass/common.scss */
#comment .item .info .time {
  font-size: 0.8em;
  color: #c0c0c0;
  margin-left: 10px;
}
/* line 631, ../sass/common.scss */
#comment .item p {
  margin-top: 0px;
  padding-top: 5px;
}

/* line 641, ../sass/common.scss */
#members_page {
  position: relative;
}
/* line 644, ../sass/common.scss */
#members_page #add_form {
  border: 1px solid #dbdbdb;
  padding: 10px;
  position: absolute;
  right: 310px;
  top: 50px;
}
/* line 651, ../sass/common.scss */
#members_page #add_form label {
  display: inline-block;
  width: 100px;
}
/* line 656, ../sass/common.scss */
#members_page #add_form textarea {
  width: 200px;
  height: 50px;
}
