/* line 2, ../sass/guide.scss */
.md-showcase {
  max-width: 1000px;
  display: flex;
}
/* line 6, ../sass/guide.scss */
.md-showcase .editor {
  flex: 1;
  margin-right: 20px;
}
/* line 10, ../sass/guide.scss */
.md-showcase .preview {
  flex: 1;
  padding-left: 20px;
  background: #f0f0f0;
}
