/* line 5, ../sass/mobile.scss */
.wrapper {
  padding: 0px !important;
}

/* line 9, ../sass/mobile.scss */
.sp-link {
  color: #333;
}

/* line 13, ../sass/mobile.scss */
.filter {
  padding: 10px;
}

/* line 21, ../sass/mobile.scss */
.product_list .item {
  padding: 10px;
  position: relative;
  padding-left: 70px;
  min-height: 65px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 29, ../sass/mobile.scss */
.product_list .item .thumbnail {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 42, ../sass/mobile.scss */
.product_list .item .status {
  display: inline-block !important;
  padding: 0 5px !important;
}
/* line 47, ../sass/mobile.scss */
.product_list .item .flex {
  display: flex;
  justify-content: space-between;
  .row-flex: 1;
  .row-text-align: left;
}

/* line 59, ../sass/mobile.scss */
#mobile_detail_page {
  padding: 10px;
}
/* line 62, ../sass/mobile.scss */
#mobile_detail_page #similars {
  width: 100%;
  overflow: hidden;
}
/* line 66, ../sass/mobile.scss */
#mobile_detail_page #similars .scroller {
  width: 10000px;
}
/* line 70, ../sass/mobile.scss */
#mobile_detail_page #similars .item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
/* line 75, ../sass/mobile.scss */
#mobile_detail_page #similars .item .image {
  height: 120px;
  width: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 83, ../sass/mobile.scss */
#mobile_detail_page #similars .item .name {
  width: 120px;
  font-size: 0.8em;
}
/* line 88, ../sass/mobile.scss */
#mobile_detail_page #similars .item .status {
  position: absolute;
  top: 10px;
  right: 0px;
  display: inline-block;
}
/* line 95, ../sass/mobile.scss */
#mobile_detail_page #similars .item .assignee {
  position: absolute;
  top: 45px;
  right: 0px;
  display: inline-block;
}
/* line 105, ../sass/mobile.scss */
#mobile_detail_page #comment textarea {
  width: 300px;
  height: 40px;
}
/* line 110, ../sass/mobile.scss */
#mobile_detail_page #comment .item {
  width: auto;
}
/* line 114, ../sass/mobile.scss */
#mobile_detail_page #comment .btn {
  position: relative;
  margin: 0 auto;
  left: auto;
}
