{% extends "account/base.html" %}


{% load i18n %}

{% block content %}
<h1>Mời bạn bè tham gia Betonavi Membership</h1>



<p>
  Vui lòng nhập địa chỉ email người muốn mời vào ô bên dưới.
  <br>
  Chúng tôi sẽ gửi email thư mời và hướng dẫn đến email bạn của bạn !
</p>


<form id="invite-form" method="POST" action="{% url 'invitations:send-invite' %}">
  {% csrf_token %}
  <div class="form-group">
      <input type="text" name="email" id="id_email" value="{{ form.email.value }}" class="form-control validate-email" placeholder="{% trans 'Email' %}">
  </div>
  <div class="form-group">
    {% for error in form.email.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {{ success_message }}
  </div>

  <br>

  <input type="submit" value="Gửi thư mời" class="btn btn-primary generic-ajax-submit">
</form>


{% endblock %}
