
{% extends "./base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block content %}


    <div class="wrapper">

      <h1>Billing</h1>

      <hr>

      <h3>Tháng {{ month }}, {{ year}}</h3>

      <table id="ticket_list">
        <thead>
          <tr>
            <td>Username</td>
            <td>F/T</td>
            <td>Avg Star</td>
            <td>Charge</td>
          </tr>
        </thead>
        <tbody>
          {% for item in translators %}
          <tr>
            <td>
              {% if request.user.is_staff %}
                <a href="{% url 'translatex_list' %}?u={{item.user.username}}">{{ item.user.username }}</a>
              {% else %}
                {{ item.user.username }}
              {% endif %}
            </td>
            <td>
              {{ item.translated_num_in_month }} / {{ item.producttranslation_set.all|length }}
            </td>
            <td>{{ item.rating_avg_in_month|default_if_none:"-" }} / 5</td>
            <td> <span class="price">{{ item.charge_amount_in_month|default_if_none:"-"|intcomma }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    </div>

{% endblock %}
