
{% extends "./base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block content %}
<script>
function goBack() {
    window.history.back();
}
</script>

<div id="mobile_detail_page">
  <p>
    <a href="javascript:void(0)" onclick="goBack()">Go Back</a>
  </p>
  {% if request.user.is_staff and product.similar_product_count > 0 %}
    <h3>Similar products</h3>
    <div id="similars">
      <div class="scroller">
        <div class="item current">
          <div class="image"
              style="background-image: url({{ product.amazon_product.medium_image_url }})"></div>
          <div class="name">{{ product.amazon_product.title }}</div>
          <div class="status status-{{ product.status}}">{{ product.get_status_display }}</div>
          {% if product.assignee %}
            <div class="assignee">{{ product.assignee.user.username }}</div>
          {% endif %}
        </div>

        {% for item in product.similar_products %}
          <a target="_blank" href="/translatex/sp/{{item.id}}">
            <div class="item">
              <div class="image"
                  style="background-image: url({{ item.amazon_product.medium_image_url }})"></div>
              <div class="name">{{ item.amazon_product.title }}</div>
              <div class="status status-{{item.status}}">{{ item.get_status_display }}</div>

              {% if item.assignee %}
                <div class="assignee">{{ item.assignee.user.username }}</div>
              {% endif %}
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}



  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}


  <h3>#{{product.id}} - {{ product.amazon_product.title }}</h3>

  <div id="control">

    {% if not request.user.is_staff %}
    <div class="translator">
      {% if product.status is None or product.status < 3 or product.status == 10 %}
      <form action="/translatex/sp/{{ product.id }}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="type" value="status" >
        {{ status_form }}
        <button class="btn" type="submit">Lưu lại</button>
      </form>
      {% else %}
        <label for="id_status">Trạng thái:</label>
        <span class="status status-{{product.status}}">
          {{ product.get_status_display }}
        </span>
      {% endif %}
    </div>
    {% else %}
    <div class="reviewer">
      <form action="/translatex/sp/{{ product.id }}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="type" value="review" >
        {{ review_form.as_p }}

        <p class="estimate">
          <span>Ước lượng chi phí: </span>
          <span class="price">{{ product.estimate }} đ</span>
        </p>

        <button class="btn" type="submit">Lưu lại</button>
      </form>
    </div>
    {% endif %}

  </div>

  <hr>

  <div id="reference">
    <form  action="/translatex/sp/{{ product.id }}" method="POST">
      <input type="hidden" name="type" value="edit" >
      {% csrf_token %}
      {{ edit_form.as_p }}
    </form>
  </div>

  <hr>
  <div class="links">
    <a target="_blank" href="https://www.amazon.co.jp/dp/{{product.amazon_product.asin}}">
      link amazon <i class="fa fa-external-link" aria-hidden="true"></i>
    </a>

    {% if product.amazon_product and product.amazon_product.product %}
    <a target="_blank" href="https://betonavi.com/dp/{{product.amazon_product.asin}}">
      link betonavi <i class="fa fa-external-link" aria-hidden="true"></i>
    </a>
    {% endif %}
  </div>


  <div class="editor" id="editor">
    <div class="row preview">
      <h1>Preview</h1>
      <div class="pv_label">Tên sản phẩm</div>
      <h3 id="pv_vn_name">
        {{ product.vn_name|default_if_none:'-' }}
      </h3>

      <div class="pv_label">Giới thiệu</div>
      <div id="pv_vn_introduction" class="">
        {{ md_introduction|safe }}
      </div>

      <div class="pv_label">Mô tả</div>
      <div id="pv_vn_description" class="">
        {{ md_description|safe }}
      </div>

      <div class="pv_label">Cách sử dụng</div>
      <div id="pv_vn_usage" class="">
        {{ md_usage|safe }}
      </div>

      <div class="pv_label">Chú ý</div>
      <div id="pv_vn_notice" class="">
        {{ md_notice|safe }}
      </div>
    </div>
  </div>


  <div id="comment">

    <h3>Comments</h3>

    <form  action="/translatex/sp/{{ product.id }}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="type" value="comment" >
      <textarea name="message" id="id_message" required=""  class="form-control"></textarea>
      <br>
      <input  class="btn" type="submit" value="Send">
    </form>

    {% for item in comments %}
      <div class="item">
        <div class="info">
            <span class="user">{{item.user}}</span>
            <span class="time">{{item.created_at}}</span>
        </div>
        <p>{{ item.text }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'translatex/bower_components/showdown/dist/showdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'translatex/js/detail.js' %}"></script>
{% endblock %}
