
{% extends "./base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block content %}

  <div class="wrapper">
    <div class="filter">
      <span>Status</span>
      <select id="statusFilter" name="">
        <option value="{% url 'translatex_list' %}?u={{request.GET.u}}">-----------</option>
        {% for item in status %}
          <option
            {% if filtered_status == item.0 %} selected="selected" {% endif %}
            value="{% url 'translatex_list' %}?status={{item.0}}&u={{request.GET.u}}">{{ item.1 }}</option>
        {% endfor %}
      </select>

      <br>

      {% if request.user.is_staff %}
      <span>Translator</span>
      <select id="assigneeFilter" name="">
        <option value="{% url 'translatex_list' %}?status={{request.GET.status}}">-----------</option>
        {% for item in translators %}
          <option
            {% if request.GET.u == item.user.username %} selected="selected" {% endif %}
            value="{% url 'translatex_list' %}?u={{item.user.username}}&status={{request.GET.status}}" >{{ item.fullname }}</option>
        {% endfor %}
      </select>
      {% endif %}

      <a id="clearFilter" href="/translatex">Reset</a>
    </div>

    <div class="product_list">
      {% for item in products %}
        <a href="/translatex/sp/{{ item.id }}">
          <div class="item">
            <div class="thumbnail"
                style="background-image: url({{ item.amazon_product.medium_image_url }})"></div>

            <div class="name">
              {% if item.vn_name|length > 10 %}
                {{ item.vn_name|default_if_none:"-" }}
              {% else %}
                {{ item.amazon_product.title|truncatechars:20 }}
              {% endif %}
            </div>

            <div class="flex">
              <div class="col">
                <div class="">
                  {{ item.assignee }}
                </div>
                <div class="price">{{ item.charge_amount|intcomma }}</div>
              </div>
              <div class="col">
                <div class="status status-{{item.status}}">
                  {{ item.get_status_display|default_if_none:"-" }}
                </div>

                <div class="">
                  {% if item.rating is not None %}
                    {% with ''|center:item.rating as range %}
                      {% for i in range %}
                        <i class="fa fa-star" aria-hidden="true"></i>
                      {% endfor %}
                    {% endwith %}
                  {% endif %}
                </div>
              </div>
            </div>








          </div>
        </a>
      {% endfor %}
    </div>



    <div class="pagination">
      <div class="step-links">
          {% if products.has_previous %}
              <a class="link" href="?page={{ products.previous_page_number }}&u={{request.GET.u}}&status={{request.GET.status}}">&laquo; Trang Trước</a>
          {% endif %}

          <span class="current">
              {{ products.number }} / {{ products.paginator.num_pages }}
          </span>

          {% if products.has_next %}
              <a class="link" href="?page={{ products.next_page_number }}&u={{request.GET.u}}&status={{request.GET.status}}">Trang Tiếp &raquo;</a>
          {% endif %}
      </div>
  </div>

  </div>

{% endblock %}
