<template>
  <div class="wrapper">
    This is the bottom panel
  </div>
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<style scoped>
    .wrapper{
      position: fixed;
      bottom: 10px;
      left: 10px;
      min-width: 97%;
      height: 100px;
      background: #fff;
    }
</style>
