<template>
  <div id="filter" v-bind:class="{ collapsed: collapsed }" v-show="false">
    <div v-show="collapsed" @click="collapsed=false">
      <span>Filter</span>
      <img src="../../assets/menu_icon.png">
    </div>
    <div v-show="!collapsed">
      <img class="collapse" src="../../assets/close.png" @click="collapse">
      <h2>フィルター</h2>
      <ul>
        <li><input type="checkbox" name="" checked="checked">イルミネーション</li>
        <li><input type="checkbox" disabled="true">温泉</li>
        <li><input type="checkbox" disabled="true">スキー場</li>
        <li><input type="checkbox" disabled="true">花火大会</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      collapsed: true
    }
  },
  methods: {
    collapse: function () {
      this.collapsed = true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  ul, li{
    list-style: none;
    padding: 0;
  }
  #filter {
    text-align: left;
    position: absolute;
    top: 70px;
    left: 10px;
    width: 200px;
    height: 300px;
    padding: 15px;
    background: #fff;
    opacity: 0.65;
    z-index: 9990;

    h2{
      padding: 0px;
      margin: 0;
    }
  }

  #filter.collapsed {
    width: 70px;
    height: 20px;
    padding: 5px 10px;
    cursor: pointer;
    img{
      position: absolute;
      height: 40px;
      right: 2px;
      top: -5px;
    }
  }

  .collapse{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 30px;
    cursor: pointer;
  }
</style>
