<template>
  <div id="wrapper" v-show="show">
    <div id="layer"></div>

    <div id="gallery">
      
      <!-- <h1>Image Gallery</h1> -->
      <div id="frame" v-bind:style="{'background-image': 'url(' + image.replace(/^http:\/\//i, 'https://') + ')'}">
        <i class="fa fa-times close" aria-hidden="true" @click="close"></i>
        <!-- <img :src="image" alt=""> -->
        <i class="fa fa-angle-left left" aria-hidden="true" @click="next(true)" v-show="showArrows"></i>
        <i class="fa fa-angle-right right" aria-hidden="true" @click="next(false)" v-show="showArrows"></i>
      </div>

      <!-- <section id="photos">
        <img v-for="url in images"  :src="url" class="thumbnail" @click="selectImage(url)"/>
      </section> -->

      <div class="signature">Chizuu 2016</div>

    </div>
    
  </div>
</template>

<script>
import eventHub from '../../events/hub'

export default {
  props: ['images', 'show', 'showImg'],
  data () {
    return {
      image: '',
      showIndex: 0,
      showArrows: true
    }
  },
  watch: {
    show: function (val) {
      if (val) {
        this.image = this.showImg
        this.showIndex = this.images.indexOf(this.image)

        this.showArrows = this.images.length > 1
      }
    }
  },
  methods: {
    selectImage: function (url) {
      console.log('select image')
      this.image = url
    },
    close: function () {
      eventHub.$emit('close-gallery')
      console.log('close')
    },
    next: function (forward) {
      this.showIndex = forward ? ++this.showIndex : --this.showIndex
      this.showIndex = this.showIndex === this.images.length ? 0 : this.showIndex
      this.showIndex = this.showIndex === -1 ? this.images.length - 1 : this.showIndex
      this.image = this.images[this.showIndex]
    }
  }
}
</script>

<style scoped lang="scss">
  #wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index:99999;

    .signature{
      position: fixed;
      bottom: 10px;
      left: 10px;
      opacity: 0.3;
    }
  }

  #layer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background: #000;
    opacity: 0.96;
    z-index: 99;
  }

  #gallery{
    position: relative;
    color: #fff;
    z-index: 9999;
  }

  #frame{
    $padding: 10px;
    background-repeat: no-repeat;
    background-position: center center;

    position: fixed;
    top: $padding;
    left: $padding;
    right: $padding;
    bottom: $padding;

    opacity: 0.8;

    img{
      vertical-align: middle;
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;

      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    i.left, i.right{
      position: absolute;
      top: 45%;
      font-size: 100px;
      color: #fff;
      opacity: 0.5;
      cursor: pointer;
      &.left{
        left: 20px;
      }
      &.right{
        right: 20px;
      }

      &:hover{
        opacity: 0.9;
      }
    }
    i.close{
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
      opacity: 0.5;
      font-size: 30px;
      &:hover{
         opacity: 0.9;
      }
    }


    @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
    }
  }



</style>
