<template>
  <div id="container">
    
    <div id="map"></div>
    <right-panel :data="placeInfo" :show="showRightPanel"></right-panel>
    <!-- <bottom-panel :data="placeInfo" :show="showRightPanel"></bottom-panel> -->
    <gallery :images="gallery" :show="showGallery" :showImg="galleryImage"></gallery>

    <filter-panel></filter-panel>

    <div id="header">
      <div id="header-logo-box1"></div>
      <div id="header-logo-box2"></div>
      <a href="/">
        <img id="logo" class="logo off" src="../../assets/logo_owl_tran.png" alt="Chizuu" v-show="!logoLight"> 
        <img id="logo" class="logo on" src="../../assets/logo_owl_eyered.png" alt="Chizuu" v-show="logoLight"> 
        <span class="logo-text">Chizuu</span>
        </a>
      <input id="searchbox" type="text" placeholder="場所を検索">

      <ul class="links">
        <li><a href="/about">About</a></li>
        <li><a href="http://blog.chizuu.com">Blog</a></li>
      </ul>
    </div>
  </div>
</template>


<script>
import {loaded, load} from './utils'
import styleConfig from './config'
import http from '../../services/http'
import {find} from 'lodash'
import RightPanel from './RightPanel'
import BottomPanel from './BottomPanel'
import Gallery from './Gallery'
import FilterPanel from './FilterPanel'
import eventHub from '../../events/hub'
import getParameterByName from '../../services/utils'

load('AIzaSyAdU69n6tnQDvNALxGjpCVN3lpPo4rpgXQ', '3', ['places'])

export default {
  components: {
    RightPanel, BottomPanel, Gallery, FilterPanel
  },
  data () {
    return {
      map: {},
      searchBox: {},
      zoom: 10,
      init: {
        bound: null,
        open: null
      },
      myLocationZoom: 14,
      center: {lat: 35.6781005859, lng: 139.678115845},
      markers: {},
      places: {},
      placeInfo: {},
      gallery: [],
      galleryImage: '',
      showGallery: false,
      showRightPanel: false,
      logoLight: false,
      currentMarker: {
        type: '',
        ledNumber: 0,
        id: 0
      },
      historyState: {
        box: {},
        detail: {
          type: null,
          id: null
        }
      }
    }
  },
  beforeCreate () {
    var self = this
    loaded.then(function () {
      self.initMap()
    })
  },
  created: function () {
    eventHub.$on('open-gallery', this.openGallery)
    eventHub.$on('close-rightpanel', this.closeRightPanel)
    eventHub.$on('close-gallery', this.closeGallery)
    eventHub.$on('markers-updated', this.markersUpdated)
  },
  mounted: function () {
    var box = getParameterByName('box')
    if (box) {
      box = box.split(',')
      try {
        this.init.bound = [
          parseFloat(box[0]),
          parseFloat(box[1]),
          parseFloat(box[2]),
          parseFloat(box[3])
        ]
      } catch (err) {
        this.init.bound = null
      }

      var open = getParameterByName('open')
      if (open !== 'null,null') {
        open = open.split(',')

        try {
          this.init.open = {
            type: open[0],
            id: parseInt(open[1])
          }
        } catch (err) {
          this.init.open = null
        }
      }
    }
  },
  watch: {
    historyState: {
      handler: function (val) {
        if (val.box) {
          window.history.replaceState(null, null, `?box=${val.box.ne_lat},${val.box.ne_lng},${val.box.sw_lat},${val.box.sw_lng}&open=${val.detail.type},${val.detail.id}`)
        }
      },
      deep: true
    },
    places: {
      handler: function (val, oldVal) {
        var self = this
        for (var key in val) {
          var type = val[key]

          // check makers type exists
          if (!(key in this.markers)) {
            this.markers[key] = {}
          }

          // Remove markers
          for (var id in this.markers[key]) {
            if (!find(type, {id: parseInt(id)})) {
              this.markers[key][id].setMap(null)
              delete this.markers[key][id]
            }
          }

          for (var ii = 0; ii < type.length; ii++) {
            var item = type[ii]
            if (!(item.id in this.markers[key])) {
              this.markers[key][item.id] = new window.google.maps.Marker({
                position: {lat: item.lat, lng: item.lng},
                icon: self.markerUrl(item.led_number, 'default'), //  'https://i.imgur.com/PPEPUZt.png',
                map: this.map
              })
              this.markers[key][item.id]['type'] = key
              this.markers[key][item.id]['item'] = item
              this.markers[key][item.id].addListener('click', function (event) {
                self.showInfo(this.type, this.item)

                // self.map.setCenter(new window.google.maps.LatLng({
                //   lat: this.item.lat,
                //   lng: this.item.lng
                // }))

                // this.setIcon('http://i.imgur.com/PPEPUZt.png') // original red marker
                this.setIcon(self.markerUrl(this.item.led_number, 'current')) // green

                // change last id
                if (self.currentMarker.id > 0) {
                  self.markers[self.currentMarker.type][self.currentMarker.id].setIcon(self.markerUrl(self.currentMarker.ledNumber, 'default'))
                }

                self.currentMarker = {
                  type: this.type,
                  ledNumber: this.item.led_number,
                  id: this.item.id
                }
              })
            }
          }
        }

        eventHub.$emit('markers-updated')
      },
      deep: true
    }
  },
  methods: {
    markerUrl: function (ledNumber, type) {
      var markersUrl = {
        default: {
          24: 'https://i.imgur.com/gLJdx2s.png',
          32: 'https://i.imgur.com/PBntbGb.png',
          48: 'https://i.imgur.com/YHdE4Un.png',
          64: 'https://i.imgur.com/SWxodc6.png',
          72: 'https://i.imgur.com/Oz9hUnn.png',
          100: 'https://i.imgur.com/iw7qRHX.png'
        },
        current: {
          24: 'https://i.imgur.com/bpvbdrJ.png',
          32: 'https://i.imgur.com/eVT8qO0.png',
          48: 'https://i.imgur.com/MV7lJOW.png',
          64: 'https://i.imgur.com/CTpRcm4.png',
          72: 'https://i.imgur.com/YK5ohFT.png',
          100: 'https://i.imgur.com/kDnohg5.png'
        },
        history: {
          24: 'https://i.imgur.com/rV1oCBg.png',
          32: 'https://i.imgur.com/GCbNLI7.png',
          48: 'https://i.imgur.com/BHhCOk6.png',
          64: 'https://i.imgur.com/sTvvztI.png',
          72: 'https://i.imgur.com/RpS7qF0.png',
          100: 'https://i.imgur.com/lLaqGnk.png'
        }
      }
      var typeUrls = type === 'default' ? markersUrl.default : type === 'current' ? markersUrl.current : markersUrl.history
      if (!ledNumber) {
        return typeUrls[32]
      } else if (ledNumber < 10) {
        return typeUrls[24]
      } else if (ledNumber < 50) {
        return typeUrls[48]
      } else if (ledNumber < 100) {
        return typeUrls[64]
      } else if (ledNumber < 400) {
        return typeUrls[72]
      } else {
        return typeUrls[100]
      }
    },
    initMap: function () {
      var self = this
      this.map = new window.google.maps.Map(document.getElementById('map'), {
        zoom: this.zoom,
        center: this.center,
        styles: styleConfig.greyStyles,
        mapTypeControl: false
      })

      window.google.maps.event.addListenerOnce(self.map, 'bounds_changed', function (event) {
        self.map.setZoom(self.map.getZoom() + 1)
      })

      if (this.init.bound) {
        var bounds = new window.google.maps.LatLngBounds(
          new window.google.maps.LatLng(this.init.bound[2], this.init.bound[3]),
          new window.google.maps.LatLng(this.init.bound[0], this.init.bound[1])
        )
        self.map.fitBounds(bounds)
      }

      this.searchBox = new window.google.maps.places.SearchBox(document.getElementById('searchbox'))
      this.searchBox.addListener('places_changed', function () {
        var places = self.searchBox.getPlaces()

        if (places.length === 0) {
          return
        }

        // For each place, get the icon, name and location.
        var bounds = new window.google.maps.LatLngBounds()
        places.forEach(function (place) {
          if (!place.geometry) {
            console.log('Returned place contains no geometry')
            return
          }
          if (place.geometry.viewport) {
            // Only geocodes have viewport.
            bounds.union(place.geometry.viewport)
          } else {
            bounds.extend(place.geometry.location)
          }
        })
        self.map.fitBounds(bounds)
      })

      this.map.addListener('idle', function () {
        var mapBounds = self.map.getBounds()
        var bound = {
          ne_lat: mapBounds.getNorthEast().lat(),
          ne_lng: mapBounds.getNorthEast().lng(),
          sw_lat: mapBounds.getSouthWest().lat(),
          sw_lng: mapBounds.getSouthWest().lng()
        }

        self.historyState.box = bound

        http.get('/api/places', bound, function (res) {
          self.places = res
        })
      })

      var geoloccontrol = new window.klokantech.GeolocationControl(this.map, this.myLocationZoom)
      geoloccontrol
      this.map.setMyLocationEnabled(true)
    },

    markersUpdated: function () {
      // process init open
      if (this.init.open) {
        try {
          var marker = this.markers[this.init.open.type][this.init.open.id]
          window.google.maps.event.trigger(marker, 'click')
          this.init.open = null
        } catch (err) {
        }
      }
    },

    showInfo: function (key, data) {
      this.historyState.detail.type = key
      this.historyState.detail.id = data.id
      this.placeInfo = data
      this.showRightPanel = true
      this.logoLight = true
    },

    closeRightPanel: function () {
      this.showRightPanel = false
      this.logoLight = false
      this.historyState.detail.type = null
      this.historyState.detail.id = null
    },

    openGallery: function (url, images) {
      this.gallery = images
      this.galleryImage = url
      this.showGallery = true
    },

    closeGallery: function () {
      this.showGallery = false
      // this.logoLight = false
    }
  }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  #container{
    position: relative;
    width: 100%;
    height: 100%;
    #map{
      width: 100%;
      height: 100%;
    }
  }



  #header{
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #fff;
    text-align:left;
    opacity: 0.94;
    -webkit-box-shadow: 0px 4px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 8px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 8px -1px rgba(0,0,0,0.75);
  
    #logo{
      height: 40px;
    }
    .logo-text{
      position: absolute;
      top: 15px;
      left: 55px;
      font-size: 1.5em;
      color: #562087;
    }

    input#searchbox{
      position: absolute;
      padding: 5px 10px;
      left: 180px;
      top: 10px;
      font-size: 1.3em;
      opacity: 0.8;
    }


    ul,li{
      float: right;
      list-style: none;
      display: inline-block;
    }

    .links {
      margin-top: 5px;
      li{
        margin-right: 20px;
      }
      a{
        text-decoration: none;
      }
    }
  }



@media (max-width: 667px) {
  #header {
    .links{
      display: none;
    }
  }

  .logo-text{
    display:none;
  }
    input#searchbox{
      position: fixed !important;
      width: auto;
      // padding: 3px 5px !important;
      left: 75px !important;
      top: 10px;
      font-size: 1.3em;
      opacity: 0.8;
      border: 1px solid #c0c0c0;
    }

}


#header-logo-box1{
      position: absolute;
      left: 0;
      margin: 0;
      padding: 0;
      width: 30px;
      height: 30px;
      opacity: 0;
      border-radius: 100%;
      -webkit-animation: header-logo-box1 8s infinite alternate;
      animation: header-logo-box1 8s infinite alternate;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
    }
    @keyframes header-logo-box1{
      0%{
        background: rgba(120,255,100,0);
        opacity: 0;
        left:30px;
        top: 5px;
      }
      20%{
        background: rgba(120,255,100,.6);
        opacity: 1;
        left:10px;
        top: 0px;
      }
      40%{
        background: rgba(120,255,100,0);
        opacity: 1;
        left:80px;
        top: 10px;
      }
      60%{
        background: rgba(255,0,190,.6);
        opacity: 1;
        left: 60px;
        top: 0px;
      }
      80%{
        background: rgba(120,255,100,0);
        opacity: 1;
        left: 110px;
        top: 5px;
      }
      100%{
        background: rgba(0,255,100,.6);
        opacity: 1;
        left: 140px;
        top: 0px;
      }
    }
    #header-logo-box2{
      position: absolute;
      left: 0;
      margin: 0;
      padding: 0;
      width: 30px;
      height: 30px;
      opacity: 0;
      border-radius: 100%;
      -webkit-animation: header-logo-box2 8s infinite alternate;
      animation: header-logo-box2 8s infinite alternate;
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
    }
    @keyframes header-logo-box2{
      0%{
        background: rgba(120,255,100,0);
        opacity: 0;
        left:210px;
        top: 10px;
      }
      20%{
        background: rgba(120,0,255,.6);
        opacity: 1;
        left:180px;
        top: 0px;
      }
      40%{
        background: rgba(255,0,100,0);
        opacity: 1;
        left:190px;
        top: 10px;
      }
      60%{
        background: rgba(120,0,100,.6);
        opacity: 1;
        left: 120px;
        top: 0px;
      }
      80%{
        background: rgba(120,255,100,0);
        opacity: 1;
        left: 110px;
        top: 5px;
      }
      100%{
        background: rgba(255,100,100,.6);
        opacity: 1;
        left: 40px;
        top: 0px;
      }
    }

</style>
