<template>
  <div class="wrapper" v-show="show">
    <div class="content">
      <img class="close" src="../../assets/close.png" @click="closeRightPanel">
      <h3>{{data.name}}</h3>

      <table>
        <tr>
          <td>Place</td><td>{{data.place}}</td>
        </tr>
        <tr>
          <td>Address</td><td>{{data.address}}</td>
        </tr>
        <tr>
          <td>Open Time</td><td><p>{{data.open_time}}</p></td>
        </tr>
        <tr>
          <td>Open Hours</td><td><p>{{data.open_period}}</p></td>
        </tr>
        <tr>
          <td>Price</td><td>{{data.price}}</td>
        </tr>
        <tr>
          <td>Direction</td><td><a :href="`http://maps.google.com/maps?q=${data.lat},${data.lng}`" target="_blank">Google Map</a></td>
        </tr>
        <tr>
          <td>Source</td><td><a :href="data.url" target="_blank">rurubu.com</a></td>
        </tr>
      </table>
      <p class="desc">
        {{data.description}}
      </p>


      <section id="photos">
        <div class="thumbnail" 
            v-for="url in data.images_list" 
            @click="openGallery(url)"
           >
          <img :src="url.replace(/^http:\/\//i, 'https://')" />
        </div>

        <div class="clear"></div>
      </section>

      <p>
        <ul class="links">
          <li><a href="/about">About</a></li>
          <li><a href="http://blog.chizuu.com">Blog</a></li>
        </ul>
      </p>
    </div>
  </div>
</template>

<script>
import eventHub from '../../events/hub'

export default {
  props: [
    'data',
    'show'
  ],

  watch: {
    show: function (val) {
      if (val) {
        console.log('after showing')
      }
    }
  },
  data () {
    return {
    }
  },
  created () {
  },
  methods: {
    openGallery: function (url) {
      eventHub.$emit('open-gallery', url, this.data.images_list)
    },

    closeRightPanel: function () {
      eventHub.$emit('close-rightpanel')
    }
  }
}
</script>

<style scoped lang="scss">
.clear{
  clear: both;
}
.wrapper{
  text-align: left;
  font-size: 0.8em;
  position: fixed;
  padding: 15px;
  top: 80px;
  right: 10px;
  width: 400px;
  /*height: 80%;*/
  background: #fff;
  opacity: 0.95;
  z-index: 9995;
  overflow-y: auto;
}

.close{
  position: absolute;
  right: 5px;
  top: 5px;
  width: 35px;
  cursor: pointer;
  &:hover{
    background: grey;
  }
}

#photos {
   $thumbnailSize: 90px;
   
   .thumbnail{
      cursor: pointer;
      float: left;
      margin-right: 3px;
      margin-bottom: 3px;
      width: $thumbnailSize;
      height: $thumbnailSize;
      overflow: hidden;

      img{
        height: 100%;
      }
   }
}

ul,li{
  float: right;
  list-style: none;
  display: inline-block;
}

.links {
  margin-top: 5px;
  li{
    margin-right: 20px;
  }
  a{
    text-decoration: none;
  }
}

@media (max-width: 667px) {
  
  .wrapper{
    background: #fff;
    position: fixed;
    box-sizing: border-box;
    padding: 10px;
    top: 60px;
    bottom: 0px;
    right: 0px;
    left: 0;
    width: 100%;
    // height: auto;
    opacity: 0.8;
    overflow-y: auto;
  }


  .close{
    position: fixed;
    right: 5px;
    top: 65px;
    width: 35px;
    cursor: pointer;
    &:hover{
      background: grey;
    }
  }
}


</style>
