/* Override default style */
#branding {
    float: left;
    margin-top: -4px;
}
/* Override default style */
#header {
    background: #2b3643;
    padding: 10px 20px !important;
    /* Add box shadow button */
    -webkit-box-shadow:0px 1px 3px #9da7a6;
    -moz-box-shadow:0px 1px 3px #9da7a6;
    box-shadow:0px 1px 3px #9da7a6;
}
/* Override default style */
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #171c61;
}
/* Override default style */
#content {
    padding: 10px 10px !important;
}
/* Override default style: Change color of breadcrumbs */
div.breadcrumbs {
    /*background: #7f9098;*/
    background: #18a689;
    padding: 10px 10px;
    /*
    border: none;
    font-size: 14px;
    color: #c4dce8;
    text-align: left; */
}
/* Override default style: Change color of caption */
.module h2, .module caption, .inline-group h2 {
    /*background: #7f9098;*/
    background: #18a689;
    /*
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    color: #fff; */
}
/* Override default style: Reduce space between result list and filter */
.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
    margin-right: 255px !important;
    width: auto;
}
/* Override default style: selected filter color */
#changelist-filter li.selected {
    border-left: 5px solid #e85858 !important;
}
/* FORM BUTTONS */
.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #1ab394;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
a.button {
    padding: 4px 5px;
}
.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #18a689;
    outline-style: none;
}
.button[disabled], input[type=submit][disabled], input[type=button][disabled] {
    opacity: 0.4;
}
.button.default, input[type=submit].default, .submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background: #1ab394;
}
.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background: #18a689;
}
.button[disabled].default,
input[type=submit][disabled].default,
input[type=button][disabled].default {
    opacity: 0.4;
}
/* Override paginator stylesheets */
.paginator a:link, .paginator a:visited {
    color: #dcdcdc !important;;
    background: #2f4050 !important;
}
.paginator a.showall {
    background: none !important;
    color: #2f4050 !important;
}



.markdownx .markdownx-editor, .markdownx .markdownx-preview {
    margin-left: 0;
    width: 510px !important;
    display: inline-block;
}
.markdownx-preview {
    /*border: 1px solid #dbdbdb;*/
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    min-height: 200px;
}

.markdownx-preview h1, h2, h3, h4{
    margin: 5px 0 !important;
    padding: 5px 0 !important;
}


/*********** End Override Styles **************/
/*********** Navbar Styles **************/
/* New added section's styles */
html, body{
  width: 100%;
  height: 100%;
}
#container{
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 60px;
}

#container #header{
  position: fixed;
  top: 0;right:0;left:0;
  height: 60px;
  z-index: 99999;
  box-sizing: border-box;
}

#container #navbar{
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 200px;
  background:#2f4050;
  color: #9ca7b7;
}


.krc th, .krc td{
  padding: 4px;
}

/* Menu item separator */
#navbar .group-title{
    color:#b5b5b5;
    font-size: 0.8em;
    padding: 3px 5px;
    background: #3e4d5a;
}
#navbar i{
    margin-right: 10px;
}
#navbar .copyright {
    border-top: 1px solid #3e4d5a;
    font-size: 12px;
    padding: 10px;
    color: #5f7182;
}
/* Menu ul list */
.navbar-ul, .navbar-ul li {
    list-style-type:none;
}
.navbar-ul {
    padding: 0;
}
.navbar-ul li{
    background: #2f4050;
    border-left: 3px solid #2f4050;
}
.navbar-ul li:hover{
    background: #293846;
}
.navbar-ul li a{
    padding: 2px 20px;
    display: block;
    font-size: 0.9em;
}
.navbar-ul a, .navbar-ul a:hover, .navbar-ul a:active,.navbar-ul a:visited {
    text-decoration:none;
}
.navbar-ul li.selected{
    border-left: 3px solid red;
    background: #293846;
}
.navbar-ul li a{
    color: #9ca7b7;
}
.navbar-ul li.selected a{
    color: #fff;
}
/*Message*/
#lt-notify{
  z-index: 999999;
  position: fixed;
  top: 150px;
  right: 5px;
  background: #fff;
  padding: 20px;
  min-width: 200px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #15cd72;
  color: #15cd72;
}
#lt-notify:hover{
  background:#FFFFF3;
}
#lt-notify.error{
  border: 2px solid red;
  color: red;
}
#lt-notify.success{
}
/*END OF NOTIFIATION STYLESHEETS */
.send-test{
    white-space: nowrap;
    min-width: 85px;
    padding: 5px 0 !important;
}
.sending{
    background: #FF851B !important;
}
span.status{
    padding:2px 10px;
    display:inline-block;
}
span.status.error, .status.delete{
    color:#fff;
    background:red;
}
span.status.scheduled, .status.verified{
    color:#fff;
    background:#219a21;
}
span.status.complete, .status.hide{
    color:#fff;
    background:#333;
}
.status.verifying{
    color: #fff;
    background: #FF851B;
}
span.shop-tag{
    border: 1px solid #887272;
    display: block;
    margin-bottom: 3px;
    padding: 2px 5px;
    white-space: nowrap;
}
/** Small status **/
span.status.small{
    padding: 1px 4px;
    margin-right: 2px;
    font-size: 11px;
}
span.status.error.small, .status.delete.small{
    color:red;
    border: 1px solid red;
    background:#fff;
}
span.status.scheduled.small, .status.verified.small{
    color:#219a21;
    border: 1px solid #219a21;
    background: #fff;
}
span.status.complete.small, .status.hide.small{
    color:#333;
    border: 1px solid #333;
    background:#fff;
}
.status.verifying.small{
    color: #FF851B;
    border: 1px solid #FF851B;
    background: #fff;
}
/** Push Notification Default Message Button **/
.button.default-message {
    padding: 5px;
    margin-left: 5px;
}
