/* line 2, ../sass/admin_chat.scss */
#chatbox {
  position: fixed;
  top: 100px;
  right: 0px;
  width: 300px;
  min-height: 300px;
  background: #fff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding: 20px;
}
/* line 13, ../sass/admin_chat.scss */
#chatbox ul, #chatbox li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 18, ../sass/admin_chat.scss */
#chatbox ul {
  max-height: 300px;
  overflow-y: auto;
}
/* line 26, ../sass/admin_chat.scss */
#chatbox li.staff {
  text-align: right;
}
/* line 30, ../sass/admin_chat.scss */
#chatbox li .who {
  color: orange;
}
/* line 33, ../sass/admin_chat.scss */
#chatbox li p {
  padding: 5px 5px;
  background: #dbdbdb;
  border-radius: 10px;
}
