/* line 16, ../sass/auth.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #d0d0d0;
}

/* line 19, ../sass/auth.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #d0d0d0;
}

/* line 22, ../sass/auth.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: #d0d0d0;
}

/* line 25, ../sass/auth.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #d0d0d0;
}

/* line 29, ../sass/auth.scss */
body, html {
  font-family: 'Quicksand', sans-serif;
  background: #fff;
}
@media (min-width: 768px) {
  /* line 29, ../sass/auth.scss */
  body, html {
    background: #f0f0f0;
  }
}

/* line 38, ../sass/auth.scss */
.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 16px;
  background: #f35f51;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  border: none;
}
/* line 52, ../sass/auth.scss */
.btn.btn-o {
  background: none;
  border: 1px solid #f35f51;
  color: #f35f51;
}
/* line 58, ../sass/auth.scss */
.btn.btn-small {
  padding: 2px 10px 2px 10px;
}

/* line 63, ../sass/auth.scss */
.error {
  color: red;
}

/* line 66, ../sass/auth.scss */
.errorlist {
  display: block;
}

/* line 72, ../sass/auth.scss */
button.btn:focus, input[type='button'].btn:focus {
  outline: none;
}

/* line 77, ../sass/auth.scss */
.btn:hover {
  background: #e44738;
  text-decoration: none;
  color: #fff;
}
/* line 82, ../sass/auth.scss */
.btn:hover.btn-o {
  background: none;
  color: #e44738;
  border: 1px solid #e44738;
}

/* line 90, ../sass/auth.scss */
#main-container {
  position: relative;
  background: #fff;
  margin: 0 auto;
  margin-top: 10px;
  padding: 50px 10px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  /* line 90, ../sass/auth.scss */
  #main-container {
    width: 1000px;
    margin-top: 70px;
    padding: 100px 30px;
  }
  /* line 104, ../sass/auth.scss */
  #main-container .promo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
  }
  /* line 111, ../sass/auth.scss */
  #main-container .promo .img {
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}
/* line 121, ../sass/auth.scss */
#main-container #logo {
  position: absolute;
  top: 10px;
  font-size: 40px;
  color: #f28d23;
  font-family: 'Pacifico', cursive;
}
/* line 131, ../sass/auth.scss */
#main-container #footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e3e3e3;
  text-align: center;
  padding: 10px;
}

/* line 145, ../sass/auth.scss */
#signup_closed p {
  font-size: 1.2em;
}

/* line 151, ../sass/auth.scss */
form label, #signup_form label, #signin_form label {
  display: inline-block;
  width: 160px;
}
/* line 155, ../sass/auth.scss */
form input[type='text'], form input[type='password'], form input[type='email'], form textarea, #signup_form input[type='text'], #signup_form input[type='password'], #signup_form input[type='email'], #signup_form textarea, #signin_form input[type='text'], #signin_form input[type='password'], #signin_form input[type='email'], #signin_form textarea {
  border: 1px solid #fab7b0;
  min-width: 280px;
  padding: 3px 3px;
  font-size: 1.2em;
}
/* line 162, ../sass/auth.scss */
form input[type='text']:focus, form input[type='password']:focus, form input[type='email']:focus, form textarea:focus, #signup_form input[type='text']:focus, #signup_form input[type='password']:focus, #signup_form input[type='email']:focus, #signup_form textarea:focus, #signin_form input[type='text']:focus, #signin_form input[type='password']:focus, #signin_form input[type='email']:focus, #signin_form textarea:focus {
  outline: none;
  border: 1px solid #f68b81;
}
/* line 168, ../sass/auth.scss */
form textarea, #signup_form textarea, #signin_form textarea {
  font-size: 1.2em;
  min-width: 95%;
  max-width: 95%;
  min-height: 70px;
  max-height: 70px;
}
@media (min-width: 768px) {
  /* line 168, ../sass/auth.scss */
  form textarea, #signup_form textarea, #signin_form textarea {
    min-width: 500px;
    max-width: 500px;
  }
}
