$mobile-width: 640px;
$tablet-width: 768px;
$full-width: 1080px;

$header-spacer: 92px;
$mobile-nav-height: 60px;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$banner-height: 320px;
$banner-height-mobile: 240px;

$h3: 18px;

$cart-width: 95%;
$cart-max-width: 780px;

$custom-container-width: 95%;
$custom-container-width-mobile: 100%;
$custom-container-max-width: 1280px;

$red: #b12704;
$blue: #44AACA;

$mainColor: #ca6938;

// colors

$color-1: #111433; // Haiti
$color-2: #3f8654; // Goblin
$color-3: #ffffff; // White

// fonts 

$primary-font: sans-serif;


$filter-sidebar-width: 250px;