@import './_vars.scss';
@import './_mixins.scss';


h1{
  font-size: 1.4em !important;
}
h2{
  font-size: 1.4em !important;
}
h3{
  font-size: 1.4em !important;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {


}



/*Message*/
#lt-notify{
  z-index: 999999999;
  position: fixed;
  top: 150px;
  right: 5px;
  background: #fff;
  padding: 20px;
  min-width: 200px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #15cd72;
  color: #15cd72;
}
#lt-notify:hover{
  background:#FFFFF3;
}
#lt-notify.error{
  border: 2px solid red;
  color: red;
}
#lt-notify.success{
}
/*END OF NOTIFIATION STYLESHEETS */
