
$orange: #f28d23;

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}


.red, .price{
  color: red;
}
.strong{
  font-weight: bold;
}
p.info{
  color: #b5b4b4;
}

#lt-notify{
  position: fixed;
  top: 0px;left: 0;right: 0;
  padding: 20px 10px;
  background: #15cd72;
  color: #fff;

  &.error{
    background: red;
    color: #fff;
  }

}




.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 16px;
  background: #f35f51;
  padding: 5px 20px 5px 20px;
  text-decoration: none;

  &.btn-o{
    background: none;
    border: 1px solid #f35f51;
    color: #f35f51;
  }

  &.btn-small{
    padding: 2px 10px 2px 10px;
  }
}

.btn:hover {
  background: #e44738;
  text-decoration: none;
  color: #fff;

  &.btn-o{
    background: none;
    color: #e44738;
    border: 1px solid #e44738;
  }
}

.line2{
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2.66667em;
}

body{
    background: #fff;
    font-family: 'Quicksand', sans-serif;
}
.logo{
  color: $orange;
  font-family: 'Pacifico', cursive;
}

h3{
  font-size: 22px;
}

.spacing{
  box-sizing: border-box;
  padding: 0 10px;
}

.centering{
  text-align: center;
  margin: 30px auto;
}

#breadscum{
  margin-top: 10px;
  font-size: 1.1em;
}

.child-categories{
  ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    padding-left: 10px;
  }
}



.pagination{
  text-align: center;
  display: block;
  margin: 30px 0;


  .step-links{
    text-align: center;
    margin: 0 auto;

    .link{
      border: 1px solid $orange;
      padding: 3px 10px;
      border-radius: 5px;
      margin: 0 10px;
      background: #fff;
      text-decoration: none;

      &:hover{
        color: $orange;
      }
    }
  }
}


#header{
  background: #fff;
  // margin-bottom: 10px;
  border-bottom: 1px solid $orange;

  .top{
    position: relative;
    text-align: center;
    font-size: 2em;
    background: $orange;
    color: #fff;

    #menu-btn{
      position: absolute;
      left: 10px;
      top: 10px;
      font-size: 20px;
      // color: #fff;
    }

    #logo{
      color: #fff !important;
    }
  }

  .search-bar{
    box-sizing: border-box;
    padding: 20px;

    #search-box{
      position: relative;
      border: 3px solid $orange;
      height: 35px;

      input{
        width: 95%;
        border: none;
        height: 28px;
        padding-left: 8px;
      }
      input:focus{
        outline: none;
      }

      .search-button{
        position: absolute;
        top: 0;
        right: 0;
        background: $orange;
        padding: 5px 15px;
        line-height: 20px;
        color: #fff;
      }
    }
  }

  #user-tools{
    text-align: center;
    // position: absolute;
    // top: 5px;
    // right: 5px;
    font-size: 16px;

    .grid{
      display: flex;

      .column{
        flex: 1;
        padding-bottom: 5px;
        a{
          color: #333;
        }
      }
    }
  }
}

#footer{
  background: #ededed;
  min-height: 120px;
  margin-top: 20px;

  .main-container{
    padding: 20px;

    ul, li{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li{
      display: inline-block;
      margin-right: 30px;
    }
  }
}

#main-container{
  padding: 0 0px;

  .row{
    margin-right: 0px;
    margin-left: 0px;
  }
}

#menu-panel{
  display: none;
  position: fixed;
  top: 0;left: 0;bottom: 0;right: 0;
  background: rgba(161, 158, 158, 0.9);

  .container{
    position: absolute;
    top: 0;left: 0;bottom: 0;
    background: #fff;
    box-sizing: border-box;
    width: 200px;

    a{
      color: #333;
    }
    .splitter{
      border-bottom: 1px solid $orange;
      margin-bottom: 15px;
    }

    .item{
      padding: 5px 0;
    }
  }
}


#main-carousel{

  .item{
    .image{
      // height: 300px;
      width: 100%;
      padding-top: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}


.block-heading{
  position: relative;
  padding: 5px 0;
  border-bottom: 1px solid lighten($orange, 10%);
  margin-bottom: 10px;
  margin-top: 30px;

  .heading{
    padding: 0;
    margin: 0;
  }
  .more{
    position: absolute;
    right: 0px;
    top: 10px;
  }
}

.category-list{
  box-sizing: border-box;
  .col-item{
    box-sizing: border-box;
    padding-left: 1px;
    padding-right: 1px;

    .item{
      position: relative;
      padding: 10px 5px;
      text-align: center;
      height: 40px;
      margin-bottom: 2px;


      .bg-img{
        position: absolute;
        left: 0;right:0;
        top: 0; bottom: 0;
        border-radius: 5px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .overlay{
        position: absolute;
        left: 0;right:0;
        top: 0; bottom: 0;
        background: #531f05;
        border-radius: 5px;
        opacity: 0.7;
      }
      .name{
        position: absolute;
        left: 0;right:0;
        top: 0; bottom: 0;
        color: #fff;
        line-height: 40px;
        font-size: 0.9em;
      }
    }
  }
}

.price{
  color: red;
}

.product-list{
  a{
    color: #333;
  }
  .item{
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0;
    // height: 200px;
    margin-bottom: 2px;
    background: #fff;
    // border: 1px solid #333;
    border-width: 1px 1px 0 0;
    .img-wrapper{
      margin: 0 auto;
      position: relative;
      width: 90%;
      padding-top: 90%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .rating{
      position: absolute;
      left: 0px;
      top: 10px;
      background: $orange;
      color: #fff;
      padding: 2px 10px;
    }

    .desc{
      min-height: 4.5em;
    }
  }
}

.section{
  background: #fff;

}

#product-detail{

  .rating{
    padding: 10px 0;
    font-weight: bold;

    .em{
      padding: 0 5px;
      margin: 0 5px;
      background: $orange;
      border-radius: 3px;
      color: #fff;

    }
    .info{
      font-size: 0.9em;
      color: #b5b4b4;
    }
  }


  .showing-large{
      max-width: 90%;
  }

  #large-image{
    width: 90%;
    padding-top: 90%;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }


  .img-slider{
    img {
      max-width: 60px;
    }
  }

  .main{
    margin-top: 10px;

    .option{
      .error{
        color: red;
        display: none;
      }
      .border.color{
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 2px solid #dbdbdb;
        box-sizing: border-box;
        padding: 2px 0 0 2px;
        margin-right: 10px;
        cursor: pointer;

        &:hover{
          border: 2px solid #333;
        }
        &.selected{
          border: 2px solid $orange;
        }
        >div{
          display: block;
          width: 22px;
          height: 22px;
        }
      }//.border
      .size{
        display: inline-block;
        padding: 5px;
        min-width: 40px;
        text-align: center;
        margin-right: 10px;
        border: 2px solid #dbdbdb;
        cursor: pointer;
        &:hover{
          border: 2px solid #333;
        }
        &.selected{
          border: 2px solid $orange;
        }
      }
    }//.option

    .buttons{
      margin: 20px 0;
    }


    .d-price{
      padding: 20px 0;
      .price{
        font-size: 2em;
        color: red;
      }
    }
  }

  .detail-info{
    .technical-info{
      table{
        border-collapse: collapse;
      }

      table, th, td {
          border: 1px solid #f0f0f0;
      }

      td{
        padding: 2px 20px;
      }
      .key{
        background: lighten($orange, 35%);
      }
      .value{
        //  max-width: 500px;
      }
    }
  }

  .same-category-products{
    margin: 30px 0;

    border-top: 1px solid #c0c0c0;

    .product-list{

      .item{
        text-align: left;
        position: relative;
        padding-left: 85px;
        height: 100px;
        .thumbnail{
          position: absolute;
          left: 0;
          top: 0px;
          width: 80px;
          height: 80px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  } //.same-category-products
}//#product-detail


.cart-list{
  .item{
    position: relative;
    padding-left: 120px;
    height: 130px;

    .thumbnail{
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      border: none;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .delete-btn{
      position: absolute;
      right: 0;
      top: 50px;
    }
  }
}
#cart-summary{
  border-top: 1px solid $orange;
  text-align: right;
  font-size: 1.5em;
}


.order-confirmation{
  .order-info{

    td{
      padding: 5px 0;
    }
    .price{
      width: 100px;
      display: inline-block;
      text-align: right;
    }

    .total-summary{
      border-top: 1px solid #d0d0d0;

      .price{
        font-size: 1.2em;
      }
    }
  }
}

#profilePage{
  .block{
    border-bottom: 1px solid #dbdbdb;

    &:last-child{
      border: none;
    }

    .actions{
      padding: 15px 0;
      a{
        margin-right: 30px;
      }
    }

    .address{
      border: 1px solid #dbdbdb;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 5px;
    }

    .purchase-list{

      .item{
        position: relative;
        border: 1px solid #dbdbdb;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 5px;

        .time{
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 0.85em;
        }

        .centering{
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}


#orderDetail{
  ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul.timeline{
    margin-left: 70px !important;
  }

  td{
    padding: 0 5px;
  }
  .block{
    padding: 0 20px 20px 0;
    border-bottom: 1px solid #dbdbdb;
    &:last-child{
      border: none;
    }

    .order-status-timeline{
      .done{
        color: #1b7919;
        i{
          color: #1b7919;
        }

      }
    }

    .amount-detail{
      .price{
        display: inline-block;
        width: 150px;
        text-align: right;
      }
    }

  }
}


.static-page{
  .huge{

    font-size: 1.1em;
    color: #333;
    background: #f7a148;
    padding: 5px 10px;
  }
  .coupons{
    margin-top: 30px;
    margin-bottom: 50px;
    img{
      width: 98%;
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}





#campainPopup{
  display: none;

  .overlay{
    z-index: 9998;
    position: fixed;
    top: 0; right: 0;
    left: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.64);
  }
  .wrapper{

    z-index: 9999;
    position: fixed;
    top: 50%;
    margin-top: -200px; /* Half of the width */
    height: 400px;

    width: 90%;
    margin-left: 5%;

    background: #fff;
    box-sizing: border-box;
    padding: 10px 20px;

    text-align: center;

    i{
      position: absolute;
      right: -30px;
      top: -20px;
      font-size: 40px;
      color: rgba(#d1cbcb, 0.84);
      cursor: pointer;
    }

    .title{
      font-size: 1.5em;
    }
    .saleoff{
      font-size: 3em;
      font-weight: bold;
      color: $orange;
    }

    .email{
      padding-top: 10px;

      input{
          width: 90%;
          padding: 3px 5px;
          border-radius: 5px;
          border: 1px solid $orange;
          margin-bottom: 10px;
      }

      input:focus{
        outline: none;
      }
    }
  }
}




#requestProductBtn{
  position: fixed;
  left: 5px;
  bottom: 5px;
  background: rgba(#e26334, 0.8);
  padding: 10px;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  padding-top: 25px;
  font-weight: bold;
  font-size: 0.96em;
  color: #fff;

  &:hover{
    background: rgba(#e26334, 1);
  }
}



#requestProduct{
  display: none;

  .overlay{
    z-index: 9998;
    position: fixed;
    top: 0; right: 0;
    left: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.64);
  }
  .wrapper{

    z-index: 9999;
    position: fixed;
    width: 90%;
    margin-left: 5%;
    top: 50%;
    margin-top: -255px; /* Half of the width */
    min-height: 450px;
    background: #fff;
    box-sizing: border-box;
    padding: 30px;

    text-align: center;

    i{
      position: absolute;
      right: -30px;
      top: -20px;
      font-size: 40px;
      color: rgba(#d1cbcb, 0.84);
      cursor: pointer;
    }

    .title{
      font-size: 1.5em;
    }

    textarea{
      width: 98%;
      height: 60px;
      padding: 3px;
      border-radius: 5px;
      border: 1px solid #dbdbdb;
    }

    input{
      width: 70%;
      padding: 3px;
      border-radius: 5px;
      border: 1px solid #dbdbdb;
    }

    textarea:focus, input:focus{
      outline: none;
      border: 1px solid $orange;
      -webkit-transition-delay: 0.2s; /* Safari */
      transition-delay: 0.2s;
    }
  }
}



#messenger-plugin{
  position: fixed;
  bottom: 10px;
  right: 20px;

  .messenger-button{
    background: #fff;
    padding: 6px 20px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    cursor: pointer;
    img{
      width: 30px;
      height: auto;
    }
  }

  .close{
    position: absolute;
    cursor: pointer;
    top: -20px;
    right: 0px;
    display: none;
  }

  .fb-page{
    display: none;
  }
}//#messager-plugin
