$containerWidth: 1200px;
$promoImageWidth: 200px;
$itemWidth: ($containerWidth - $promoImageWidth) / 5;

$header-height: 150px;
$footer-height: 350px;

$orange: #f28d23;

.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 16px;
  background: #f35f51;
  padding: 5px 20px 5px 20px;
  text-decoration: none;

  &.btn-o{
    background: none;
    border: 1px solid #f35f51;
    color: #f35f51;
  }

  &.btn-small{
    padding: 2px 10px 2px 10px;
  }
}

.btn:hover {
  background: #e44738;
  text-decoration: none;
  color: #fff;

  &.btn-o{
    background: none;
    color: #e44738;
    border: 1px solid #e44738;
  }
}

p.info{
  color: #b5b4b4;
}

.line2{
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2.66667em;
}


body{
    background: #f2f2f2;
    font-family: 'Quicksand', sans-serif;
    .section{
        position: relative;
        background: #fff;
        // padding: 20px;
        box-sizing: border-box;
        // margin-bottom: 20px;
    }
}

.red, .price{
  color: red;
}
.strong{
  font-weight: bold;
}

.breadscum{
  margin-bottom: 10px;
}


.pagination{
  text-align: center;
  display: block;
  margin-top: 50px;


  .step-links{
    text-align: center;
    margin: 0 auto;

    .link{
      border: 1px solid $orange;
      padding: 3px 10px;
      border-radius: 5px;
      margin: 0 10px;
      background: #fff;
      text-decoration: none;

      &:hover{
        color: $orange;
      }
    }
  }
}


#header{
    position: relative;
    height: $header-height;
    background: #fff;
    margin-bottom: 20px;

    #logo{
      position: absolute;
      top: 20px;
      font-size: 40px;
      color: $orange;
      font-family: 'Pacifico', cursive;
    }

    #slogan{
      position: absolute;
      top: 80px;
      font-size: 16px;
      color: $orange;
      font-family: 'Pacifico', cursive;
    }

    #search-box{
      position: absolute;
      top: 40px;
      left: 350px;
      input{
        border: 3px solid $orange;
        padding: 5px 10px;
        width: 470px;
      }
      input:focus{
          outline: none;
      }
      .search-button{
        position: absolute;
        top: 0;
        right: -40px;
        display: inline-block;
        background: $orange;
        width: 40px;
        text-align: center;
        height: 36px;
        line-height: 36px;
        color: #fff;
        font-size: 2em;
      }
    }

    #user-tools{
        position: absolute;
        right: 0px;
        top: 40px;
    }

    #shopping-tools{
      position: absolute;
      right: 0px;
      top: 100px;
      a{
        text-decoration: none;
      }
      .item{
        display: inline-block;
        margin-left: 40px;

        .text{
          color: #333;
        }

        .quantity{
          padding: 2px 10px;
          background: $orange;
          text-align: center;
          margin-left: 6px;
          color: #fff;
          border-radius: 5px;
        }
      }
    }

}

.main-container{
    margin: 0 auto;
    width: $containerWidth;
    box-sizing: border-box;
}

.block-heading{
  margin-top: 40px;
  padding-bottom: 10px;
  position: relative;


  .more{
    position: absolute;
    right: 0;
    bottom: 10px;
  }
}


#footer{
  height: $footer-height;
  border-top: 1px solid #f0f0f0;
  margin-top: 40px;
  background: #fff;
  position: relative;

  .main-container{
    position: relative;
    padding-top: 30px;

    .logo{
      position: absolute;
      top: 20px;

      .branding{
        font-size: 25px;
        color: $orange;
        font-family: 'Pacifico', cursive;
      }
    }

    .grid{
      margin-top: 80px;

      ul, li{
        list-style: none;
        padding:0;
        margin:0;
      }
      li{
        padding: 10px 0;
      }

      .column{
        display: inline-block;
        width: 300px;
      }
    }

    .facebook-plugin{
      position: absolute;
      right: 0px;
      top: 30px;
      width: 320px;
    }


  }
  .bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #e0e0e0;
    padding: 10px 0;
  }
}

#banner{
  position: relative;
  background: #fff;
  .column{
    &.large{
      position: relative;
      width: 840px;
      height: 300px;
      padding-left: 200px;

      .category{
        position: absolute;
        top: 0; left: 0; bottom: 0;
        width: 200px;
        background: #c0c0c0;
        .bg-img{
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          // -webkit-filter: blur(10px);
          // filter: blur(10px);
        }

        ul, li{
          list-style: none;
          padding: 0;
          margin: 0;
        }
        .overlay{
          position: absolute;
          left: 0; top: 0; right: 0;bottom: 0;
          background: #955909;
          opacity: 0.8
        }
        .category-list{
          position: absolute;
          left: 0; top: 0; right: 0;bottom: 0;

          li{
            box-sizing: border-box;
            padding: 5px 10px;
            &:hover{
              background: orange;
            }
            a{
              display: block;
              font-size: 0.9em;
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }

      .carousel{
        width: 100%;
        height: 100%;
        .img{
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 100%;
          height: 300px;
        }
      }
    }
    &.small{
      position: absolute;
      top: 0;
      right: 0;
      background: rgb(169, 195, 209);
      width: 350px;
      height: 300px;

      .img{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }
    }
  }
}


.heading{
  margin-bottom: 0;
  padding-bottom: 0;
}

.category-block{
  position: relative;
  box-sizing: border-box;
  border-top: 5px solid orange;
  padding-left: $promoImageWidth !important;
  padding: 0;
  margin: 0;

  .promo{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $promoImageWidth;
    background: #c0c0c0;

    .img{
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;

    }
  }
}

.product-list{
    position: relative;
    a{
      color: #333;
      text-decoration: none;
    }
    .item{
        display: block;
        float: left;
        box-sizing: border-box;
        // border-right: 0px solid #c0c0c0;
        text-align: center;
        width: $itemWidth;
        padding: 10px 0;
        margin: 0;
        position: relative;

        .name{
            height: 3em;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 10px;
            box-sizing: border-box;
        }

        .thumbnail{
            width: 90%;
            padding-top: 80%;
            margin: 0 auto;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            border: none;
        }

        .rating{
          position: absolute;
          left: 10px;
          top: 10px;
          background: $orange;
          color: #fff;
          padding: 2px 10px;
        }

        .desc{
          .price{
            color: #c2490e;
          }
        }
    }
}



.message{
  text-align: center;
  padding: 30px;
  font-size: 1.2em;
}

.cart-list, .save-list{
    min-height: 500px;

    .item{
        position: relative;
        padding-left: 150px;
        height: 170px;
        border-bottom: 1px solid orange;
        padding-top: 20px;

        &:last-child{
          border-bottom: none;
        }

        .thumbnail{
            position: absolute;
            left: 0px;
            top: 20px;
            width: 140px;
            height: 140px;
            border: none;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .quantity{
          padding-top: 15px;
          font-size: 1.2em;

          .field-label{
            margin-right: 20px;
          }

          select {
            width: 70px;
          }
        }

        .price{
          position: absolute;
          right: 10px;
          top: 50px;

          .price-number{
            font-size: 1.3em;
            color: red;
          }
        }

        .delete-btn{
          position: absolute;
          right: 20px;
          bottom: 30px;
        }
    }
}


// Product detail page
#product-detail{
  .main.grid{
    display: flex;

    .column{
      padding: 20px;
      box-sizing: border-box;

      &.images{
        flex: 2;
        margin-right: 20px;

        #large-image{
          width: 380px;
          height: 380px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .img-slider{
          img{
            max-width: 60px;
            max-height: 60px;
            border: 1px solid #fff;

            &:hover{
              border: 1px solid #c0c0c0;
            }
          }
        }
      }
      &.info{
        flex: 3;

        .rating{
          padding-top: 10px;
          font-weight: bold;

          .em{
            padding: 0 5px;
            margin: 0 5px;
            background: $orange;
            border-radius: 3px;
            color: #fff;

          }
          .info{
            font-size: 0.9em;
            color: #b5b4b4;
          }
        }

        .price{
          margin-top: 40px;

          .hl{
            padding-left: 20px;
            font-size: 1.5em;
            color: red;
            font-weight: bold;
          }
        }

        .option{
          .error{
            color: red;
            display: none;
          }
          .border.color{
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 2px solid #dbdbdb;
            box-sizing: border-box;
            padding: 2px 0 0 2px;
            margin-right: 10px;
            cursor: pointer;

            &:hover{
              border: 2px solid #333;
            }
            &.selected{
              border: 2px solid $orange;
            }
            >div{
              display: block;
              width: 22px;
              height: 22px;
            }
          }//.border
          .size{
            display: inline-block;
            padding: 5px;
            min-width: 40px;
            text-align: center;
            margin-right: 10px;
            border: 2px solid #dbdbdb;
            cursor: pointer;
            &:hover{
              border: 2px solid #333;
            }
            &.selected{
              border: 2px solid $orange;
            }
          }
        }//.option

        .buttons{
          margin-top: 40px;
        }

        .intro{
          margin-top: 40px;
        }
      }
    }
  }

  .detail-info{
    box-sizing: border-box;
    padding: 20px;

    .technical-info{
      table{
        border-collapse: collapse;
      }

      table, th, td {
          border: 1px solid #f0f0f0;
      }

      td{
        padding: 2px 20px;
      }
      .key{
        background: lighten($orange, 35%);
      }
      .value{
        max-width: 500px;
      }
    }
  }

  .same-category-products{
    margin: 30px 0;

    border-top: 1px solid #c0c0c0;

    h2{
      margin-left: 20px;
    }

  }
}


.field-label{
  width: 140px;
  display: inline-block;
}

.centering{
  margin-top: 30px;
  text-align: center;

  .btn{
    // padding-left: 80px;
    // padding-right: 80px;
  }
}

// Order confirm page
.order-confirmation.grid{
  display: flex;
  justify-content: space-between;

  .column{
    background: #fff;
    box-sizing: border-box;
    padding: 20px;

    &.items{
      flex: 4;
      margin-right: 20px;
    }
    &.order-info{
      flex: 2;

      .field-label{
        width: 140px;
        display: inline-block;
      }

      .price{
        font-size: 1.3em;
        color: red;
      }
      .price-total{
        font-size: 2em;
        color: red;
        font-weight: bold;
      }

      .shipping-info{
        margin-top: 60px;

        .hl{
          color: red;
        }
      }

      .hint{
        text-align: center;
        color: #c0c0c0;
      }

      .total-summary{
        border-top: 1px solid #c0c0c0;
      }


    }
  }
}


.order-info-input.grid{
  display: flex;
  justify-content: space-between;

  form{
    .medium{
      max-width: 300px;
    }

    label{
      margin-top: 10px;
    }
    select{
      max-width: 200px;
    }
  }

  .column{
    background: #fff;
    box-sizing: border-box;
    padding: 20px;

    &:last-child{
      border-left: 1px solid lighten($orange, 30%);
    }

    &.new{
      flex: 1;
      margin-right: 20px;

    }
    &.exist{
      flex: 1;
    }

    .shippingAddress{
      margin-bottom: 20px;
    }
  }
}



#paymentMethod{
  .grid{
    display: flex;
    justify-content: space-between;

    table{
      margin-bottom: 40px;

      .key{
        min-width: 130px;
      }

      .value{
        font-weight: bold;
      }
    }


    .column{
      background: #fff;
      box-sizing: border-box;
      padding: 20px;

      &:last-child{
        border-left: 1px solid lighten($orange, 30%);
      }

      &.new{
        flex: 1;
        margin-right: 20px;

      }
      &.exist{
        flex: 1;
      }
    }
  }
}




#profile-content{
  .wrapper{
    padding: 20px;
  }
  .price{
    color: red;
  }

  .profile{
    display: flex;

    .address{
      padding: 10px 0;
      margin-bottom: 10px;
      width: 80%;
      border-bottom: 1px solid lighten($orange, 20%);

      &:last-child{
        border: none;
      }
    }


    .column{
      flex: 1;

      .heading{
        color: $orange;
        text-align: center;
        margin-top: 0;
      }
      .membership{
        border: 4px dashed $orange;
        box-sizing: border-box;
        padding: 20px;
      }
    }

    .notice{
      font-size: 0.9em;
      color: $orange;
    }

    .prize{
      color: red;
    }

    .invite-friends{
      text-align: center;
      a{
        font-size: 1.3em;
        color: red;
        font-weight: bold;
      }
    }

    .field-label{
      min-width: 150px;
      display: inline-block;
    }
  }

  .purchase-list{
    min-height: 300px;
    .item{
      position: relative;
      border-bottom: 1px solid lighten($orange, 20%);
      padding: 20px;
      background: #fff;
      border: 1px solid #f0f0f0;
      margin-bottom: 20px;
      box-sizing: border-box;

      .detail-link{
        margin-left: 30px;
        font-weight: bold;
      }

      .item-list{
        a{
          color: #333;
        }
      }


      &:last-child{
        border-bottom: none;
      }

      .right-info{
        position: absolute;
        right: 20px;
        top: 20px;
        text-align: right;
      }


    }
  }
}


.order-status-timeline{
  .status.grid{
    display: flex;

    .column{
      flex: 1;
      text-align: center;
    }

    &.line{
      // border-bottom: 1px solid red;

      .column{
        .status-line{
          width: 100%;
          height: 6px;
          background: #fff;
          border-bottom: 1px solid red;

          &.done{
            background: red;
          }
          &.first{
            width: 50%;
            float: right;
          }
          &.last{
            // height: 2px;
            width: 50%;
          }
        }
      }
    }
  }
}

.static-page{
  position: relative;
  padding-left: 300px;
  min-height: 600px;

  .huge{
    margin-top: 30px;
    font-size: 1.1em;
    color: #333;
    background: #f7a148;
    padding: 5px 10px;
  }
  .coupons{
    margin-top: 30px;
    img{
      max-width: 400px;
      display: inline-block;
    }
  }

  .side{
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;

    a{
      color: lighten(#333, 20%);
      text-decoration: none;

      &:hover{
        color: #000;
      }

      &.active{
        color: #000;
        font-weight: bold;
        font-size: 1.2em;
      }
    }
    div{
      padding: 10px 0;
    }
  }
}



#orderDetail{
  display: flex;

  .strong{
    color: red;
  }

  .main{
    flex: 3;
    margin-right: 20px;

    .section{
      box-sizing: border-box;
      padding: 20px;
      margin-bottom: 20px;

      >h2{
        margin-top: 0;
        padding-top:0;
      }

      &.title{
        text-align: center;
        font-size: 1.3em;
      }
    }

    .grid{
      display: flex;
      .column{
        flex: 1;
      }
    }
  }
  .message-staff{
    flex: 1;

    .section{
      box-sizing: border-box;
      padding: 20px;
      margin-bottom: 20px;

      >h2{
        margin-top: 0;
        padding-top:0;
      }

      .info{
        font-size: 0.9em;
        color: lighten(#333, 30%);
      }

      .message-list{
        margin-top: 20px;
        padding-top: 20px;

        border-top: 1px solid #c0c0c0;
        .item{
          margin-bottom: 20px;
          // border-bottom: 1px solid #f0f0f0;

          &:last-child{
            border: none;
          }

          .sender{
            font-weight: bold;
            color: red;
          }
          .time{
            font-size: 0.85em;
            color: lighten(#333, 20%);
          }


          .message{
            // border: 1px solid #c0c0c0;
            border-radius: 5px;
            padding: 5px 10px;
            text-align: left;
            background: lighten($orange, 35%);

          }

          &.staff{
            text-align: right;

            .sender{
              color: blue;
            }
            .message{
              text-align: right;
              background: lighten(#f0f0f0, 0%);
            }
          }
        }
      }
    }

    // border-left: 1px solid lighten($orange, 30%);
  }
}


#featureSet{
  display: flex;
  .column{
    background: #fff;
    box-sizing: border-box;
    padding: 20px;


    &.main{
      position: relative;
      flex: 3;
      margin-right: 30px;
      text-align: center;


      .ribbon{
        position: absolute;
        top: -10px;
        right: -10px;
      }

      h1{
        font-size: 2em !important;
        margin-top: 0;
        margin-bottom: 30px;
      }
      h2{
        padding: 20px 0;
      }

      .rep-image{
        width: 80%;
        margin: 0 auto;
        text-align: center;
      }

      .share{
        margin: 30px 0;

        button{
          padding: 10px 40px;
        }
      }

      .desc{
        margin-top: 50px;
      }

      .products{
        margin-top: 50px;

        .item{
          position: relative;
          padding-left: 170px;
          min-height: 170px;
          text-align: left;

          border-bottom: 1px solid #dbdbdb;

          &:last-child{
            border: none;
          }

          a{
            text-decoration: none;
            color: #333;
          }
          .thumbnail{
              position: absolute;
              left: 0;
              top: 0;
              width: 150px;
              height: 150px;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              border: none;
          }
        }
      }

      .cart-btn{
        margin: 50px;
      }

      .comment-wrapper{
        padding-top: 40px;
        border-top: 1px solid #dbdbdb;
      }

    }
    &.recommend{
      flex: 1;
    }
  }
}



#campainPopup{
  display: none;

  .overlay{
    z-index: 9998;
    position: fixed;
    top: 0; right: 0;
    left: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.64);
  }
  .wrapper{

    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px; /* Half of the width */
    margin-top: -200px; /* Half of the width */
    width: 600px;
    height: 400px;
    background: #fff;
    box-sizing: border-box;
    padding: 30px;

    text-align: center;

    i{
      position: absolute;
      right: -30px;
      top: -20px;
      font-size: 40px;
      color: rgba(#d1cbcb, 0.84);
      cursor: pointer;
    }

    .title{
      font-size: 1.5em;
    }
    .saleoff{
      font-size: 3em;
      font-weight: bold;
      color: $orange;
    }

    .email{
      padding-top: 40px;

      input{
          width: 300px;
          padding: 3px 5px;
          border-radius: 5px;
          border: 1px solid $orange;
      }

      input:focus{
        outline: none;
      }
    }
  }


}



#categoryPage{
  position: relative;
  padding-left: 200px;

  .category-list{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;

    h3{
      padding: 0;
      margin:0;
    }

    a{
      display: block;
      padding: 5px 0;
      text-decoration: none;
      color: lighten(#333, 5%);

      &:hover{
        color: #000;
      }
    }
  }

  .section{
    background: #fff;
  }
}


#requestProductBtn{
  position: fixed;
  left: 50px;
  bottom: 50px;
  background: rgba(#e26334, 0.7);
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  padding-top: 25px;
  font-weight: bold;
  font-size: 1.1em;
  color: #fff;

  &:hover{
    background: rgba(#e26334, 1);
  }
}



#requestProduct{
  display: none;

  .overlay{
    z-index: 9998;
    position: fixed;
    top: 0; right: 0;
    left: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.64);
  }
  .wrapper{

    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px; /* Half of the width */
    margin-top: -225px; /* Half of the width */
    width: 600px;
    height: 450px;
    background: #fff;
    box-sizing: border-box;
    padding: 30px;

    text-align: center;

    i{
      position: absolute;
      right: -30px;
      top: -20px;
      font-size: 40px;
      color: rgba(#d1cbcb, 0.84);
      cursor: pointer;
    }

    .title{
      font-size: 1.5em;
    }

    textarea{
      width: 98%;
      height: 100px;
      padding: 3px;
      border-radius: 5px;
      border: 1px solid #dbdbdb;
    }

    input{
      width: 70%;
      padding: 3px;
      border-radius: 5px;
      border: 1px solid #dbdbdb;
    }

    textarea:focus, input:focus{
      outline: none;
      border: 1px solid $orange;
      -webkit-transition-delay: 0.2s; /* Safari */
      transition-delay: 0.2s;
    }

  }
}


#messenger-plugin{
  position: fixed;
  bottom: 10px;
  right: 20px;

  .messenger-button{
    background: #fff;
    padding: 6px 20px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    cursor: pointer;
    img{
      width: 30px;
      height: auto;
    }
  }

  .close{
    position: absolute;
    cursor: pointer;
    top: -20px;
    right: -0px;
    display: none;
    font-size: 20px;
  }

  .fb-page{
    display: none;
  }
}//#messager-plugin
