/* line 5, ../sass/common.scss */
h1 {
  font-size: 1.4em !important;
}

/* line 8, ../sass/common.scss */
h2 {
  font-size: 1.4em !important;
}

/* line 11, ../sass/common.scss */
h3 {
  font-size: 1.4em !important;
}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*Message*/
/* line 36, ../sass/common.scss */
#lt-notify {
  z-index: 999999999;
  position: fixed;
  top: 150px;
  right: 5px;
  background: #fff;
  padding: 20px;
  min-width: 200px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #15cd72;
  color: #15cd72;
}

/* line 51, ../sass/common.scss */
#lt-notify:hover {
  background: #FFFFF3;
}

/* line 54, ../sass/common.scss */
#lt-notify.error {
  border: 2px solid red;
  color: red;
}

/*END OF NOTIFIATION STYLESHEETS */
