/* line 4, ../sass/mobile.scss */
a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

/* line 9, ../sass/mobile.scss */
.red, .price {
  color: red;
}

/* line 12, ../sass/mobile.scss */
.strong {
  font-weight: bold;
}

/* line 15, ../sass/mobile.scss */
p.info {
  color: #b5b4b4;
}

/* line 19, ../sass/mobile.scss */
#lt-notify {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  padding: 20px 10px;
  background: #15cd72;
  color: #fff;
}
/* line 26, ../sass/mobile.scss */
#lt-notify.error {
  background: red;
  color: #fff;
}

/* line 36, ../sass/mobile.scss */
.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 16px;
  background: #f35f51;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}
/* line 49, ../sass/mobile.scss */
.btn.btn-o {
  background: none;
  border: 1px solid #f35f51;
  color: #f35f51;
}
/* line 55, ../sass/mobile.scss */
.btn.btn-small {
  padding: 2px 10px 2px 10px;
}

/* line 60, ../sass/mobile.scss */
.btn:hover {
  background: #e44738;
  text-decoration: none;
  color: #fff;
}
/* line 65, ../sass/mobile.scss */
.btn:hover.btn-o {
  background: none;
  color: #e44738;
  border: 1px solid #e44738;
}

/* line 72, ../sass/mobile.scss */
.line2 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2.66667em;
}

/* line 80, ../sass/mobile.scss */
body {
  background: #fff;
  font-family: 'Quicksand', sans-serif;
}

/* line 84, ../sass/mobile.scss */
.logo {
  color: #f28d23;
  font-family: 'Pacifico', cursive;
}

/* line 89, ../sass/mobile.scss */
h3 {
  font-size: 22px;
}

/* line 93, ../sass/mobile.scss */
.spacing {
  box-sizing: border-box;
  padding: 0 10px;
}

/* line 98, ../sass/mobile.scss */
.centering {
  text-align: center;
  margin: 30px auto;
}

/* line 103, ../sass/mobile.scss */
#breadscum {
  margin-top: 10px;
  font-size: 1.1em;
}

/* line 109, ../sass/mobile.scss */
.child-categories ul, .child-categories li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 114, ../sass/mobile.scss */
.child-categories li {
  padding-left: 10px;
}

/* line 121, ../sass/mobile.scss */
.pagination {
  text-align: center;
  display: block;
  margin: 30px 0;
}
/* line 127, ../sass/mobile.scss */
.pagination .step-links {
  text-align: center;
  margin: 0 auto;
}
/* line 131, ../sass/mobile.scss */
.pagination .step-links .link {
  border: 1px solid #f28d23;
  padding: 3px 10px;
  border-radius: 5px;
  margin: 0 10px;
  background: #fff;
  text-decoration: none;
}
/* line 139, ../sass/mobile.scss */
.pagination .step-links .link:hover {
  color: #f28d23;
}

/* line 147, ../sass/mobile.scss */
#header {
  background: #fff;
  border-bottom: 1px solid #f28d23;
}
/* line 152, ../sass/mobile.scss */
#header .top {
  position: relative;
  text-align: center;
  font-size: 2em;
  background: #f28d23;
  color: #fff;
}
/* line 159, ../sass/mobile.scss */
#header .top #menu-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 20px;
}
/* line 167, ../sass/mobile.scss */
#header .top #logo {
  color: #fff !important;
}
/* line 172, ../sass/mobile.scss */
#header .search-bar {
  box-sizing: border-box;
  padding: 20px;
}
/* line 176, ../sass/mobile.scss */
#header .search-bar #search-box {
  position: relative;
  border: 3px solid #f28d23;
  height: 35px;
}
/* line 181, ../sass/mobile.scss */
#header .search-bar #search-box input {
  width: 95%;
  border: none;
  height: 28px;
  padding-left: 8px;
}
/* line 187, ../sass/mobile.scss */
#header .search-bar #search-box input:focus {
  outline: none;
}
/* line 191, ../sass/mobile.scss */
#header .search-bar #search-box .search-button {
  position: absolute;
  top: 0;
  right: 0;
  background: #f28d23;
  padding: 5px 15px;
  line-height: 20px;
  color: #fff;
}
/* line 203, ../sass/mobile.scss */
#header #user-tools {
  text-align: center;
  font-size: 16px;
}
/* line 210, ../sass/mobile.scss */
#header #user-tools .grid {
  display: flex;
}
/* line 213, ../sass/mobile.scss */
#header #user-tools .grid .column {
  flex: 1;
  padding-bottom: 5px;
}
/* line 216, ../sass/mobile.scss */
#header #user-tools .grid .column a {
  color: #333;
}

/* line 224, ../sass/mobile.scss */
#footer {
  background: #ededed;
  min-height: 120px;
  margin-top: 20px;
}
/* line 229, ../sass/mobile.scss */
#footer .main-container {
  padding: 20px;
}
/* line 232, ../sass/mobile.scss */
#footer .main-container ul, #footer .main-container li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 237, ../sass/mobile.scss */
#footer .main-container li {
  display: inline-block;
  margin-right: 30px;
}

/* line 244, ../sass/mobile.scss */
#main-container {
  padding: 0 0px;
}
/* line 247, ../sass/mobile.scss */
#main-container .row {
  margin-right: 0px;
  margin-left: 0px;
}

/* line 253, ../sass/mobile.scss */
#menu-panel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(161, 158, 158, 0.9);
}
/* line 259, ../sass/mobile.scss */
#menu-panel .container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  box-sizing: border-box;
  width: 200px;
}
/* line 266, ../sass/mobile.scss */
#menu-panel .container a {
  color: #333;
}
/* line 269, ../sass/mobile.scss */
#menu-panel .container .splitter {
  border-bottom: 1px solid #f28d23;
  margin-bottom: 15px;
}
/* line 274, ../sass/mobile.scss */
#menu-panel .container .item {
  padding: 5px 0;
}

/* line 284, ../sass/mobile.scss */
#main-carousel .item .image {
  width: 100%;
  padding-top: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 296, ../sass/mobile.scss */
.block-heading {
  position: relative;
  padding: 5px 0;
  border-bottom: 1px solid #f5a653;
  margin-bottom: 10px;
  margin-top: 30px;
}
/* line 303, ../sass/mobile.scss */
.block-heading .heading {
  padding: 0;
  margin: 0;
}
/* line 307, ../sass/mobile.scss */
.block-heading .more {
  position: absolute;
  right: 0px;
  top: 10px;
}

/* line 314, ../sass/mobile.scss */
.category-list {
  box-sizing: border-box;
}
/* line 316, ../sass/mobile.scss */
.category-list .col-item {
  box-sizing: border-box;
  padding-left: 1px;
  padding-right: 1px;
}
/* line 321, ../sass/mobile.scss */
.category-list .col-item .item {
  position: relative;
  padding: 10px 5px;
  text-align: center;
  height: 40px;
  margin-bottom: 2px;
}
/* line 329, ../sass/mobile.scss */
.category-list .col-item .item .bg-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 338, ../sass/mobile.scss */
.category-list .col-item .item .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #531f05;
  border-radius: 5px;
  opacity: 0.7;
}
/* line 346, ../sass/mobile.scss */
.category-list .col-item .item .name {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  line-height: 40px;
  font-size: 0.9em;
}

/* line 358, ../sass/mobile.scss */
.price {
  color: red;
}

/* line 363, ../sass/mobile.scss */
.product-list a {
  color: #333;
}
/* line 366, ../sass/mobile.scss */
.product-list .item {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0;
  margin-bottom: 2px;
  background: #fff;
  border-width: 1px 1px 0 0;
}
/* line 376, ../sass/mobile.scss */
.product-list .item .img-wrapper {
  margin: 0 auto;
  position: relative;
  width: 90%;
  padding-top: 90%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 385, ../sass/mobile.scss */
.product-list .item .rating {
  position: absolute;
  left: 0px;
  top: 10px;
  background: #f28d23;
  color: #fff;
  padding: 2px 10px;
}
/* line 394, ../sass/mobile.scss */
.product-list .item .desc {
  min-height: 4.5em;
}

/* line 400, ../sass/mobile.scss */
.section {
  background: #fff;
}

/* line 407, ../sass/mobile.scss */
#product-detail .rating {
  padding: 10px 0;
  font-weight: bold;
}
/* line 411, ../sass/mobile.scss */
#product-detail .rating .em {
  padding: 0 5px;
  margin: 0 5px;
  background: #f28d23;
  border-radius: 3px;
  color: #fff;
}
/* line 419, ../sass/mobile.scss */
#product-detail .rating .info {
  font-size: 0.9em;
  color: #b5b4b4;
}
/* line 426, ../sass/mobile.scss */
#product-detail .showing-large {
  max-width: 90%;
}
/* line 430, ../sass/mobile.scss */
#product-detail #large-image {
  width: 90%;
  padding-top: 90%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 441, ../sass/mobile.scss */
#product-detail .img-slider img {
  max-width: 60px;
}
/* line 446, ../sass/mobile.scss */
#product-detail .main {
  margin-top: 10px;
}
/* line 450, ../sass/mobile.scss */
#product-detail .main .option .error {
  color: red;
  display: none;
}
/* line 454, ../sass/mobile.scss */
#product-detail .main .option .border.color {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #dbdbdb;
  box-sizing: border-box;
  padding: 2px 0 0 2px;
  margin-right: 10px;
  cursor: pointer;
}
/* line 464, ../sass/mobile.scss */
#product-detail .main .option .border.color:hover {
  border: 2px solid #333;
}
/* line 467, ../sass/mobile.scss */
#product-detail .main .option .border.color.selected {
  border: 2px solid #f28d23;
}
/* line 470, ../sass/mobile.scss */
#product-detail .main .option .border.color > div {
  display: block;
  width: 22px;
  height: 22px;
}
/* line 476, ../sass/mobile.scss */
#product-detail .main .option .size {
  display: inline-block;
  padding: 5px;
  min-width: 40px;
  text-align: center;
  margin-right: 10px;
  border: 2px solid #dbdbdb;
  cursor: pointer;
}
/* line 484, ../sass/mobile.scss */
#product-detail .main .option .size:hover {
  border: 2px solid #333;
}
/* line 487, ../sass/mobile.scss */
#product-detail .main .option .size.selected {
  border: 2px solid #f28d23;
}
/* line 493, ../sass/mobile.scss */
#product-detail .main .buttons {
  margin: 20px 0;
}
/* line 498, ../sass/mobile.scss */
#product-detail .main .d-price {
  padding: 20px 0;
}
/* line 500, ../sass/mobile.scss */
#product-detail .main .d-price .price {
  font-size: 2em;
  color: red;
}
/* line 509, ../sass/mobile.scss */
#product-detail .detail-info .technical-info table {
  border-collapse: collapse;
}
/* line 513, ../sass/mobile.scss */
#product-detail .detail-info .technical-info table, #product-detail .detail-info .technical-info th, #product-detail .detail-info .technical-info td {
  border: 1px solid #f0f0f0;
}
/* line 517, ../sass/mobile.scss */
#product-detail .detail-info .technical-info td {
  padding: 2px 20px;
}
/* line 520, ../sass/mobile.scss */
#product-detail .detail-info .technical-info .key {
  background: #fce4cc;
}
/* line 529, ../sass/mobile.scss */
#product-detail .same-category-products {
  margin: 30px 0;
  border-top: 1px solid #c0c0c0;
}
/* line 536, ../sass/mobile.scss */
#product-detail .same-category-products .product-list .item {
  text-align: left;
  position: relative;
  padding-left: 85px;
  height: 100px;
}
/* line 541, ../sass/mobile.scss */
#product-detail .same-category-products .product-list .item .thumbnail {
  position: absolute;
  left: 0;
  top: 0px;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 558, ../sass/mobile.scss */
.cart-list .item {
  position: relative;
  padding-left: 120px;
  height: 130px;
}
/* line 563, ../sass/mobile.scss */
.cart-list .item .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 575, ../sass/mobile.scss */
.cart-list .item .delete-btn {
  position: absolute;
  right: 0;
  top: 50px;
}

/* line 582, ../sass/mobile.scss */
#cart-summary {
  border-top: 1px solid #f28d23;
  text-align: right;
  font-size: 1.5em;
}

/* line 592, ../sass/mobile.scss */
.order-confirmation .order-info td {
  padding: 5px 0;
}
/* line 595, ../sass/mobile.scss */
.order-confirmation .order-info .price {
  width: 100px;
  display: inline-block;
  text-align: right;
}
/* line 601, ../sass/mobile.scss */
.order-confirmation .order-info .total-summary {
  border-top: 1px solid #d0d0d0;
}
/* line 604, ../sass/mobile.scss */
.order-confirmation .order-info .total-summary .price {
  font-size: 1.2em;
}

/* line 612, ../sass/mobile.scss */
#profilePage .block {
  border-bottom: 1px solid #dbdbdb;
}
/* line 615, ../sass/mobile.scss */
#profilePage .block:last-child {
  border: none;
}
/* line 619, ../sass/mobile.scss */
#profilePage .block .actions {
  padding: 15px 0;
}
/* line 621, ../sass/mobile.scss */
#profilePage .block .actions a {
  margin-right: 30px;
}
/* line 626, ../sass/mobile.scss */
#profilePage .block .address {
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
/* line 636, ../sass/mobile.scss */
#profilePage .block .purchase-list .item {
  position: relative;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
/* line 644, ../sass/mobile.scss */
#profilePage .block .purchase-list .item .time {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0.85em;
}
/* line 651, ../sass/mobile.scss */
#profilePage .block .purchase-list .item .centering {
  padding: 0;
  margin: 0;
}

/* line 662, ../sass/mobile.scss */
#orderDetail ul, #orderDetail li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 667, ../sass/mobile.scss */
#orderDetail ul.timeline {
  margin-left: 70px !important;
}
/* line 671, ../sass/mobile.scss */
#orderDetail td {
  padding: 0 5px;
}
/* line 674, ../sass/mobile.scss */
#orderDetail .block {
  padding: 0 20px 20px 0;
  border-bottom: 1px solid #dbdbdb;
}
/* line 677, ../sass/mobile.scss */
#orderDetail .block:last-child {
  border: none;
}
/* line 682, ../sass/mobile.scss */
#orderDetail .block .order-status-timeline .done {
  color: #1b7919;
}
/* line 684, ../sass/mobile.scss */
#orderDetail .block .order-status-timeline .done i {
  color: #1b7919;
}
/* line 692, ../sass/mobile.scss */
#orderDetail .block .amount-detail .price {
  display: inline-block;
  width: 150px;
  text-align: right;
}

/* line 704, ../sass/mobile.scss */
.static-page .huge {
  font-size: 1.1em;
  color: #333;
  background: #f7a148;
  padding: 5px 10px;
}
/* line 711, ../sass/mobile.scss */
.static-page .coupons {
  margin-top: 30px;
  margin-bottom: 50px;
}
/* line 714, ../sass/mobile.scss */
.static-page .coupons img {
  width: 98%;
  display: inline-block;
  margin-bottom: 10px;
}

/* line 726, ../sass/mobile.scss */
#campainPopup {
  display: none;
}
/* line 729, ../sass/mobile.scss */
#campainPopup .overlay {
  z-index: 9998;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.64);
}
/* line 736, ../sass/mobile.scss */
#campainPopup .wrapper {
  z-index: 9999;
  position: fixed;
  top: 50%;
  margin-top: -200px;
  /* Half of the width */
  height: 400px;
  width: 90%;
  margin-left: 5%;
  background: #fff;
  box-sizing: border-box;
  padding: 10px 20px;
  text-align: center;
}
/* line 753, ../sass/mobile.scss */
#campainPopup .wrapper i {
  position: absolute;
  right: -30px;
  top: -20px;
  font-size: 40px;
  color: rgba(209, 203, 203, 0.84);
  cursor: pointer;
}
/* line 762, ../sass/mobile.scss */
#campainPopup .wrapper .title {
  font-size: 1.5em;
}
/* line 765, ../sass/mobile.scss */
#campainPopup .wrapper .saleoff {
  font-size: 3em;
  font-weight: bold;
  color: #f28d23;
}
/* line 771, ../sass/mobile.scss */
#campainPopup .wrapper .email {
  padding-top: 10px;
}
/* line 774, ../sass/mobile.scss */
#campainPopup .wrapper .email input {
  width: 90%;
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid #f28d23;
  margin-bottom: 10px;
}
/* line 782, ../sass/mobile.scss */
#campainPopup .wrapper .email input:focus {
  outline: none;
}

/* line 792, ../sass/mobile.scss */
#requestProductBtn {
  position: fixed;
  left: 5px;
  bottom: 5px;
  background: rgba(226, 99, 52, 0.8);
  padding: 10px;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  padding-top: 25px;
  font-weight: bold;
  font-size: 0.96em;
  color: #fff;
}
/* line 809, ../sass/mobile.scss */
#requestProductBtn:hover {
  background: #e26334;
}

/* line 816, ../sass/mobile.scss */
#requestProduct {
  display: none;
}
/* line 819, ../sass/mobile.scss */
#requestProduct .overlay {
  z-index: 9998;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.64);
}
/* line 826, ../sass/mobile.scss */
#requestProduct .wrapper {
  z-index: 9999;
  position: fixed;
  width: 90%;
  margin-left: 5%;
  top: 50%;
  margin-top: -255px;
  /* Half of the width */
  min-height: 450px;
  background: #fff;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
}
/* line 841, ../sass/mobile.scss */
#requestProduct .wrapper i {
  position: absolute;
  right: -30px;
  top: -20px;
  font-size: 40px;
  color: rgba(209, 203, 203, 0.84);
  cursor: pointer;
}
/* line 850, ../sass/mobile.scss */
#requestProduct .wrapper .title {
  font-size: 1.5em;
}
/* line 854, ../sass/mobile.scss */
#requestProduct .wrapper textarea {
  width: 98%;
  height: 60px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}
/* line 862, ../sass/mobile.scss */
#requestProduct .wrapper input {
  width: 70%;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}
/* line 869, ../sass/mobile.scss */
#requestProduct .wrapper textarea:focus, #requestProduct .wrapper input:focus {
  outline: none;
  border: 1px solid #f28d23;
  -webkit-transition-delay: 0.2s;
  /* Safari */
  transition-delay: 0.2s;
}

/* line 880, ../sass/mobile.scss */
#messenger-plugin {
  position: fixed;
  bottom: 10px;
  right: 20px;
}
/* line 885, ../sass/mobile.scss */
#messenger-plugin .messenger-button {
  background: #fff;
  padding: 6px 20px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  cursor: pointer;
}
/* line 891, ../sass/mobile.scss */
#messenger-plugin .messenger-button img {
  width: 30px;
  height: auto;
}
/* line 897, ../sass/mobile.scss */
#messenger-plugin .close {
  position: absolute;
  cursor: pointer;
  top: -20px;
  right: 0px;
  display: none;
}
/* line 905, ../sass/mobile.scss */
#messenger-plugin .fb-page {
  display: none;
}
