/* line 10, ../sass/style.scss */
.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 16px;
  background: #f35f51;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}
/* line 23, ../sass/style.scss */
.btn.btn-o {
  background: none;
  border: 1px solid #f35f51;
  color: #f35f51;
}
/* line 29, ../sass/style.scss */
.btn.btn-small {
  padding: 2px 10px 2px 10px;
}

/* line 34, ../sass/style.scss */
.btn:hover {
  background: #e44738;
  text-decoration: none;
  color: #fff;
}
/* line 39, ../sass/style.scss */
.btn:hover.btn-o {
  background: none;
  color: #e44738;
  border: 1px solid #e44738;
}

/* line 46, ../sass/style.scss */
p.info {
  color: #b5b4b4;
}

/* line 50, ../sass/style.scss */
.line2 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2.66667em;
}

/* line 59, ../sass/style.scss */
body {
  background: #f2f2f2;
  font-family: 'Quicksand', sans-serif;
}
/* line 62, ../sass/style.scss */
body .section {
  position: relative;
  background: #fff;
  box-sizing: border-box;
}

/* line 71, ../sass/style.scss */
.red, .price {
  color: red;
}

/* line 74, ../sass/style.scss */
.strong {
  font-weight: bold;
}

/* line 78, ../sass/style.scss */
.breadscum {
  margin-bottom: 10px;
}

/* line 83, ../sass/style.scss */
.pagination {
  text-align: center;
  display: block;
  margin-top: 50px;
}
/* line 89, ../sass/style.scss */
.pagination .step-links {
  text-align: center;
  margin: 0 auto;
}
/* line 93, ../sass/style.scss */
.pagination .step-links .link {
  border: 1px solid #f28d23;
  padding: 3px 10px;
  border-radius: 5px;
  margin: 0 10px;
  background: #fff;
  text-decoration: none;
}
/* line 101, ../sass/style.scss */
.pagination .step-links .link:hover {
  color: #f28d23;
}

/* line 109, ../sass/style.scss */
#header {
  position: relative;
  height: 150px;
  background: #fff;
  margin-bottom: 20px;
}
/* line 115, ../sass/style.scss */
#header #logo {
  position: absolute;
  top: 20px;
  font-size: 40px;
  color: #f28d23;
  font-family: 'Pacifico', cursive;
}
/* line 123, ../sass/style.scss */
#header #slogan {
  position: absolute;
  top: 80px;
  font-size: 16px;
  color: #f28d23;
  font-family: 'Pacifico', cursive;
}
/* line 131, ../sass/style.scss */
#header #search-box {
  position: absolute;
  top: 40px;
  left: 350px;
}
/* line 135, ../sass/style.scss */
#header #search-box input {
  border: 3px solid #f28d23;
  padding: 5px 10px;
  width: 470px;
}
/* line 140, ../sass/style.scss */
#header #search-box input:focus {
  outline: none;
}
/* line 143, ../sass/style.scss */
#header #search-box .search-button {
  position: absolute;
  top: 0;
  right: -40px;
  display: inline-block;
  background: #f28d23;
  width: 40px;
  text-align: center;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-size: 2em;
}
/* line 158, ../sass/style.scss */
#header #user-tools {
  position: absolute;
  right: 0px;
  top: 40px;
}
/* line 164, ../sass/style.scss */
#header #shopping-tools {
  position: absolute;
  right: 0px;
  top: 100px;
}
/* line 168, ../sass/style.scss */
#header #shopping-tools a {
  text-decoration: none;
}
/* line 171, ../sass/style.scss */
#header #shopping-tools .item {
  display: inline-block;
  margin-left: 40px;
}
/* line 175, ../sass/style.scss */
#header #shopping-tools .item .text {
  color: #333;
}
/* line 179, ../sass/style.scss */
#header #shopping-tools .item .quantity {
  padding: 2px 10px;
  background: #f28d23;
  text-align: center;
  margin-left: 6px;
  color: #fff;
  border-radius: 5px;
}

/* line 192, ../sass/style.scss */
.main-container {
  margin: 0 auto;
  width: 1200px;
  box-sizing: border-box;
}

/* line 198, ../sass/style.scss */
.block-heading {
  margin-top: 40px;
  padding-bottom: 10px;
  position: relative;
}
/* line 204, ../sass/style.scss */
.block-heading .more {
  position: absolute;
  right: 0;
  bottom: 10px;
}

/* line 212, ../sass/style.scss */
#footer {
  height: 350px;
  border-top: 1px solid #f0f0f0;
  margin-top: 40px;
  background: #fff;
  position: relative;
}
/* line 219, ../sass/style.scss */
#footer .main-container {
  position: relative;
  padding-top: 30px;
}
/* line 223, ../sass/style.scss */
#footer .main-container .logo {
  position: absolute;
  top: 20px;
}
/* line 227, ../sass/style.scss */
#footer .main-container .logo .branding {
  font-size: 25px;
  color: #f28d23;
  font-family: 'Pacifico', cursive;
}
/* line 234, ../sass/style.scss */
#footer .main-container .grid {
  margin-top: 80px;
}
/* line 237, ../sass/style.scss */
#footer .main-container .grid ul, #footer .main-container .grid li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 242, ../sass/style.scss */
#footer .main-container .grid li {
  padding: 10px 0;
}
/* line 246, ../sass/style.scss */
#footer .main-container .grid .column {
  display: inline-block;
  width: 300px;
}
/* line 252, ../sass/style.scss */
#footer .main-container .facebook-plugin {
  position: absolute;
  right: 0px;
  top: 30px;
  width: 320px;
}
/* line 261, ../sass/style.scss */
#footer .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #e0e0e0;
  padding: 10px 0;
}

/* line 272, ../sass/style.scss */
#banner {
  position: relative;
  background: #fff;
}
/* line 276, ../sass/style.scss */
#banner .column.large {
  position: relative;
  width: 840px;
  height: 300px;
  padding-left: 200px;
}
/* line 282, ../sass/style.scss */
#banner .column.large .category {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background: #c0c0c0;
}
/* line 287, ../sass/style.scss */
#banner .column.large .category .bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
/* line 297, ../sass/style.scss */
#banner .column.large .category ul, #banner .column.large .category li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 302, ../sass/style.scss */
#banner .column.large .category .overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #955909;
  opacity: 0.8;
}
/* line 308, ../sass/style.scss */
#banner .column.large .category .category-list {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
/* line 312, ../sass/style.scss */
#banner .column.large .category .category-list li {
  box-sizing: border-box;
  padding: 5px 10px;
}
/* line 315, ../sass/style.scss */
#banner .column.large .category .category-list li:hover {
  background: orange;
}
/* line 318, ../sass/style.scss */
#banner .column.large .category .category-list li a {
  display: block;
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
}
/* line 328, ../sass/style.scss */
#banner .column.large .carousel {
  width: 100%;
  height: 100%;
}
/* line 331, ../sass/style.scss */
#banner .column.large .carousel .img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}
/* line 340, ../sass/style.scss */
#banner .column.small {
  position: absolute;
  top: 0;
  right: 0;
  background: #a9c3d1;
  width: 350px;
  height: 300px;
}
/* line 348, ../sass/style.scss */
#banner .column.small .img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/* line 360, ../sass/style.scss */
.heading {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 365, ../sass/style.scss */
.category-block {
  position: relative;
  box-sizing: border-box;
  border-top: 5px solid orange;
  padding-left: 200px !important;
  padding: 0;
  margin: 0;
}
/* line 373, ../sass/style.scss */
.category-block .promo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background: #c0c0c0;
}
/* line 381, ../sass/style.scss */
.category-block .promo .img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/* line 392, ../sass/style.scss */
.product-list {
  position: relative;
}
/* line 394, ../sass/style.scss */
.product-list a {
  color: #333;
  text-decoration: none;
}
/* line 398, ../sass/style.scss */
.product-list .item {
  display: block;
  float: left;
  box-sizing: border-box;
  text-align: center;
  width: 200px;
  padding: 10px 0;
  margin: 0;
  position: relative;
}
/* line 409, ../sass/style.scss */
.product-list .item .name {
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  box-sizing: border-box;
}
/* line 417, ../sass/style.scss */
.product-list .item .thumbnail {
  width: 90%;
  padding-top: 80%;
  margin: 0 auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}
/* line 427, ../sass/style.scss */
.product-list .item .rating {
  position: absolute;
  left: 10px;
  top: 10px;
  background: #f28d23;
  color: #fff;
  padding: 2px 10px;
}
/* line 437, ../sass/style.scss */
.product-list .item .desc .price {
  color: #c2490e;
}

/* line 446, ../sass/style.scss */
.message {
  text-align: center;
  padding: 30px;
  font-size: 1.2em;
}

/* line 452, ../sass/style.scss */
.cart-list, .save-list {
  min-height: 500px;
}
/* line 455, ../sass/style.scss */
.cart-list .item, .save-list .item {
  position: relative;
  padding-left: 150px;
  height: 170px;
  border-bottom: 1px solid orange;
  padding-top: 20px;
}
/* line 462, ../sass/style.scss */
.cart-list .item:last-child, .save-list .item:last-child {
  border-bottom: none;
}
/* line 466, ../sass/style.scss */
.cart-list .item .thumbnail, .save-list .item .thumbnail {
  position: absolute;
  left: 0px;
  top: 20px;
  width: 140px;
  height: 140px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 478, ../sass/style.scss */
.cart-list .item .quantity, .save-list .item .quantity {
  padding-top: 15px;
  font-size: 1.2em;
}
/* line 482, ../sass/style.scss */
.cart-list .item .quantity .field-label, .save-list .item .quantity .field-label {
  margin-right: 20px;
}
/* line 486, ../sass/style.scss */
.cart-list .item .quantity select, .save-list .item .quantity select {
  width: 70px;
}
/* line 491, ../sass/style.scss */
.cart-list .item .price, .save-list .item .price {
  position: absolute;
  right: 10px;
  top: 50px;
}
/* line 496, ../sass/style.scss */
.cart-list .item .price .price-number, .save-list .item .price .price-number {
  font-size: 1.3em;
  color: red;
}
/* line 502, ../sass/style.scss */
.cart-list .item .delete-btn, .save-list .item .delete-btn {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

/* line 513, ../sass/style.scss */
#product-detail .main.grid {
  display: flex;
}
/* line 516, ../sass/style.scss */
#product-detail .main.grid .column {
  padding: 20px;
  box-sizing: border-box;
}
/* line 520, ../sass/style.scss */
#product-detail .main.grid .column.images {
  flex: 2;
  margin-right: 20px;
}
/* line 524, ../sass/style.scss */
#product-detail .main.grid .column.images #large-image {
  width: 380px;
  height: 380px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 532, ../sass/style.scss */
#product-detail .main.grid .column.images .img-slider img {
  max-width: 60px;
  max-height: 60px;
  border: 1px solid #fff;
}
/* line 537, ../sass/style.scss */
#product-detail .main.grid .column.images .img-slider img:hover {
  border: 1px solid #c0c0c0;
}
/* line 543, ../sass/style.scss */
#product-detail .main.grid .column.info {
  flex: 3;
}
/* line 546, ../sass/style.scss */
#product-detail .main.grid .column.info .rating {
  padding-top: 10px;
  font-weight: bold;
}
/* line 550, ../sass/style.scss */
#product-detail .main.grid .column.info .rating .em {
  padding: 0 5px;
  margin: 0 5px;
  background: #f28d23;
  border-radius: 3px;
  color: #fff;
}
/* line 558, ../sass/style.scss */
#product-detail .main.grid .column.info .rating .info {
  font-size: 0.9em;
  color: #b5b4b4;
}
/* line 564, ../sass/style.scss */
#product-detail .main.grid .column.info .price {
  margin-top: 40px;
}
/* line 567, ../sass/style.scss */
#product-detail .main.grid .column.info .price .hl {
  padding-left: 20px;
  font-size: 1.5em;
  color: red;
  font-weight: bold;
}
/* line 576, ../sass/style.scss */
#product-detail .main.grid .column.info .option .error {
  color: red;
  display: none;
}
/* line 580, ../sass/style.scss */
#product-detail .main.grid .column.info .option .border.color {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #dbdbdb;
  box-sizing: border-box;
  padding: 2px 0 0 2px;
  margin-right: 10px;
  cursor: pointer;
}
/* line 590, ../sass/style.scss */
#product-detail .main.grid .column.info .option .border.color:hover {
  border: 2px solid #333;
}
/* line 593, ../sass/style.scss */
#product-detail .main.grid .column.info .option .border.color.selected {
  border: 2px solid #f28d23;
}
/* line 596, ../sass/style.scss */
#product-detail .main.grid .column.info .option .border.color > div {
  display: block;
  width: 22px;
  height: 22px;
}
/* line 602, ../sass/style.scss */
#product-detail .main.grid .column.info .option .size {
  display: inline-block;
  padding: 5px;
  min-width: 40px;
  text-align: center;
  margin-right: 10px;
  border: 2px solid #dbdbdb;
  cursor: pointer;
}
/* line 610, ../sass/style.scss */
#product-detail .main.grid .column.info .option .size:hover {
  border: 2px solid #333;
}
/* line 613, ../sass/style.scss */
#product-detail .main.grid .column.info .option .size.selected {
  border: 2px solid #f28d23;
}
/* line 619, ../sass/style.scss */
#product-detail .main.grid .column.info .buttons {
  margin-top: 40px;
}
/* line 623, ../sass/style.scss */
#product-detail .main.grid .column.info .intro {
  margin-top: 40px;
}
/* line 630, ../sass/style.scss */
#product-detail .detail-info {
  box-sizing: border-box;
  padding: 20px;
}
/* line 635, ../sass/style.scss */
#product-detail .detail-info .technical-info table {
  border-collapse: collapse;
}
/* line 639, ../sass/style.scss */
#product-detail .detail-info .technical-info table, #product-detail .detail-info .technical-info th, #product-detail .detail-info .technical-info td {
  border: 1px solid #f0f0f0;
}
/* line 643, ../sass/style.scss */
#product-detail .detail-info .technical-info td {
  padding: 2px 20px;
}
/* line 646, ../sass/style.scss */
#product-detail .detail-info .technical-info .key {
  background: #fce4cc;
}
/* line 649, ../sass/style.scss */
#product-detail .detail-info .technical-info .value {
  max-width: 500px;
}
/* line 655, ../sass/style.scss */
#product-detail .same-category-products {
  margin: 30px 0;
  border-top: 1px solid #c0c0c0;
}
/* line 660, ../sass/style.scss */
#product-detail .same-category-products h2 {
  margin-left: 20px;
}

/* line 668, ../sass/style.scss */
.field-label {
  width: 140px;
  display: inline-block;
}

/* line 673, ../sass/style.scss */
.centering {
  margin-top: 30px;
  text-align: center;
}

/* line 684, ../sass/style.scss */
.order-confirmation.grid {
  display: flex;
  justify-content: space-between;
}
/* line 688, ../sass/style.scss */
.order-confirmation.grid .column {
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
}
/* line 693, ../sass/style.scss */
.order-confirmation.grid .column.items {
  flex: 4;
  margin-right: 20px;
}
/* line 697, ../sass/style.scss */
.order-confirmation.grid .column.order-info {
  flex: 2;
}
/* line 700, ../sass/style.scss */
.order-confirmation.grid .column.order-info .field-label {
  width: 140px;
  display: inline-block;
}
/* line 705, ../sass/style.scss */
.order-confirmation.grid .column.order-info .price {
  font-size: 1.3em;
  color: red;
}
/* line 709, ../sass/style.scss */
.order-confirmation.grid .column.order-info .price-total {
  font-size: 2em;
  color: red;
  font-weight: bold;
}
/* line 715, ../sass/style.scss */
.order-confirmation.grid .column.order-info .shipping-info {
  margin-top: 60px;
}
/* line 718, ../sass/style.scss */
.order-confirmation.grid .column.order-info .shipping-info .hl {
  color: red;
}
/* line 723, ../sass/style.scss */
.order-confirmation.grid .column.order-info .hint {
  text-align: center;
  color: #c0c0c0;
}
/* line 728, ../sass/style.scss */
.order-confirmation.grid .column.order-info .total-summary {
  border-top: 1px solid #c0c0c0;
}

/* line 738, ../sass/style.scss */
.order-info-input.grid {
  display: flex;
  justify-content: space-between;
}
/* line 743, ../sass/style.scss */
.order-info-input.grid form .medium {
  max-width: 300px;
}
/* line 747, ../sass/style.scss */
.order-info-input.grid form label {
  margin-top: 10px;
}
/* line 750, ../sass/style.scss */
.order-info-input.grid form select {
  max-width: 200px;
}
/* line 755, ../sass/style.scss */
.order-info-input.grid .column {
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
}
/* line 760, ../sass/style.scss */
.order-info-input.grid .column:last-child {
  border-left: 1px solid #fbd8b3;
}
/* line 764, ../sass/style.scss */
.order-info-input.grid .column.new {
  flex: 1;
  margin-right: 20px;
}
/* line 769, ../sass/style.scss */
.order-info-input.grid .column.exist {
  flex: 1;
}
/* line 773, ../sass/style.scss */
.order-info-input.grid .column .shippingAddress {
  margin-bottom: 20px;
}

/* line 782, ../sass/style.scss */
#paymentMethod .grid {
  display: flex;
  justify-content: space-between;
}
/* line 786, ../sass/style.scss */
#paymentMethod .grid table {
  margin-bottom: 40px;
}
/* line 789, ../sass/style.scss */
#paymentMethod .grid table .key {
  min-width: 130px;
}
/* line 793, ../sass/style.scss */
#paymentMethod .grid table .value {
  font-weight: bold;
}
/* line 799, ../sass/style.scss */
#paymentMethod .grid .column {
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
}
/* line 804, ../sass/style.scss */
#paymentMethod .grid .column:last-child {
  border-left: 1px solid #fbd8b3;
}
/* line 808, ../sass/style.scss */
#paymentMethod .grid .column.new {
  flex: 1;
  margin-right: 20px;
}
/* line 813, ../sass/style.scss */
#paymentMethod .grid .column.exist {
  flex: 1;
}

/* line 824, ../sass/style.scss */
#profile-content .wrapper {
  padding: 20px;
}
/* line 827, ../sass/style.scss */
#profile-content .price {
  color: red;
}
/* line 831, ../sass/style.scss */
#profile-content .profile {
  display: flex;
}
/* line 834, ../sass/style.scss */
#profile-content .profile .address {
  padding: 10px 0;
  margin-bottom: 10px;
  width: 80%;
  border-bottom: 1px solid #f8bf83;
}
/* line 840, ../sass/style.scss */
#profile-content .profile .address:last-child {
  border: none;
}
/* line 846, ../sass/style.scss */
#profile-content .profile .column {
  flex: 1;
}
/* line 849, ../sass/style.scss */
#profile-content .profile .column .heading {
  color: #f28d23;
  text-align: center;
  margin-top: 0;
}
/* line 854, ../sass/style.scss */
#profile-content .profile .column .membership {
  border: 4px dashed #f28d23;
  box-sizing: border-box;
  padding: 20px;
}
/* line 861, ../sass/style.scss */
#profile-content .profile .notice {
  font-size: 0.9em;
  color: #f28d23;
}
/* line 866, ../sass/style.scss */
#profile-content .profile .prize {
  color: red;
}
/* line 870, ../sass/style.scss */
#profile-content .profile .invite-friends {
  text-align: center;
}
/* line 872, ../sass/style.scss */
#profile-content .profile .invite-friends a {
  font-size: 1.3em;
  color: red;
  font-weight: bold;
}
/* line 879, ../sass/style.scss */
#profile-content .profile .field-label {
  min-width: 150px;
  display: inline-block;
}
/* line 885, ../sass/style.scss */
#profile-content .purchase-list {
  min-height: 300px;
}
/* line 887, ../sass/style.scss */
#profile-content .purchase-list .item {
  position: relative;
  border-bottom: 1px solid #f8bf83;
  padding: 20px;
  background: #fff;
  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
  box-sizing: border-box;
}
/* line 896, ../sass/style.scss */
#profile-content .purchase-list .item .detail-link {
  margin-left: 30px;
  font-weight: bold;
}
/* line 902, ../sass/style.scss */
#profile-content .purchase-list .item .item-list a {
  color: #333;
}
/* line 908, ../sass/style.scss */
#profile-content .purchase-list .item:last-child {
  border-bottom: none;
}
/* line 912, ../sass/style.scss */
#profile-content .purchase-list .item .right-info {
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: right;
}

/* line 926, ../sass/style.scss */
.order-status-timeline .status.grid {
  display: flex;
}
/* line 929, ../sass/style.scss */
.order-status-timeline .status.grid .column {
  flex: 1;
  text-align: center;
}
/* line 938, ../sass/style.scss */
.order-status-timeline .status.grid.line .column .status-line {
  width: 100%;
  height: 6px;
  background: #fff;
  border-bottom: 1px solid red;
}
/* line 944, ../sass/style.scss */
.order-status-timeline .status.grid.line .column .status-line.done {
  background: red;
}
/* line 947, ../sass/style.scss */
.order-status-timeline .status.grid.line .column .status-line.first {
  width: 50%;
  float: right;
}
/* line 951, ../sass/style.scss */
.order-status-timeline .status.grid.line .column .status-line.last {
  width: 50%;
}

/* line 961, ../sass/style.scss */
.static-page {
  position: relative;
  padding-left: 300px;
  min-height: 600px;
}
/* line 966, ../sass/style.scss */
.static-page .huge {
  margin-top: 30px;
  font-size: 1.1em;
  color: #333;
  background: #f7a148;
  padding: 5px 10px;
}
/* line 973, ../sass/style.scss */
.static-page .coupons {
  margin-top: 30px;
}
/* line 975, ../sass/style.scss */
.static-page .coupons img {
  max-width: 400px;
  display: inline-block;
}
/* line 981, ../sass/style.scss */
.static-page .side {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
}
/* line 987, ../sass/style.scss */
.static-page .side a {
  color: #666666;
  text-decoration: none;
}
/* line 991, ../sass/style.scss */
.static-page .side a:hover {
  color: #000;
}
/* line 995, ../sass/style.scss */
.static-page .side a.active {
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
}
/* line 1001, ../sass/style.scss */
.static-page .side div {
  padding: 10px 0;
}

/* line 1009, ../sass/style.scss */
#orderDetail {
  display: flex;
}
/* line 1012, ../sass/style.scss */
#orderDetail .strong {
  color: red;
}
/* line 1016, ../sass/style.scss */
#orderDetail .main {
  flex: 3;
  margin-right: 20px;
}
/* line 1020, ../sass/style.scss */
#orderDetail .main .section {
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
}
/* line 1025, ../sass/style.scss */
#orderDetail .main .section > h2 {
  margin-top: 0;
  padding-top: 0;
}
/* line 1030, ../sass/style.scss */
#orderDetail .main .section.title {
  text-align: center;
  font-size: 1.3em;
}
/* line 1036, ../sass/style.scss */
#orderDetail .main .grid {
  display: flex;
}
/* line 1038, ../sass/style.scss */
#orderDetail .main .grid .column {
  flex: 1;
}
/* line 1043, ../sass/style.scss */
#orderDetail .message-staff {
  flex: 1;
}
/* line 1046, ../sass/style.scss */
#orderDetail .message-staff .section {
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
}
/* line 1051, ../sass/style.scss */
#orderDetail .message-staff .section > h2 {
  margin-top: 0;
  padding-top: 0;
}
/* line 1056, ../sass/style.scss */
#orderDetail .message-staff .section .info {
  font-size: 0.9em;
  color: gray;
}
/* line 1061, ../sass/style.scss */
#orderDetail .message-staff .section .message-list {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #c0c0c0;
}
/* line 1066, ../sass/style.scss */
#orderDetail .message-staff .section .message-list .item {
  margin-bottom: 20px;
}
/* line 1070, ../sass/style.scss */
#orderDetail .message-staff .section .message-list .item:last-child {
  border: none;
}
/* line 1074, ../sass/style.scss */
#orderDetail .message-staff .section .message-list .item .sender {
  font-weight: bold;
  color: red;
}
/* line 1078, ../sass/style.scss */
#orderDetail .message-staff .section .message-list .item .time {
  font-size: 0.85em;
  color: #666666;
}
/* line 1084, ../sass/style.scss */
#orderDetail .message-staff .section .message-list .item .message {
  border-radius: 5px;
  padding: 5px 10px;
  text-align: left;
  background: #fce4cc;
}
/* line 1093, ../sass/style.scss */
#orderDetail .message-staff .section .message-list .item.staff {
  text-align: right;
}
/* line 1096, ../sass/style.scss */
#orderDetail .message-staff .section .message-list .item.staff .sender {
  color: blue;
}
/* line 1099, ../sass/style.scss */
#orderDetail .message-staff .section .message-list .item.staff .message {
  text-align: right;
  background: #f0f0f0;
}

/* line 1113, ../sass/style.scss */
#featureSet {
  display: flex;
}
/* line 1115, ../sass/style.scss */
#featureSet .column {
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
}
/* line 1121, ../sass/style.scss */
#featureSet .column.main {
  position: relative;
  flex: 3;
  margin-right: 30px;
  text-align: center;
}
/* line 1128, ../sass/style.scss */
#featureSet .column.main .ribbon {
  position: absolute;
  top: -10px;
  right: -10px;
}
/* line 1134, ../sass/style.scss */
#featureSet .column.main h1 {
  font-size: 2em !important;
  margin-top: 0;
  margin-bottom: 30px;
}
/* line 1139, ../sass/style.scss */
#featureSet .column.main h2 {
  padding: 20px 0;
}
/* line 1143, ../sass/style.scss */
#featureSet .column.main .rep-image {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
/* line 1149, ../sass/style.scss */
#featureSet .column.main .share {
  margin: 30px 0;
}
/* line 1152, ../sass/style.scss */
#featureSet .column.main .share button {
  padding: 10px 40px;
}
/* line 1157, ../sass/style.scss */
#featureSet .column.main .desc {
  margin-top: 50px;
}
/* line 1161, ../sass/style.scss */
#featureSet .column.main .products {
  margin-top: 50px;
}
/* line 1164, ../sass/style.scss */
#featureSet .column.main .products .item {
  position: relative;
  padding-left: 170px;
  min-height: 170px;
  text-align: left;
  border-bottom: 1px solid #dbdbdb;
}
/* line 1172, ../sass/style.scss */
#featureSet .column.main .products .item:last-child {
  border: none;
}
/* line 1176, ../sass/style.scss */
#featureSet .column.main .products .item a {
  text-decoration: none;
  color: #333;
}
/* line 1180, ../sass/style.scss */
#featureSet .column.main .products .item .thumbnail {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}
/* line 1194, ../sass/style.scss */
#featureSet .column.main .cart-btn {
  margin: 50px;
}
/* line 1198, ../sass/style.scss */
#featureSet .column.main .comment-wrapper {
  padding-top: 40px;
  border-top: 1px solid #dbdbdb;
}
/* line 1204, ../sass/style.scss */
#featureSet .column.recommend {
  flex: 1;
}

/* line 1212, ../sass/style.scss */
#campainPopup {
  display: none;
}
/* line 1215, ../sass/style.scss */
#campainPopup .overlay {
  z-index: 9998;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.64);
}
/* line 1222, ../sass/style.scss */
#campainPopup .wrapper {
  z-index: 9999;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  /* Half of the width */
  margin-top: -200px;
  /* Half of the width */
  width: 600px;
  height: 400px;
  background: #fff;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
}
/* line 1238, ../sass/style.scss */
#campainPopup .wrapper i {
  position: absolute;
  right: -30px;
  top: -20px;
  font-size: 40px;
  color: rgba(209, 203, 203, 0.84);
  cursor: pointer;
}
/* line 1247, ../sass/style.scss */
#campainPopup .wrapper .title {
  font-size: 1.5em;
}
/* line 1250, ../sass/style.scss */
#campainPopup .wrapper .saleoff {
  font-size: 3em;
  font-weight: bold;
  color: #f28d23;
}
/* line 1256, ../sass/style.scss */
#campainPopup .wrapper .email {
  padding-top: 40px;
}
/* line 1259, ../sass/style.scss */
#campainPopup .wrapper .email input {
  width: 300px;
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid #f28d23;
}
/* line 1266, ../sass/style.scss */
#campainPopup .wrapper .email input:focus {
  outline: none;
}

/* line 1277, ../sass/style.scss */
#categoryPage {
  position: relative;
  padding-left: 200px;
}
/* line 1281, ../sass/style.scss */
#categoryPage .category-list {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
}
/* line 1287, ../sass/style.scss */
#categoryPage .category-list h3 {
  padding: 0;
  margin: 0;
}
/* line 1292, ../sass/style.scss */
#categoryPage .category-list a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: #404040;
}
/* line 1298, ../sass/style.scss */
#categoryPage .category-list a:hover {
  color: #000;
}
/* line 1304, ../sass/style.scss */
#categoryPage .section {
  background: #fff;
}

/* line 1310, ../sass/style.scss */
#requestProductBtn {
  position: fixed;
  left: 50px;
  bottom: 50px;
  background: rgba(226, 99, 52, 0.7);
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  padding-top: 25px;
  font-weight: bold;
  font-size: 1.1em;
  color: #fff;
}
/* line 1327, ../sass/style.scss */
#requestProductBtn:hover {
  background: #e26334;
}

/* line 1334, ../sass/style.scss */
#requestProduct {
  display: none;
}
/* line 1337, ../sass/style.scss */
#requestProduct .overlay {
  z-index: 9998;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.64);
}
/* line 1344, ../sass/style.scss */
#requestProduct .wrapper {
  z-index: 9999;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  /* Half of the width */
  margin-top: -225px;
  /* Half of the width */
  width: 600px;
  height: 450px;
  background: #fff;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
}
/* line 1360, ../sass/style.scss */
#requestProduct .wrapper i {
  position: absolute;
  right: -30px;
  top: -20px;
  font-size: 40px;
  color: rgba(209, 203, 203, 0.84);
  cursor: pointer;
}
/* line 1369, ../sass/style.scss */
#requestProduct .wrapper .title {
  font-size: 1.5em;
}
/* line 1373, ../sass/style.scss */
#requestProduct .wrapper textarea {
  width: 98%;
  height: 100px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}
/* line 1381, ../sass/style.scss */
#requestProduct .wrapper input {
  width: 70%;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}
/* line 1388, ../sass/style.scss */
#requestProduct .wrapper textarea:focus, #requestProduct .wrapper input:focus {
  outline: none;
  border: 1px solid #f28d23;
  -webkit-transition-delay: 0.2s;
  /* Safari */
  transition-delay: 0.2s;
}

/* line 1399, ../sass/style.scss */
#messenger-plugin {
  position: fixed;
  bottom: 10px;
  right: 20px;
}
/* line 1404, ../sass/style.scss */
#messenger-plugin .messenger-button {
  background: #fff;
  padding: 6px 20px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  cursor: pointer;
}
/* line 1410, ../sass/style.scss */
#messenger-plugin .messenger-button img {
  width: 30px;
  height: auto;
}
/* line 1416, ../sass/style.scss */
#messenger-plugin .close {
  position: absolute;
  cursor: pointer;
  top: -20px;
  right: -0px;
  display: none;
  font-size: 20px;
}
/* line 1425, ../sass/style.scss */
#messenger-plugin .fb-page {
  display: none;
}
