{% extends "./base.html" %}


{% block content %}
  <div class="static-page spacing">

    <div class="wrapper">
      <h1>Giới thiệu</h1>
      <hr>
      <h3>Tiền đề</h3>

      <p>
        Từ những năm 1990 của thế kỉ trước,
        sau khi Việt Nam thoát khỏi bóng đen của nền kinh tế bao cấp,
        Nhu cầu của người tiêu dùng là có thể mua được các mặt hàng
        tiêu dùng, khi đó hàng hoá còn khan hiếm.
        <br>
        Sau khi Việt Nam mở cửa thị trường, đặc biệt từ những năm
        trở lại đây, hàng hoá từ Trung Quốc tràn ngập thị thường.
        Hàng tốt có nhưng hàng giả, hàng nhái, hàng kém chất lượng cũng
        có mặt khắp mọi nơi.
        Người tiêu dùng với những lỗi lo mua phải hàng giả, hàng kém chất lượng
        hàng không vệ sinh an toàn ...

        <br>
        Giờ đây khi nền kinh tế phát triển hơn, người tiêu dùng cần hơn bao giờ hết
        những mặt hàng chất lượng cao để phục vụ nhu cầu cuộc sống hằng ngày.
        <br>



      </p>

      <h3>Sứ mệnh</h3>

      <p>
        Betonavi với sứ mệnh mang hàng tiêu dùng chất lượng cao đến với người
        tiêu dùng Việt.
        <br>
        Giảm thiểu rủi do cho khách hàng khi mua hàng qua các kênh
        xách tay không đảm bảo.
        <br>
        Giảm thiểu nạn trộm đồ do người Việt gây ra tại Nhật Bản.
        <br>
        Giới thiệu văn hoá Nhật bản thông qua các sản phẩm.
        <br>
        Cầu nối thương mại giữa Việt Nam - Nhật Bản.

      </p>

      <h3>
        Về chúng tôi
      </h3>
      <p>
        Betonavi Team được thành lập từ đầu năm 2017 bởi các thành viên
        đang sống và làm việc tại các công ty lớn tại Nhật Bản.
        <br>
        Với mục tiêu xây dựng một kênh chính thống giúp người tiêu dùng Việt
        có thể tiếp cận các sản phẩm chất lượng cao tại Nhật Bản.
        <br>
        Thông qua sản phẩm, hàng hoá, chúng tôi cũng mong muốn truyền tải
        nền công nghiệp, văn hoá của Nhật bản với người tiêu dùng Việt.
        <br>
        Hi vọng trong tương lai không xa, chính chúng ta, những người con Việt
        sẽ tự mình sản xuất được những mặt hàng chât lượng cao phục vụ trong
        nước và xuất khẩu ra nước ngoài!

      </p>


    </div>

    <div class="side">
      <a href="/gioi-thieu" class="active">
        <div class="item">Giới thiệu</div>
      </a>
      <a href="/dieu-khoan-cam-ket">
        <div class="item">Điều khoản - Cam kết</div>
      </a>
      <a href="/chuong-trinh-thanh-vien">
        <div class="item">Chương trình thành viên</div>
      </a>
      <a href="/mua-hang-thanh-toan">
        <div class="item">Mua hàng - thanh toán</div>
      </a>
      <a href="/cau-hoi-thuong-gap">
        <div class="item">Câu hỏi thường gặp</div>
      </a>
      <a href="/lien-he">
        <div class="item">Liên hệ - hỗ trợ</div>
      </a>
    </div>

  </div>




{% endblock %}
