{% extends "./base.html" %}


{% block content %}
  <div class="static-page  spacing">

    <div class="wrapper">

      <h1>Tuyển Dụng</h1>
      <hr>
      <h3>CƠ HỘI LÀM VIỆC PART TIME – BIÊN DỊCH TIẾNG NHẬT </h3>
      <br>
      <p>
        Bạn đang học tiếng Nhật và mong muốn được rèn luyện?<br>
        Bạn muốn kiếm thêm thu nhập mà chỉ cần làm việc tại nhà ? <br>
        Betonavi rất hân hạnh được trao cho bạn cơ hội hợp tác cùng đội ngũ của chúng tôi
      </p>
      <ol>
        <li><strong style="font-size: 16px;">Chúng tôi là ai?</strong>
          <ul style="list-style-type:disc">
            <li>
              Betonavi được thành lập từ đầu năm 2017 bởi các thành viên là những người Việt Nam
              đang sống và làm việc tại các công ty lớn tại Nhật Bản
            </li>
            <li>
              Với mục tiêu xây dựng một trang thương mại điện tử giúp người Việt
               có thể tiếp cận các sản phẩm chất lượng cao đang có mặt tại thị trường Nhật Bản
            </li>
            <li>
              Thống qua sản phẩm, hàng hóa, chúng tôi mong muốn truyền tải nên công nghiệp
              và văn hóa của người Nhật tới người tiêu dùng Việt. Hy vọng một tương lai không xa,
               những người con Việt Nam sẽ tự mình sản xuất được các mặt hàng chất lượng cao phục vụ trong nước
               và xuất khẩu ra nước ngoài!
            </li>
          </ul>
        </li>
        <br>
        <li><strong style="font-size: 16px;">Bạn sẽ làm gì?</strong>
          <ul style="list-style-type:disc">
            <li>
              Từ thông tin sản phẩm bằng tiếng Nhật sẵn có trên hệ thống của chúng tôi,
              tìm hiểu thông tin về sản phẩm đó bẳng tiếng Việt
            </li>
            <li>
              Kết hợp dịch thông tin sản phẩm từ tiếng Nhật với thông tin tìm hiểu ở trên,
              tạo thành thông tin hoàn chỉnh cho sản phẩm
            </li>
            <li>
              Tư vấn và góp ý về các dòng sản phẩm Betonavi cung cấp (nếu có)
            </li>
          </ul>
        </li>
        <br>
        <li><strong style="font-size: 16px;">Bạn sẽ nhận được gì?</strong>
          <ul style="list-style-type:disc">
            <li>
              Sự đóng góp của bạn cho Betonavi sẽ được ghi nhận,
              thu nhập được tính theo số lượng bài viết và kết quả công việc
            </li>
            <li>
              Thời gian làm việc linh hoạt. Bạn có thể làm việc tại bất cứ đâu và bất cứ thời gian nào
            </li>
            <li>
              Cơ hội rèn luyện Tiếng Nhật và tìm hiểu về văn hóa Nhật Bản
            </li>
            <li>
              Làm việc cùng các đồng nghiệp có nhiều năm kinh nghiệm sống và làm việc tại Nhật bản
            </li>
            <li>
              Cơ hội mua hàng Nhật với giá ưu đãi tại Betonavi
            </li>
          </ul>
        </li>
        <br>
        <li><strong style="font-size: 16px;">Bạn cần có?</strong>
          <ul style="list-style-type:disc">
            <li>
              Khả năng đọc và dịch Tiếng Nhật tốt (trình độ tương đương N2)
            </li>
            <li>
              Tinh thần học hỏi và thích tìm hiểu các kiến thức mới
            </li>
          </ul>
        </li>
        <br>
        <li><strong style="font-size: 16px;">Liên hệ</strong>
          <p>Ứng viên quan tâm tới cơ hội việc làm với Betonavi
             xin vui lòng gửi CV giới thiệu bản thân vào: <span style="color: red;">tuyendung@betonavi.com</span></p>
          <p>Số lượng tuyển : 5 thành viên <br>
          (Ưu tiên sinh viên tìm việc làm thêm)</p>
          <p>Thời hạn nộp CV : Tới hết ngày <span style="color: red;">15/08/2017</span></p>
        </li>
      </ol>

    </div>

  </div>




{% endblock %}
