{% extends "./base.html" %}


{% block content %}
  <div class="static-page  spacing">




    <div class="wrapper">


      <!-- ********************************************************************* -->

      <h1>Chương trình thành viên (Betonavi Membership Program)</h1>
      <hr>

      <h3>Giới thiệu</h3>
      <p>
        Chương trình thành viên Betonavi (Betonavi Membership Program) là
        chương trình chăm sóc khách hàng đặc biệt và duy nhất tại Betonavi.
        <br>
        Khách hàng là thành viên của chương trình này sẽ nhận được những
        ưu đãi, coupon giảm giá đặc biệt, những quà tặng có giá trị từ Nhật bản.
        <br>
      </p>

      <h3>Quyền lợi </h3>
      <p>
        <ul>
          <li>
            Quyền đặt hàng mua hàng Nhật trực tuyến trên Betonavi.com.
          </li>
          <li>
            Quyền được hỗ trợ từ trung tâm hỗ trợ khách hàng của Betonavi 24/7.
          </li>
          <li>
            Quyền được tư vấn các sản phẩm đáp ứng nhu cầu của bạn, sản phẩm mới...
          </li>

          <li>
            Nhận Quà tặng, phiếu giảm giá khi bạn giới thiệu một thành viên khác.
          </li>

          <li>
            Quyền tham gia các chương trình khuyến mại, Giving Away của Betonavi.
          </li>

        </ul>
      </p>

      <h3>Điều kiện tham gia </h3>
      <p>
        Điều kiện để tham chương trình là bạn phải được giới thiệu từ một thành viên khác.
        <br>

      </p>

      <h3>Giới thiệu thành viên mới</h3>
      <p>
        Nếu bạn là thành viên, Bạn có thể giới thiệu bạn bè của bạn vào chương trình này.
        <br>
        Cách thức giới thiệu là thông qua Email, hệ thống sẽ hướng dẫn cho bạn sau khi bạn đăng nhập.
      </p>

      <h3>
        Quà tặng, Thẻ giảm giá
      </h3>

      <br>
      <p class="huge">
        Với mỗi một thành viên mới do bạn giới thiệu, bạn sẽ nhận được một trong các quà tặng.
        (như bên dưới)
      </p>


      <div class="coupons">
      {% for item in coupons %}

        <img src="/media/{{ item.image }}" alt="">

      {% endfor %}
      </div>


    </div>

    <div class="side">
      <a href="/gioi-thieu" class="active">
        <div class="item">Giới thiệu</div>
      </a>
      <a href="/dieu-khoan-cam-ket">
        <div class="item">Điều khoản - Cam kết</div>
      </a>
      <a href="/chuong-trinh-thanh-vien">
        <div class="item">Chương trình thành viên</div>
      </a>
      <a href="/mua-hang-thanh-toan">
        <div class="item">Mua hàng - thanh toán</div>
      </a>
      <a href="/cau-hoi-thuong-gap">
        <div class="item">Câu hỏi thường gặp</div>
      </a>
      <a href="/lien-he">
        <div class="item">Liên hệ - hỗ trợ</div>
      </a>
    </div>

  </div>




{% endblock %}
