<!doctype html>
<html lang="vi">
    <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {% load staticfiles %}

        <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="57x57" href="/static/images/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/images/icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/images/icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/images/icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/images/icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/images/icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/images/icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/images/icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/icons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/images/icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/icons/favicon-16x16.png">
        <link rel="manifest" href="/static/images/icons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/images/icons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">


        <!-- Share Graph Meta -->
        <title>Trang thương mại điện tử hàng Nhật - Betonavi! </title>
        <meta name="description" content="Trang thương mại điện tử hàng Nhật.">

        <meta property=og:title content="Trang thương mại điện tử hàng Nhật! ">
        <meta property=og:description content="Trang thương mại điện tử hàng Nhật!">

        <meta property=og:image content="https://betonavi.com/static/images/promotion_image11.jpg">

        <meta property="og:site_name" content="Trang thương mại điện tử hàng Nhật - Betonavi! " />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Trang thương mại điện tử hàng Nhật - Betonavi!" />
        <meta property="og:description" content="Trang thương mại điện tử hàng Nhật! " />
        <meta property="og:url" content="https://betonavi.com" />
        <meta property="article:tag" content="Betonavi, hàng Nhật đảm bảo, hàng Nhật xách tay, Hàng Nhật nội địa, mỹ phẩm, mẹ và bé" />

        <meta property=twitter:image content="https://betonavi.com/static/images/promotion_image.jpg">
        <meta name=twitter:card content=summary_large_image>
        <meta name=twitter:site content=@betonavi>
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Trang thương mại điện tử hàng Nhật! " />
        <meta name="twitter:description" content="Betonavi, hàng Nhật đảm bảo, hàng Nhật xách tay, Hàng Nhật nội địa, mỹ phẩm, mẹ và bé" />
        <meta name="twitter:url" content="https://betonavi.com" />
        <meta name="twitter:image" content="https://betonavi.com/static/images/promotion_image.jpg" />
        <!-- End Share Graph Meta -->


        <link rel="shortcut icon" href="{% static 'webapp/images/favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'webapp/images/apple-touch-icon.png' %}"/>

        <link rel="stylesheet" type="text/css" href="{% static 'webapp/vendor/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/bower_components/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/stylesheets/mobile.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/stylesheets/animate.css' %}">

        <meta name="google-site-verification" content="wB516riFrL_ICQaVwXg752OyWUFDjsnQESaMkgN38wA" />

        <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://betonavi.com",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "https://betonavi.com/search?q={search_term_string}",
          "query-input": "required name=search_term_string"
          }
        }
      </script>
    </head>
    <body >
        <header id="header">
          <div class="top">
            <i class="fa fa-bars" aria-hidden="true" id="menu-btn"></i>
            <a href="/" id="logo" class="logo">
               Betonavi
            </a>
            <!-- <div id="shopping-tools">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </div> -->
          </div>

          <div class="search-bar">
            <div id="search-box">
                <input id="search-keyword" type="text" placeholder="Tìm kiếm sản phẩm..." class="searchbox" value="{{ request.session.keyword }}">
                <span class="search-button" id="search-btn"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
          </div>

          <div id="user-tools">
            <div class="grid">
              {% if request.user.is_anonymous %}
              <div class="column">
                <a href="/accounts/signup/">
                  Đăng Kí
                </a>
              </div>
              <div class="column">
                <a href="/accounts/login/">
                  Đăng Nhập
                </a>
              </div>
              {% else %}
              <div class="column">
                <a href="/favorite">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                  Yêu Thích
                </a>
              </div>
              <div class="column">
                <a href="/cart">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  Giỏ Hàng
                </a>
              </div>
              <div class="column">
                <a href="/accounts/profile">
                  <i class="fa fa-user-o" aria-hidden="true"></i>
                  Cá Nhân
                </a>
              </div>
              {% endif %}
            </div>
          </div>

        </header><!-- header -->

        <div id="main-container">
        {% block content %}
        {% endblock %}
        </div>

        <div id="footer">
          <div class="main-container">
            <p>© 2017 Betonavi
              <br>
               Trang thương mại điện tử hàng Nhật!
            </p>

            <div>
              <ul>
                <li><a href="/gioi-thieu">Giới thiệu</a></li>
                <li><a href="/chuong-trinh-thanh-vien">Thành viên</a></li>
                <li><a href="/mua-hang-thanh-toan">Mua hàng</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div id="menu-panel">
            <div class="container">
              <h2>
                <a href="/">Home</a>
              </h2>

              {% for category in request.session.categories %}
                <a href="/category/{{ category.slug }}">
                  <div class="item">{{ category.name }}</div>
                </a>
              {% endfor %}
              <div class="splitter">&nbsp;</div>
              <a href="/gioi-thieu">
                <div class="item">Giới thiệu</div>
              </a>
              <a href="/chuong-trinh-thanh-vien">
                <div class="item">Chương trình thành viên</div>
              </a>

              <a href="/dieu-khoan">
                <div class="item">Điều Khoản - Cam kết</div>
              </a>

              <a href="/cau-hoi-thuong-gap">
                <div class="item">Câu hỏi thường gặp</div>
              </a>

              <a href="/mua-hang-thanh-toan">
                <div class="item">Cách thức mua hàng</div>
              </a>

              <a href="/blog">
                <div class="item">Blog Đánh giá sản phẩm</div>
              </a>
              <a href="/tuyen-dung">
                <div class="item">Tuyển dụng</div>
              </a>

            </div>
        </div>




        <div id="campainPopup">
          <div class="overlay"></div>
          <div class="wrapper">
            <i class="campainPopupClose" class="fa fa-times" aria-hidden="true"></i>

            <div class="title">Khai Trương BETONAVI.COM</div>
            <br>
            <p>GIẢM GIÁ </p>
            <p class="saleoff">200,000đ</p>
            <p>Cho đơn hàng lớn hơn 500,000 đầu tiên</p>

            <hr>

            <div class="email">
              <div class="center">
                <input id="campainEmail" type="text" placeholder="email">
                <button id="sendCampainEmail" class="btn btn-small">Send</button>
              </div>
              <br>
              <p>Hãy tham gia ngay với chúng tôi để được mua những sản phẩm Nhật Bản chất lượng nhất! </p>

            </div>

          </div>
        </div>




        <div id="requestProduct">
          <div class="overlay"></div>
          <div class="wrapper">
            <i class="requestProductClose" class="fa fa-times" aria-hidden="true"></i>

            <div class="title">Yêu cầu sản phẩm mới</div>

            <p>
              Nếu bạn không tìm được sản phẩm của bạn trên Betonavi, Bạn có
              thể gửi thông tin về sản phẩm cho chúng tôi.
            </p>
            <p>
              Chúng tôi sẽ tìm hiểu về sản phẩm và thêm vào sớm nhất có thể.
            </p>

            <hr>

            <p>
              Thông tin sản phẩm có thể là text hoặc link.
            </p>

            <textarea placeholder="VD: Son môi Shu màu hồng ..." id="requestProductContent" ></textarea>

            {% if request.user.is_anonymous %}
            <br>
            <br>

            <p>Hãy cho tôi biết email của bạn, chúng tôi sẽ liên hệ với bạn</p>
            <input id="requestProductEmail" type="text" placeholder="email">
            {% endif %}

            <br>
            <br>

            <div class="center">
              <button id="sendRequestProduct" class="btn btn-small">Gửi Thông Tin</button>
            </div>


          </div>
        </div>



        <script src="{% static 'webapp/vendor/modernizr.js' %}" type="text/javascript" charset="utf-8" ></script>
        <script src="{% static 'webapp/bower_components/jquery/dist/jquery.min.js' %}" type="text/javascript" charset="utf-8" ></script><!-- jquery.js -->
        <script src="{% static 'webapp/bower_components/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8" ></script><!-- bootstrap.js -->


        <script src="{% static 'webapp/js/mobile.js' %}" type="text/javascript" async defer></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-90051228-1', 'auto');
          ga('send', 'pageview');

        </script>


        <!--Start of Zendesk Chat Script-->
        <!-- <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="https://v2.zopim.com/?4rGPeeyC003FZtVCeoZLOTCuiToxfvyr";z.t=+new Date;$.
        type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
        </script> -->
        <!--End of Zendesk Chat Script-->



        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId: "1285130001515212",
              xfbml: true,
              version: "v2.6"
            });
          };
          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) { return; }
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>

        <div id="messenger-plugin">
          <div class="messenger-button">
              <img src="/static/images/facebook-messenger.svg" alt="">
              Chat Với Chúng Tôi
          </div>
          <div class="close">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <div class="fb-page"
               data-href="https://www.facebook.com/betonaviblog/"
               data-tabs="messages"
               data-width="400"
               data-height="300"
               data-small-header="true">
            <div class="fb-xfbml-parse-ignore">
              <blockquote></blockquote>
            </div>
          </div>
        </div>

    </body>
</html>
