{% extends "./base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block content %}

<div id="main-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for item in banners %}
    <li data-target="#main-carousel" data-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 == 0%} active {% endif %}"></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for item in banners %}
    <div class="item {% if forloop.counter0 == 0%} active {% endif %}">
      <div class="image" style="background-image: url(/media/{{ item.image }})"></div>
      <!-- <img src="/media/{{ item.image }}" alt="Los Angeles" style="width:100%;"> -->
    </div>
    {% endfor %}
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#main-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#main-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>







<div class="category-list spacing">
  <h3 class="heading">Danh mục</h3>

  <div class="container-fuild">
    <div class="row">
        {% for item in category %}
        <div class="col-xs-4 .col-sm-3 col-item">
            <a href="/category/{{item.slug}}">
              <div class="item">
                <div class="bg-img" style="background-image:url(/media/{{ item.image }})"></div>
                <div class="overlay"></div>
                <span class="name">{{ item.name }}</span>
              </div>
            </a>
        </div>
        {% endfor %}
    </div>
  </div>
</div>


<div class="spacing">
  {% for ct in category %}
  <div >

    <div class="block-heading" >
      <h3 class="heading">{{ ct.name }}</h3>
      <a href="/category/{{ct.slug}}" class="more">
          <span class="seeall">Tất Cả &raquo;</span>
      </a>
    </div>

    <section class="section category-block">
        <div class="product-list container-fuild">
          <div class="row">
            {% for item in ct.features_mobile %}
                <div class="item col-xs-4 .col-sm-3" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                    <a itemprop="url" href="/product/{{ item.id }}-{{ item.slug }}">
                        <div itemprop="image" class="img-wrapper" style="background-image: url(/media/{{ item.image }})"></div>
                        <img itemprop="image" src="/media/{{ item.image }}" alt="" style="width: 0px; height: 0px;">
                        {% if item.rating > 4%}<div class="rating">{{ item.rating }}</div>{% endif %}
                        <div class="desc">
                            <div itemprop="name" class="name line2">{{ item.vn_name }}</div>
                            <div class="price">
                                <span >{{ item.sale_price|intcomma }}</span> VND
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
          </div>
        </div>
    </section>
  </div>
  {% endfor %}
</div>


<div id="requestProductBtn">Yêu Cầu Sản Phẩm</div>

<!-- {% if request.user.is_anonymous %}
  <script>
    setTimeout(function () {
      document.getElementById('campainPopup').style.display = 'block';
    }, 3000)
  </script>
{% endif %} -->


<!-- <script>
  setTimeout(function () {
    LtNotify.error(
      'Site đang chạy bản thử nghiệm, giá đang cập nhật chuẩn hơn!'
    )
  }, 5000)
</script> -->


{% endblock %}
