{% extends "./base.html" %}
{% load humanize %}

{% block content %}
<div id="orderDetail">
  <div class="main">

    <div class="section title spacing">
      <h2>ĐƠN HÀNG:  <span class="strong">{{ order.order_number }}</span></h2>
    </div>


  <div class="block status">
    <div class="section spacing">
        <h3>Trạng thái đơn hàng</h3>

        <div class="order-status-timeline">
          <ul class="timeline">
            <li class="done">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              <span>Đặt Hàng</span>
            </li>

            <li class="{% if order.is_paid %} done {% endif %}">
              {% if order.is_paid %}
                <i class="fa fa-check-circle" aria-hidden="true"></i>
              {% else %}
                <i class="fa fa-circle-o" aria-hidden="true"></i>
              {% endif %}
              <span>Thanh Toán</span>
            </li>

            <li  class="{% if order.is_delivering %} done {% endif %}">
              {% if order.is_delivering %}
                <i class="fa fa-check-circle" aria-hidden="true"></i>
              {% else %}
                <i class="fa fa-circle-o" aria-hidden="true"></i>
              {% endif %}
              <span>Vận Chuyển</span>
            </li>

            <li  class="{% if order.is_completed %} done {% endif %}">

              {% if order.is_completed %}
                <i class="fa fa-check-circle" aria-hidden="true"></i>
              {% else %}
                <i class="fa fa-circle-o" aria-hidden="true"></i>
              {% endif %}

              <span>Hoàn Tất</span>
            </li>
          </ul>
        </div>
    </div>
  </div>


  <div class="block">
    <div class="spacing">
      <h3>Địa chỉ ship hàng</h3>
      <div>{{ order.shipping_fullname }}</div>
      <div>{{ order.shipping_phone }}</div>
      <div>{{ order.shipping_address }}</div>
    </div>
  </div>


  <div class="block">
    <div class="spacing">
      <h3>Tổng hợp đơn hàng</h3>

      <table class="amount-detail">
        <tr>
          <td>Giá đơn hàng: </td>
          <td class="price red">{{ order.vn_total_price|intcomma }} VND</td>
        </tr>

        <tr>
          <td>Phí shipping: </td>
          <td class="price red">{{ order.shipping_fee|intcomma }} VND</td>
        </tr>

        {% if order.price_off > 0 %}
        <tr>
          <td>Giảm Giá: </td>
          <td class="price red">-{{ order.price_off|intcomma }} VND</td>
        </tr>
        {% endif %}
        <tr>
          <td> Tổng cộng: </td>
          <td class="price strong">{{ order.vn_order_amount|intcomma }} VND</td>
        </tr>

      </table>
    </div>
  </div>


  <div class="block">
    <div class="spacing">
      {% if order.is_paid %}
        <h2>Trạng thái thanh toán</h2>

        <h3 class="red strong">
          Thanh toán hoàn tất!
        </h3>
        <p>
          Chúng tôi đang đóng gói và vận chuyển hàng đến địa chỉ nhận hàng của bạn!
        </p>

      {% else %}
        <h3>Trạng thái thanh toán</h3>
        <p class="red strong">Bạn chưa thanh toán! </p>
        <p>Xin vui lòng chuyển khoản vào một trong các TK bên dưới. </p>
        <p>
          Số tiền cần chuyển: <span class="strong red price">{{ order.vn_order_amount|intcomma }} VND</span>
        </p>
        <div class="grid">
            {% for item in bank_accounts %}
            <div class="column">
              <h3> Tài khoản {{forloop.counter}} </h3>

              <table>
                <tr>
                  <td class="key">Ngân Hàng</td>
                  <td class="value">{{ item.bank_name }}</td>
                </tr>

                <tr>
                  <td class="key">Chi nhánh</td>
                  <td class="value">{{ item.branch_name }}</td>
                </tr>

                <tr>
                  <td class="key">Chủ Tài Khoản</td>
                  <td class="value">{{ item.owner_name }}</td>
                </tr>

                <tr>
                  <td class="key">Số Tài Khoản</td>
                  <td class="value">{{ item.number }}</td>
                </tr>
              </table>
              </div>
            {% endfor %}
        </div>

      {% endif %}
    </div>
  </div>


  <div class="block">
    <div class="spacing">
      <h3>Chi tiết sản phẩm trong đơn hàng</h3>
      <ul class="item-list">
        {% for item in order.items.all %}
          <li>
            <a href="/product/{{item.product.id}}-{{ item.product.slug }}">{{ item.product.vn_name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>


  <div class="message-staff">
    <div class="section spacing">
      <h2>Trao đổi với nhân viên</h2>
      <p class="info">
        Trao đổi với nhân viên về đơn hàng, thanh toán ...
      </p>
      <form action="/order/detail/{{ order.uuid }}" method="POST">
        {% csrf_token %}

        {{ form }}
        <br />


        <div>
          <button type="submit" class="btn btn-o btn-small">Gửi tin nhắn</button>
        </div>
      </form>

      <div class="message-list">
        {% for item in messages %}
          <div class="item {% if item.is_staff_reply %} staff {% else %} user {% endif %}">
            <div class="sender">{% if item.is_staff_reply %} Nhân Viên  {% else %} Bạn {% endif %}</div>
            <div class="message">{{ item.message }}</div>
            <div class="time">{{ item.created_at }}</div>
          </div>

        {% endfor %}
      </div>

    </div>

  </div>
</div>
{% endblock %}
