{% extends "./base.html" %}


{% block content %}

<div class="spacing">
    <h2>Phương Thức Thanh Toán</h2>

    <section id="paymentMethod" class="section">
        <div class="grid">

            <div class="column new">
              <h4>Chuyển khoản</h4>

                <p>
                  Xin vui lòng chuyển khoản vào một trong các tài khoản bên dưới.
                </p>

                {% for item in bank_accounts %}
                  <h3> Tài khoản {{forloop.counter}} </h3>

                  <table>
                    <tr>
                      <td class="key">Ngân Hàng</td>
                      <td class="value">{{ item.bank_name }}</td>
                    </tr>

                    <tr>
                      <td class="key">Chi nhánh</td>
                      <td class="value">{{ item.branch_name }}</td>
                    </tr>

                    <tr>
                      <td class="key">Chủ Tài Khoản</td>
                      <td class="value">{{ item.owner_name }}</td>
                    </tr>

                    <tr>
                      <td class="key">Số Tài Khoản</td>
                      <td class="value">{{ item.number }}</td>
                    </tr>
                  </table>
                {% endfor %}

                <form action="/order/xac-nhan" method="GET">
                  <input type="hidden" name="k" value="{{k}}">
                  <div class="centering">
                      <input class="btn btn-small" type="submit" value="Tiếp Tục" />
                  </div>
                </form>

            </div>

            <div class="column exist">
              <h4>Thông tin</h4>
              <p>
                Hiện tại Betonavi chỉ hỗ trợ hình thức chuyển khoản.
              </p>
              <p>
                Các phương thức thanh toán khác như qua thẻ tín dụng,
                ví điện tử, trả tiền khi nhận hàng
                sẽ được thực hiện trong thời gian tới.
              </p>


              <h4>Sau khi chuyển khoản</h4>
              <p>
                Sau bạn chuyển khoản vào một trong các tài khoản bên trái,
                Hệ thống của chúng tôi sẽ xác nhận và gửi mail thông báo.
                Hoặc bạn có thể truy vấn trong trang cá nhân của bạn.
              </p>
            </div>
        </div>


    </section>
</div>



{% endblock %}
