{% extends "./base.html" %}


{% block content %}

<div class="spacing">
    <h2>Thông tin khách hàng</h2>

    <section class="section">
        <div class="order-info-input grid">
          <div class="column exist">
            <h3>Địa chỉ người nhận đã tạo</h3>

            {% for addr in shipping_addresses %}
            <div class="shippingAddress">
                <table>
                    <tr>
                        <td>Họ Tên</td>
                        <td>{{addr.shipping_fullname}}</td>
                    </tr>
                    <tr>
                        <td>Số Điện Thoại</td>
                        <td>{{addr.shipping_phone}}</td>
                    </tr>
                    <tr>
                        <td>Địa Chỉ</td>
                        <td>{{addr.shipping_address}}</td>
                    </tr>
                </table>


                <form action="use-address" method="POST">
                  <div class="centering">
                      {% csrf_token %}
                      <input type="hidden" name="id" value="{{ addr.id }}">
                      <input class="btn btn-small" type="submit" value="Chuyển Đến Địa Chỉ Này" />
                  </div>
                </form>

            </div>
            {% endfor %}
          </div>

            <div class="column new">
              <h4>Tạo địa chỉ người nhận mới</h4>

              <form action="/order/phuong-thuc-ship" method="POST">
                  {% csrf_token %}
                  {{ form }}

                  <div class="centering">
                    <input class="btn" type="submit" value="Tạo Địa Chỉ" />
                  </div>
              </form>
            </div>


        </div>


    </section>

</div>


{% endblock %}
