{% extends "./base.html" %}
{% load humanize %}

{% block content %}
<div id="profilePage">


    <div class="block">
      <div class="spacing">
        <h3>Thông tin tài khoản </h3>

        <table>
          <tr>
            <td><span class="field-label">Tên tài khoản</span></td>
            <td><span class="hl">{{ user.username }}</span></td>
          </tr>
          <tr>
            <td><span class="field-label">Điểm thưởng</span></td>
            <td><span class="hl">0</span></td>
          </tr>
          <tr>
            <td><span class="field-label">Số bạn bè đã mời</span></td>
            <td><span class="hl">{{invited_count}}</span></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </table>

        <div class="actions">
            <a href="/accounts/logout/"><div class="btn btn-small btn-o">Đăng xuất</div></a>

            <a  href="/accounts/password/change/">Đổi mật khẩu</a>

        </div>

      </div>
    </div>



    <div class="block">
      <div class="spacing">
        <h3>Địa chỉ ship hàng đã tạo</h3>
        {% if addresses.count == 0 %}
          <p>
            Aiya, Bạn chưa tạo địa chỉ ship hàng nào!
          </p>
        {% endif %}
        {% for addr in addresses %}
          <div class="address">
            <table>
              <tr>
                <td><span class="field-label">Họ Tên</span></td>
                <td><span class="hl">{{addr.shipping_fullname}}</span></td>
              </tr>
              <tr>
                <td><span class="field-label">Số Điện Thoại</span></td>
                <td><span class="hl">{{addr.shipping_phone}}</span></td>
              </tr>
              <tr>
                <td><span class="field-label">Địa Chỉ Giao Hàng</span></td>
                <td><span class="hl">{{addr.shipping_address}}</span></td>
              </tr>

            </table>
          </div>
        {% endfor %}
      </div>
    </div>


    <div class="block">
      <div class="spacing">
        <h2>Lịch sử giao dịch</h2>

        {% if addresses.count == 0 %}
          <p>
            ôi ôi, Bạn chưa có giao dịch nào đã thực hiện!
          </p>
        {% endif %}

          <div class="purchase-list">

              {% for order in orders %}
              <div class="item">
                  <div class="time">{{ order.created_at }}</div>
                  <div>
                      <label for="">Mã DH:</label>
                      <span>{{ order.order_number }}</span>
                  </div>
                  <ul>
                    {% for item in order.items.all %}
                      <li>
                        <a href="/product/{{item.product.id}}-{{ item.product.slug }}">{{ item.product.vn_name }}</a>
                      </li>
                    {% endfor %}
                  </ul>

                  <div class="price-tag">
                      <label for="">Giá đơn hàng </label>
                      <span class="price">{{ order.vn_order_amount|intcomma }}</span> VND
                  </div>

                  <div class="centering">
                    <a href="/order/detail/{{ order.uuid }}">
                      <div class="btn btn-o btn-small" >Xem Chi Tiết</div>
                    </a>
                  </div>
              </div>

              {% endfor %}
          </div>


      </div>
    </div>



<!--
    <div class="block">
      <div class="spacing">

      </div>
    </div>
 -->










      <!-- <div class="column">
        <div class="membership">
          <h3 class="heading">Betonavi Membership</h3>
          <h3>Giới thiệu thành viên mới</h3>
          <p class="em">
            Nếu bạn hài lòng với dịch vụ của chúng tôi,
            Bạn có thể giới thiệu và mời bạn bè
            tham gia vào kênh của chúng tôi.
          </p>
          <p>
            Betonavi sẽ dành tặng bạn những phần quà hấp dẫn
            cho mỗi một thành viên mới mà bạn giới thiệu sau khi đăng
            kí tài khoản thành công!
          </p>
          <p>
            Bạn có thể chọn phần thưởng bằng tiền mặt
            trị giá <span class="prize">200,000 VND</span> hoặc những <span class="prize">
              phần quà hấp dẫn </span>
            từ xứ sở mặt trời mọc bên dưới !
          </p>
          <p class="invite-friends">
            <a href="/invitations/send-invite/"> Mời bạn bè tại đây!</a>
          </p>
        </div>
      </div> -->





</div>
{% endblock %}
