{% extends "./base.html" %}


{% block content %}
  <div class="static-page  spacing">

    <div class="wrapper">

      <h1>Tuyển Dụng</h1>
      <hr>

      <a href="/tuyen-dung/cong-tac-vien-dich-san-pham">
        2017/07/15: &nbsp;&nbsp;Tuyển cộng tác viên dịch tiếng Nhật (5 Vị trí)
      </a>


    </div>

    <div class="side">
      <a href="/gioi-thieu" class="active">
        <div class="item">Giới thiệu</div>
      </a>
      <a href="/dieu-khoan-cam-ket">
        <div class="item">Điều khoản - Cam kết</div>
      </a>
      <a href="/chuong-trinh-thanh-vien">
        <div class="item">Chương trình thành viên</div>
      </a>
      <a href="/mua-hang-thanh-toan">
        <div class="item">Mua hàng - thanh toán</div>
      </a>
      <a href="/cau-hoi-thuong-gap">
        <div class="item">Câu hỏi thường gặp</div>
      </a>
      <a href="/lien-he">
        <div class="item">Liên hệ - hỗ trợ</div>
      </a>
    </div>

  </div>




{% endblock %}
