{% extends "./base.html" %}

{% load humanize %}
{% block content %}

  <!-- <h2>Kết quả tìm kiếm: <span>{{ keyword }}</span></h2> -->
  <section class="section spacing">

    <div class="product-list container-fuild">
      <div class="row">
        {% for item in products %}
            <div class="item col-xs-4 .col-sm-3"  itemscope itemtype="http://schema.org/Product">
                <a itemprop="url" href="/product/{{ item.id }}-{{ item.slug }}">
                    <div itemprop="image" class="img-wrapper" style="background-image: url(/media/{{ item.image }})"></div>
                    <img itemprop="image" src="/media/{{ item.image }}" alt="" style="width: 0px; height: 0px;">
                    {% if item.rating > 4%}<div itemprop="ratingValue" class="rating">{{ item.rating }}</div>{% endif %}
                    <div class="desc">
                      <div itemprop="name" class="name line2">{{ item.vn_name }}</div>
                        <div class="price">
                            <span itemprop="price" class="price-number">{{ item.sale_price|intcomma }}</span> VND
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
      </div>
    </div>

  </section>

  <div class="pagination">
    <div class="step-links">
        {% if products.has_previous %}
            <a class="link" href="?page={{ products.previous_page_number }}">&laquo; Trang Trước</a>
        {% endif %}

        <span class="current">
            {{ products.number }} / {{ products.paginator.num_pages }}
        </span>

        {% if products.has_next %}
            <a class="link" href="?page={{ products.next_page_number }}">Trang Tiếp &raquo;</a>
        {% endif %}
    </div>
  </div>


  <div id="requestProductBtn">Yêu Cầu Sản Phẩm</div>
{% endblock %}
