
.item{
  display: inline-block;
  width: 100px;
  height: 100px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid lighten(red, 40%);
  margin: 2px;

  .status{
    opacity: 0.5;
  }

  &:hover{
    border: 1px solid lighten(red, 5%);

    .status{
      opacity: 1;

    }
  }
}
