document, body{
  position: relative;
  padding: 0 !important;
  margin: 0 !important;

  font-size: 13px;
  line-height: 20px;
  // font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;

  font-family: 'Varela Round', sans-serif;

}

.btn {
	background-color:#44c767;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 15px;
	padding:5px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn:hover {
	background-color:#5cbf2a;
}
.btn:active {
	position:relative;
	// top:1px;
}
.btn:disabled {
  background-color:#c0c0c0;
  border: 1px solid #c0c0c0;
	position:relative;
	top:1px;
}

.center{
  text-align: center;
  padding: 20px 0 10px 0;
}


table{
  border-collapse: collapse;
}
a{
  text-decoration: none;
}
.price{
  color: red;
}
.fa-star{
  color: rgb(227, 130, 28);
}

.status{
  display: inline-block;
  padding: 0px 5px;
  border: 1px solid #dbdbdb;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 2px;

  &.status--1{
    background: #c0c0c0;
    color: darken(#c0c0c0, 30%);
    border: 1px solid #c0c0c0;
  }

  &.status-0{
    background: #d8eafc;
    border: 1px solid #d8eafc;
  }

  &.status-1{
    background: #c5ffb9;
    border: 1px solid #c5ffb9;
  }

  &.status-2{
    background: #B381B3;
    border: 1px solid #B381B3;
    color: #fff;
  }

  &.status-3{
    background: #eb6f09;
    border: 1px solid #eb6f09;
    color: #fff;
  }

  &.status-4{
    background: #000;
    border: 1px solid #000;
    color: #fff;
  }

  &.status-5{
    background: #B381B3;
    border: 1px solid #B381B3;
    color: #fff;
  }

  &.status-10{
    background: red;
    border: 1px solid red;
    color: #fff;
  }
}

#notification{
  position: absolute;
  height: 400px;
  width: 300px;
  top: 50px;
  right: 10px;
  // bottom: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  border-left: 1px solid #dbdbdb;
  box-sizing: border-box;
  background: #fff;
  -webkit-box-shadow: -1px 2px 5px 2px rgba(153,151,153,1);
  -moz-box-shadow: -1px 2px 5px 2px rgba(153,151,153,1);
  box-shadow: -1px 2px 5px 2px rgba(153,151,153,1);


  .title{
    position: absolute;
    top: 5px;
    left: 10px;
    color: #c0c0c0;
  }

  ul{

    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    li{
      position: relative;
      font-size: 0.85em;
      line-height: 15px;
      list-style: none;
      margin: 0px;
      padding: 10px;
      margin-top: 1px;
      background: #f8f8f8;
      padding-bottom: 20px;

      &:hover{
        color: #000;
        background: darken(#f8f8f8, 5%);
      }

      .timeago{
        position: absolute;
        bottom: 3px;
        right: 5px;
        color: #c0c0c0;
      }
    }
  }
}

#header{
  position: relative;
  height: 60px;
  //background: #f1f1f1;
  background-image: linear-gradient( 135deg, #FEB692 10%, #f58147 100%);
  // background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
  // background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);

  padding: 20px;

  .logo{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }

  a{
    text-decoration: none;
    // color: #fff;

  }

  .link{
    margin-top: 35px;
    a{
      margin-right: 20px;
      padding: 5px 10px;

      &.active{
        background: #fff;
      }
    }
  }

  .user-tools{
    position: absolute;
    top: 20px;
    right: 20px;

    .bell{
      position: relative;
      margin-right: 20px;
      font-size: 1.4em;
      cursor: pointer;
      // color: rgb(226, 115, 14);

      .dot{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        display: block;
        background: white;
      }
    }
  }
}


$onlineUserWidth: 30px;
$expandSize: 20px;
#onlineStatus{
  position: absolute;
  right: 20px;
  top: 105px;


  .item{
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    width: $onlineUserWidth;
    height: $onlineUserWidth;
    border-radius: $onlineUserWidth;
    background: #42b72a;
    cursor: pointer;
    line-height: $onlineUserWidth;
    text-align: center;
    color: #fff;

    .abbr{
      display: inline;
    }
    .username{
      display: none;
      font-size: 0.8em;

    }

    &:hover{
      width: $onlineUserWidth + $expandSize;
      height: $onlineUserWidth + $expandSize;
      border-radius: $onlineUserWidth + $expandSize;
      line-height: $onlineUserWidth + $expandSize;

      .abbr{
        display: none;
      }
      .username{
        display: inline-block;
        width: $onlineUserWidth + $expandSize;
        overflow: hidden;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }


} //#onlineStatus

.wrapper{
  padding: 20px;
  td, tr{
    margin: 0;
    padding: 0;
  }

  .filter{
    select{
      margin-right: 20px;
    }

  }

  #ticket_list{
    border: none;
    margin-top: 10px;

    a{
      color: #000;
      // font-weight: bold;

      &:hover{
        color: blue;
      }
    }

    thead{
      // background: #c0c0c0;
      font-weight: bold;
    }
    tr{
      &:hover{
        background: #f6f6f6;
      }
    }
    td{
      border-bottom: 1px solid #dbdbdb;
      padding: 5px 10px;

    }

    img{
      height: 40px;
    }
  }
}

.pagination{
  margin: 20px 10px;

  .current{
    padding: 0 30px;
  }
}


#detail_page{
  background: #f0f0f0;


  #similars{
    a{
      color: #333;
    }
    .current{
      margin-right: 30px;

      .name{
        color: #c0c0c0;
      }
    }

    .item{
      position: relative;
      display: inline-block;
      vertical-align: top;

      &:hover{
        .status, .assignee{
          opacity: 1;
        }
      }

      .image{
        background-position: center;
        background-size: contain;
        width: 160px;
        height: 160px;
      }
      .name{
        width: 160px;
        font-size: 0.9em;
        height: 100px;
      }

      .status{
        position: absolute;
        right: 0px;
        top: 10px;
        display: block;
        opacity: 0.7;
      }

      .assignee{
        position: absolute;
        right: 0px;
        top: 40px;
        display: inline-block;
        background: red;
        color: #fff;
        padding: 0 5px;
        opacity: 0.7;
      }
    }


  }

  .messages{
    list-style: none;
    padding: 0;
    margin:0;

    li{
      padding: 0;
      margin:0;
      list-style: none;
      padding: 10px 20px;

      background: rgb(172, 250, 162);
    }
  }
  #control{
    .translator, .reviewer{
      position: relative;
      border: 1px solid #c0c0c0;
      display: inline-block;
      margin-right: 5px;
      background: #f9efc6;
      padding: 20px;
      // min-width: 600px;
      width: 780px;

      select{
        margin-right: 20px;
      }
    }

    .reviewer{
      height: 60px;

      #id_charge_amount{
        width: 60px;
      }

      .estimate{
        position: absolute;
        bottom: 2px;
        right: 150px;

        .price{
          font-size: 1.2em;
        }
      }
      button{
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
  }//#control

  #reference{
    background: #fff;

    position: relative;
    margin-top: 10px;
    width: 800px;
    height: 100px;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;

    label{
      width: 130px;
      display: inline-block;
      // margin-right: 10px;
    }

    #id_reference_url1,
    #id_reference_url2,
    #id_reference_url3{
      width: 260px;
      margin-right: 30px;
    }

    .btn{
      position: absolute;
      bottom: 10px;
      right: 20px;
    }

    .links{
      position: absolute;
      bottom: 10px;
      left: 10px;

      a{
        margin-right: 20px;
      }
    }

  }//reference

  #editor{
    margin-top: 40px;
    display: flex;
    margin-right: 200px;


    label{
      display: block;
      margin-top: 20px;
      // color: red;
    }
    .pv_label{
      margin-top: 20px;
      margin-bottom: 0px;
      color: #c2c2c2;
    }

    #id_vn_name{
      width: 98%;
      font-size: 1.3em;
      border: 1px solid #dbdbdb;
      padding: 5px;

      &:focus{
        border: 1px solid orange;
        outline: none;
      }
    }
    #id_vn_introduction {
      width: 98%;
      height: 120px;
      padding: 5px;

      border: 1px solid #dbdbdb;

      &:focus{
        border: 1px solid orange;
        outline: none;
      }
    }
    #id_vn_description {
      width: 98%;
      height: 300px;
      padding: 5px;
      border: 1px solid #dbdbdb;
      &:focus{
        border: 1px solid orange;
        outline: none;
      }
    }
    #id_vn_usage{
      width: 98%;
      height: 150px;
      padding: 5px;
      border: 1px solid #dbdbdb;
      &:focus{
        border: 1px solid orange;
        outline: none;
      }
    }
    #id_vn_notice{
      width: 98%;
      height: 100px;
      padding: 5px;
      border: 1px solid #dbdbdb;
      &:focus{
        border: 1px solid orange;
        outline: none;
      }
    }

    #pv_vn_name,
    #pv_vn_introduction,
    #pv_vn_description,
    #pv_vn_usage,
    #pv_vn_notice,
    {
      margin-top: 5px;
      padding-top: 0;
    }

    .row{
      flex: 1;
      background: #fff;
      padding: 20px;

      &.edit{
        margin-right: 10px;
      }
      &.preview{

        margin-left: 10px;
      }
    }
  }
} //#detail_page


#comment{

  margin-top: 50px;
  margin-bottom: 100px;

  form{
    position: relative;

    textarea{
      width: 400px;
    }
    .btn{
      position: absolute;
      left: 420px;
    }
  }

  .item{
    border-bottom: 1px solid #dbdbdb;
    margin-top: 10px;
    width: 600px;
    .info{

      .user{
        color: blue;
        font-weight: bold;
      }
      .time{
        font-size: 0.8em;
        color: #c0c0c0;
        margin-left: 10px;
      }
    }
    p{
      margin-top: 0px;
      padding-top: 5px;
    }
  }

} // #comment



#members_page{
  position: relative;

  #add_form{

    border: 1px solid #dbdbdb;
    padding: 10px;
    position: absolute;
    right: 310px;
    top: 50px;
    label{
      display: inline-block;
      width: 100px;
    }

    textarea{
      width: 200px;
      height: 50px;
    }
  }
}// members_page
