$thumbnail-size: 60px;
$margin: 5px;
$product-item-size: 120px;

.wrapper{
  padding: 0px !important;
}

.sp-link{
  color: #333;
}

.filter{
  padding: 10px;
}




.product_list{
  .item{
    padding: 2 * $margin;
    position: relative;
    padding-left: $thumbnail-size + 2 * $margin;
    min-height: $thumbnail-size + $margin;

    border-bottom: 1px solid #f0f0f0;

    .thumbnail{
      position: absolute;
      top: $margin;
      left: $margin;
      display: block;
      width: $thumbnail-size;
      height: $thumbnail-size;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      // background-color: orange;
    }// .thumbnail

    .status{
      display: inline-block !important;
      padding: 0 5px !important;
    } //.status

    .flex {
      display: flex;
      justify-content: space-between;
      .row: {
        flex: 1;
        text-align: left;
      }
    }
  }// .item
}//.product_list


#mobile_detail_page{
  padding: 10px;

  #similars{
    width: 100%;
    overflow: hidden;

    .scroller{
      width: 10000px;
    }

    .item{
      position: relative;
      display: inline-block;
      vertical-align: top;

      .image{
        height: $product-item-size;
        width: $product-item-size;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .name{
        width: $product-item-size;
        font-size: 0.8em;
      }

      .status{
        position: absolute;
        top: 10px;
        right: 0px;
        display: inline-block;
      }

      .assignee{
        position: absolute;
        top: 45px;
        right: 0px;
        display: inline-block;
      }
    }
  }

  #comment{
    textarea{
      width: 300px;
      height: 40px;
    }

    .item{
      width: auto;
    }

    .btn{
      position: relative;
      margin: 0 auto;
      left: auto;
    }
  }

} //mobile_detail_page
