<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Betonavi.com Mail Magazine</title>

  <style type="text/css">
    body, document{
      padding: 0;
      margin: 0;
      font-family: arial,sans-serif;
      background: #f0f0f0;
    }

    #container{
      /*padding-bottom: 80px;*/
      background: #fff;
    }

    a{
      text-decoration: none;
      color: #333;
    }

    h3{
      padding-left: 5px;
      border-bottom: 1px solid #dbdbdb;
    }

    .clear{
      clear: both;
    }

    .logo{
      padding: 5px;
      margin: 0;
      color: #f28d23;
      text-align: center;
    }

    .desc{
      padding: 5px;
      margin: 0;
    }

    .wrapper{
      clear: both;
      box-sizing: border-box;
      padding: 5px;
    }

    .item{
      width: 50%;
      display: inline-block;
      float: left;
      margin-bottom: 30px;
    }

    .thumbnail{
      width: 95%;
      padding-top: 65%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .info{
      height: 60px;
    }

    .line2{
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 2.16667em;
      font-size: 12px;
      text-align: center;
      padding: 3px 5px;
    }

    .price{
      font-size: 15px;
      color: red;
      text-align: center;
      padding: 3px 5px;
    }

    .center{
      text-align: center;
      margin-bottom: 40px;
    }

    .btn{
      min-width: 200px;
      padding: 10px;
      display: inline-block;
      border-radius: 28px;
      color: #ffffff;
      font-size: 16px;
      background: #f35f51;
      padding: 10px 20px;
    }


    #footer{
      text-align: center;
      background: #f0f0f0;
      padding-bottom: 60px;
      padding-top: 10px;

      color: #a19d9d;
    }
    #footer h4{
      color: #f35f51;
    }

  </style>
</head>
<body>

  <div id="container">

      {% load staticfiles %}
      {% load humanize %}

      <h1 class="logo">Betonavi</h1>
      <p class="desc">
        Sản phẩm đang hot tại Nhật Bản,
        Đặt hàng trực tiếp từ Việt Nam!
       </p>

      {% for category in categories.all %}
      <h3>{{ category.name }}</h3>

      <div class="wrapper">
        {% for item in category.mail_magazine_products %}
            <div class="item">
                <a href="{{host}}/product/{{ item.id }}-{{ item.slug }}">
                    <div class="thumbnail" style="background-image: url({{host}}/media/{{ item.image }})" ></div>
                    <div class="info">
                      <div class="name line2">{{ item.vn_name }}</div>
                      <div class="price">
                          <span class="price-number">{{ item.sale_price|intcomma }} VND</span>
                      </div>
                    </div>
                </a>
            </div>
        {% endfor %}

        <div class="clear"></div>
      </div>

      <div class="center">
        <a class="btn" href="{{host}}/category/{{category.slug}}">Xem Chi Tiết</a>
      </div>

      {% endfor %}


      <div id="footer">
        <h4>Betonavi.com</h4>
        <p>Trang thương mại điện tử hàng Nhật. </p>
      </div>
  </div>
</body>

</html>
