<div style=" max-width: 700px; margin: 0 auto;">

  <div class="header" style="background: #ff7c00; border-radius: 10px 10px 0 0; padding: 5px 10px; text-align: center;">
    <img src="https://betonavi.com/static/images/email_logo.png" alt="" height="40" />
  </div>

  <div style="padding: 10px; border: 1px solid #dbdbdb; font-size: 18px; border-radius: 0 0 5px 5px; color: #333;">
    <p>
      Xin chào {{ username }},
    </p>

    <p>
      <br />
      Mã đơn hàng: {{ order_number }}
      <br>
      Bạn nhận được tin nhắn từ nhân viên bán hàng Betonavi:
      <p style="background: #dbdbdb; border-radius: 10px; padding: 10px;">
        {{ message }}
      </p>
      <br>
      Bạn có thể xem <a target="_blank" href="{{ order_detail }}">Chi tiết đơn hàng tại đây</a>.
      <br />
    </p>

    <p>
      Một lần nữa, xin cảm bạn đã sử dụng dịch vụ của Betonavi.

    </p>

    <p>
      Betonavi Team.
    </p>
  </div>


  <p style="color: #c0c0c0;">
    <span style="font-size: 18px;">
        Betonavi - Trang thương mại điện tử hàng Nhật đầu tiên phục vụ người Việt.
    </span>
    <br />
    <br />
    Tại Betonavi bạn có thể mua những sản phẩm Nhật bản nội địa chất lượng cao,
    tin tưởng tuyệt đối, bạn cũng có thể xem giới thiệu sản phẩm, hướng dẫn sử dụng
    cũng như đánh giá sản phẩm từ người tiêu dùng.

  </p>

  <div style="margin-top: 20px;">
    <a target="_blank" href="https://betonavi.com/" style="margin-right: 20px; color: #c0c0c0;text-decoration: none;">Betonavi.com</a>

    <a target="_blank" href="https://betonavi.com/gioi-thieu" style="margin-right: 20px; color: #c0c0c0;text-decoration: none;">Về chúng tôi</a>

    <a target="_blank" href="https://betonavi.com/lien-he" style="margin-right: 40px; color: #c0c0c0;text-decoration: none;">Liên hệ</a>
  </div>

</div>
